{% extends 'help/layout.html.twig' %}

{% block content %}
    <h5 class="card-title">{{ 'enter_your_absences'|trans }}</h5>

    <p class="card-text">
        {{ 'tell_abs_one'|trans }}
        <br>
         {{ 'tell_abs_two'|trans }}
    </p>

    <p>{{ 'legendString'|trans }}</p>

    <ul class="list-unstyled">
        <li><span class="badge badge-success px-3 py-1">&nbsp;</span> {{'presentString'|trans }} (1 click)</li>
        <li><span class="badge badge-secondary px-3 py-1">&nbsp;</span> Absence (2 clicks)</li>
        <li><span class="badge badge-info px-3 py-1">&nbsp;</span> {{ 'halfDayString'|trans }} (3 clicks)</li>
    </ul>
{% endblock %}
