{% block temps_passe_row %}
    <div class="row">
        <div class="col">
            {{ form.vars.data.projet.titre}}
        </div>
        <div class="col">
            {{ form_errors(form.children.pourcentage) }}
            {{ form_widget(form.children.pourcentage) }}
        </div>
        <div class="col">
            %
        </div>
    </div>
{% endblock %}

{% block projet_participant_row %}
    <div class="row mb-3">
        <div class="col-sm text-center text-sm-left">
            {{ form_widget(form.children.user) }}
            {{ form_errors(form.children.user) }}
        </div>
        <div class="col-sm">
            {{ form_errors(form.children.role) }}
            {{ form_widget(form.children.role) }}
        </div>
    </div>
{% endblock %}
