{% extends 'bootstrap_4_layout.html.twig' %}

{% block temps_passe_row %}
    <div class="row mb-2 align-items-center">
        <div class="col text-right lead">
            <label for="{{ form.children.pourcentage.vars.id }}" class="m-0">
                Projet {{ form.vars.data.projet.acronyme }}
            </label>
        </div>
        <div class="col">
            {{ form_errors(form.children.pourcentage) }}
            <div class="input-group input-group-lg">
                {{ form_widget(form.children.pourcentage) }}
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                </div>
            </div>
        </div>
        <div class="col d-none d-sm-block">
        </div>
    </div>
{% endblock %}

{% block projet_participant_row %}
    <div class="row mb-5 mb-md-2 projet-participant-row align-items-center">
        <div class="col-sm-3 text-center text-sm-left">
            {{ form_widget(form.children.societeUser) }}
            {{ form_errors(form.children.societeUser) }}
        </div>
        <div class="col-sm-8">
            {{ form_errors(form.children.role) }}
            {{ form_widget(form.children.role) }}
        </div>
        <div class="col-sm-1 text-center">
            <button
                type="button"
                class="btn btn-outline-danger embed-form-remove"
            ><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
    </div>
{% endblock %}

{% block fichier_projets_row %}
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_help(form) }}

    <table id="files_list_dt" class="table datatable custom-datatable hover" data-column-defs='[{"sortable": false, "targets": [3]}]'>
        <thead>
            <tr>
                <th>Fichier</th>
                <th>Auteur</th>
                <th><span class="d-none d-sm-table-cell">Date</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="fichier-projets-container" data-prototype="{{ form_row(form.vars.prototype)|e }}">
            {{ form_widget(form) }}
        </tbody>
        <tfoot class="fichier-projets-container-tfoot">
            {% if is_granted(constant('App\\ProjetResourceInterface::CREATE'), form.vars.projet) %}
                <tr class="add-file-btn">
                    <td colspan="4">
                        <button class="btn btn-outline-primary" type="button">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Ajouter un fichier
                        </button>
                    </td>
                </tr>
            {% endif %}
        </tfoot>
    </table>
{% endblock %}

{% block fichier_projets_widget %}
    {{- block('form_rows') -}}
{% endblock %}

{% block fichier_projet_row %}
    <tr>
        {% if form.vars.data %}
            <td>
                <i class="fa {{ form.vars.data.fichier|faFileIcon }}" aria-hidden="true"></i>
                <a
                    href="{{ path('app_fo_projet_fichier', {
                        'projetId': form.vars.data.projet.id,
                        'fichierProjetId': form.vars.data.id
                    }) }}" {% if form.vars.data.fichier|isImageFile %} miniature {% else %} title="{{ 'download'|trans }}" {% endif %}>
                    {{ form_row(form.children.fichier) }}
                </a>
            </td>
            <td>{{ form.vars.data.uploadedBy.user.fullname }}</td>
            <td data-sort='{{ form.vars.data.fichier.dateUpload | date('Ymd') }}'>
                <span class="d-none d-sm-table-cell">
                    {{ form.vars.data.fichier.dateUpload|format_date }}
                </span>
            </td>
            <td class="d-flex">
                <a href="{{ path('app_fo_projet_fichier_rename', {
                        'projetId': form.vars.data.projet.id,
                        'fichierProjetId': form.vars.data.id
                    }) }}" 
                    class="btn btn-outline-primary btn-sm mr-2 {% if not is_granted(constant('App\\ProjetResourceInterface::EDIT'), form.vars.data) %}disabled{% endif %}"
                    {% if not is_granted(constant('App\\ProjetResourceInterface::EDIT'), form.vars.data) %}
                        title="Vous ne pouvez pas renommer les fichiers qui ne vous appartiennent pas"
                    {% endif %}
                    >
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a
                    href="{{ path('app_fo_projet_fichier_delete', {'projetId': form.vars.data.projet.id, 'fichierProjetId': form.vars.data.id}) }}"
                    class="btn btn-outline-danger btn-sm link-delete-file {% if not is_granted(constant('App\\ProjetResourceInterface::DELETE'), form.vars.data) %}disabled{% endif %}"
                    {% if not is_granted(constant('App\\ProjetResourceInterface::DELETE'), form.vars.data) %}
                        title="Vous ne pouvez pas supprimer les fichiers qui ne vous appartiennent pas"
                    {% endif %}
                >
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        {% else %}
            <td colspan="3" class="input-group-sm">{{ form_row(form.children.fichier) }}</td>
            <td>
                <button type="button" class="btn btn-sm btn-outline-danger remove-file-btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
    </tr>
{% endif %}
{% endblock %}

{% block fichier_row %}
    {% if form.vars.data %}
        {{ form.vars.data.nomFichier }}
        <div class="d-none">
            {{ form_row(form) }}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block cron_schedule_row %}
    <div class="cron-schedule-input">
        {% if form.dayOfWeek is defined %}
            Le
            {{ form_widget(form.dayOfWeek) }}
        {% endif %}
        {% if form.dayOfMonth is defined %}
            Le
            {{ form_widget(form.dayOfMonth) }}
        {% endif %}
        à
        {{ form_widget(form.hour) }}
        h
        {{ form_widget(form.minute) }}
        min
    </div>
{% endblock %}

{% block cron_job_row %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ form.vars.data.description }}</h5>
            <p>{{ form_help(form) }}</p>
            {{ form_widget(form) }}
            {{ form_errors(form) }}
            <br>
            {% if form.vars.data.id %}
                <small class="card-text"><a href="{{ path('app_fo_admin_notification_rapport', {'id': form.vars.data.id}) }}">Dernières notifications envoyées</a></small>
            {% else %}
                <small class="card-text text-muted">Notification encore jamais programmée</small>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block card_choice_widget %}
    <div class="card-group">
        {% for childForm in form.children %}
            <div class="card rdi-card-choice rdi-card-choice-{{ card_choice_size }}">
                <div class="card-body">
                    {% if faIcons[childForm.vars.value] is defined %}
                        <i class="fa {{ faIcons[childForm.vars.value] }}" aria-hidden="true"></i>
                    {% endif %}

                    {{ form_row(childForm) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block projet_participant_projet_role_row %}
    <div class="d-none">
        {{ form_widget(form.projet) }}
    </div>
    <div class="row mb-2">
        <div class="col-md-3 d-flex align-items-md-center justify-content-md-end">
            <a
                href="{{ path('app_fo_projet', {'id': form.children.projet.vars.data.id}) }}"
                class="lead"
                title="{{ form.children.projet.vars.data.titre }}"
            >{{ form.children.projet.vars.data.acronyme }}</a>
        </div>
        <div class="col-md-9">
            {{ form_widget(form.role) }}
        </div>
        {% if form.projet.vars.errors|length > 0 %}
            <div class="col-md-9 offset-md-3 mb-4">
                {{ form_errors(form.projet) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block projet_url_row %}
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                {{ form_errors(form.url) }}
                {{ form_widget(form.url) }}
                {{ form_help(form.url) }}
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                {{ form_errors(form.text) }}
                {{ form_widget(form.text) }}
                {{ form_help(form.text) }}
            </div>
        </div>
        <div class="col-2">
            <div class="mb-3 text-right">
                <button class="btn btn-outline-danger remove-row-btn"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block markdown_wysiwyg_row %}
    <div
        class="markdown-wysiwyg"
        data-input-id="{{ id }}"
    ></div>

    <div class="markdown-wysiwyg-textarea">
        {{ form_row(form) }}
    </div>
{% endblock %}

{% block societe_users_card_choice_widget %}
    <div class="row">
        {% for childForm in form.children %}
            <div class="col-6 col-lg-4">
                <div class="card rdi-card-choice rdi-card-choice-large mb-4">
                    <div class="card-body">
                        <i class="fa fa-user" aria-hidden="true"></i>

                        {{ form_row(childForm) }}
                    </div>
                </div>
            </div>f
        {% endfor %}
    </div>
{% endblock %}

{% block societe_user_periods_row %}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.dateEntry) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.dateLeave) }}
        </div>
    </div>
{% endblock %}

{% block color_widget %}
    <div class="input-color-container" title="{{ form.vars.attr.title }}">
        <input type="color" id="{{ form.vars.id }}" value="{{ form.vars.value }}" name="{{ form.vars.full_name }}" class="input-color">
    </div>
{% endblock %}

{% block radio_choice_colors_row %}
    {% if form.vars.choices | length > 0 %}
        <div class="radio-choice-colors mr-4">
            {% for colorChoice in form.vars.choices %}
                <div>
                    <input type="radio" id="{{ form.vars.full_name ~ '[' ~ colorChoice.value ~ ']' }}" name="{{ form.vars.name }}" value="{{ colorChoice.value }}" class="radio-choice-color">
                    <label for="{{ form.vars.full_name ~ '[' ~ colorChoice.value ~ ']' }}">
                      <span style="background-color: {{ colorChoice.value }};">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                      </span>
                    </label>
                </div>
            {% endfor %}

        </div>
    {% endif %}
{% endblock %}
