{% block temps_passe_row %}
    <div class="row mb-2 align-items-center">
        <div class="col text-right lead">
            Projet {{ form.vars.data.projet.acronyme}}
        </div>
        <div class="col">
            {{ form_errors(form.children.pourcentage) }}
            <div class="input-group input-group-lg">
                {{ form_widget(form.children.pourcentage) }}
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                </div>
            </div>
        </div>
        <div class="col d-none d-sm-block">
        </div>
    </div>
{% endblock %}

{% block projet_participant_row %}
    <div class="row mb-5 mb-md-2 projet-participant-row">
        <div class="col-sm text-center text-sm-left">
            {{ form_widget(form.children.user) }}
            {{ form_errors(form.children.user) }}
        </div>
        <div class="col-sm">
            {{ form_errors(form.children.role) }}
            {{ form_widget(form.children.role) }}
        </div>
        <div class="col-sm-2 text-center">
            <button
                type="button"
                class="btn btn-outline-danger embed-form-remove"
            >&times;</button>
        </div>
    </div>
{% endblock %}
