{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}
    {{ evenement.createdBy.user.fullname }} a annulé un évènement
    {% if evenement.projet %}
    sur le projet {{ evenement.projet.acronyme }}
    {% endif %}
{% endblock %}

{% block body %}
    <row>
        <columns>
            <p>
                L’évènement <strong>{{ evenement.text }}</strong> a été annulé par <strong>{{ evenement.createdBy.user.fullname }}</strong>
                {% if evenement.projet %}
                    sur le projet <strong>{{ evenement.projet.acronyme }}</strong>
                {% endif %}
            </p>

            <small>
                <a href="{{ url('corp_app_fo_current_user_events') }}">
                    Pour plus de détails, cliquez-ici.
                </a>
            </small>
        </columns>
    </row>
{% endblock %}
