{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}
    {{ evenement.createdBy.user.fullname }} a modifié un événement
    {% if evenement.projet %}
        sur le projet {{ evenement.projet.acronyme }}
    {% endif %}
{% endblock %}
{% block body %}
    <row>
        <columns>
            <p>
                L’évènement <strong>{{ evenement.text }}</strong> a été modifié par <strong>{{ evenement.createdBy.user.fullname }}</strong>
                {% if evenement.projet %}
                    sur le projet <strong>{{ evenement.projet.acronyme }}</strong>
                {% endif %}
            </p>

            <spacer size="8"></spacer>

            <h4 class="text-center">{{ evenement.text }}</h4>

            <p>
                {{ evenement.description|raw }}
            </p>

            {% if evenement.requiredEvenementParticipants | length > 0 %}
                <br>
                <h5>Invités :</h5>
                <ul>
                    {% for evenementParticipant in evenement.requiredEvenementParticipants %}
                        <li>{{ evenementParticipant.societeUser.user.fullname }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if evenement.notRequiredEvenementParticipants | length > 0 %}
                <br>
                <h5>Information / Informés :</h5>
                <ul>
                    {% for evenementParticipant in evenement.notRequiredEvenementParticipants %}
                        <li>{{ evenementParticipant.societeUser.user.fullname }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <spacer size="8"></spacer>

            <small>
                <a href="{{ url('corp_app_fo_current_user_events', {
                    'event' : evenement.id,
                }) }}">
                    Cliquez-ici afin de consulter en détails l'évènement directement sur l'application RDI Manager.
                </a>
            </small>
        </columns>
    </row>
{% endblock %}
