{% extends "base_html.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/utilisateur.css') }}">
{% endblock %}

{% block base_body %}

<section class="container login-container">
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-4 offset-md-0">
            <div class="img-logo">
                <img class="logofooter1" src="{{ asset('img/logosign.png') }}" alt="RDI Manager">
            </div>

            {% include '_flash_messages.html.twig' %}

            <form method="post" class="mb-4">
                <div class="form-group">
                    <label for="input-email">Email / Identifiant</label>
                    <input type="email" name="_username" class="form-control" id="input-email" aria-describedby="emailHelp" placeholder="Votre email">
                </div>
                <div class="form-group">
                    <label for="input-password">Mot de passe</label>
                    <input type="password" name="_password" class="form-control" id="input-password" placeholder="Votre mot de passe">
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="submit" class="btn btn-success" value="Connexion">
            </form>

            <a href="{{ path('app_reset_password_request') }}" class="text-light"><small>Mot de passe oublié</small></a>
        </div>
        <div class="d-none col-8 d-md-block">
            <h1><img src="{{ asset('img/Logo-RDI-blanc.png') }}" alt="RDI Manager" class="rdi-manager-title"></h1>

            <div class="text">
                <p>RDI Manager est une plateforme qui permet de simplifier le suivi des projets de recherche, développement et innovation. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem fugiat numquam ducimus, consectetur sed nobis fugit magnam non quisquam quasi? Cumque amet ducimus sunt veritatis optio architecto odio impedit nihil.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore ad cupiditate, doloremque maxime quas suscipit iure dignissimos, nobis veritatis debitis labore quis, aliquam ex ut harum eveniet quaerat quia at?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident temporibus in reiciendis, magni omnis accusantium aperiam itaque voluptatum quis tempore numquam, optio ducimus harum saepe ipsam nulla repudiandae culpa sequi?</p>
            </div>
        </div>
    </div>
</section>

{% include('_footer.html.twig') %}

{% endblock %}
