{% extends 'lab_app/base.html.twig' %}

{% block title %}Inscription | {{ parent() }}{% endblock %}

{% block body %}

<h1>Finalisation de votre inscription</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <p>
            Vous êtes sur le point de rejoindre le laboratoire <strong>{{ userBookInvite.labo.name }}</strong>
            avec le rôle <strong>{{ userBookInvite.role|trans }}</strong>.
        </p>

        <p>
            Si êtes nouveau sur RDI-Manager ou que vous n'avez pas encore de compte,
            vous pouvez en créer un maintenant.
        </p>

        <a
            href="{{ path('app_signup', {
                '_redirect': path('lab_app_fo_user_invitation_join_labo', {'token': app.request.attributes.get('_route_params').token}),
                'user_email': userBookInvite.invitationEmail,
                'user_telephone': (userBookInvite.invitationTelephone ? (userBookInvite.invitationTelephone|phone_number_rdi) : ''),
            }) }}"
            class="mt-1 btn btn-lg btn-success"
        >Créer mon compte RDI-Manager</a>

        <p class="mt-4">
            Si vous avez déjà un compte, vous pouvez lier votre no à ce compte.
            Vous serez invité à vous connecter si vous ne l'êtes pas déjà.
        </p>

        <a
            href="{{ path('lab_app_fo_user_invitation_join_labo', {'token': app.request.attributes.get('_route_params').token}) }}"
            class="mt-1 btn btn-outline-primary"
        >J'ai déjà un compte RDI-Manager</a>
    </div>
</div>

{% endblock %}
