<div class="d-inline-block">
    <a id="reviewHelpText" href="#" class="text-light text-info mr-2 d-none"></a>
</div>

<ul class="navbar-nav mr-auto">
    <li class="nav-item {{ activeOn('corp_app_fo_multi_societe_switch') }}">
        <a class="nav-link" href="{{ path('corp_app_fo_multi_societe_switch') }}">
            <i class="fa fa-building" aria-hidden="true"></i> {{ 'my_companies'|trans }}
        </a>
    </li>
    <li class="nav-item dropdown {{ activeOn('corp_app_fo_multi_societe_dashboard_general','corp_app_fo_multi_societe_dashboard_consolide','corp_app_fo_multi_societe_dashboard_consolide_ajouter') }}">
        <a
                {% if userProductPrivilegeCheker(constant('App\\SocieteProduct\\Product\\ProductPrivileges::MULTI_SOCIETE_DASHBOARD')) %}
                    class="nav-link dropdown-toggle"
                {% else %}
                    class="nav-link dropdown-toggle disabled"
                    title="{{ 'product_privilege_no_dispo'|trans }}"
                {% endif %}
                href="#" role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
        >
            <i class="fa fa-tachometer" aria-hidden="true"></i> <span class="nav-item-title">{{ 'dashboards'|trans }}</span>
        </a>
        <div class="dropdown-menu">
            <a
                    class="dropdown-item {{ activeOn('corp_app_fo_multi_societe_dashboard_general') }}"
                    href="{{ path('corp_app_fo_multi_societe_dashboard_general') }}">
                <i class="fa fa-bar-chart-o" aria-hidden="true"></i> {{ 'menu.dashboard.general'|trans }}
            </a>
            <a
                    class="dropdown-item {{ activeOn('corp_app_fo_multi_societe_dashboard_consolide') }}"
                    href="{{ path('corp_app_fo_multi_societe_dashboard_consolide') }}">
                <i class="fa fa-line-chart" aria-hidden="true"></i> {{ 'menu.dashboard.consolide'|trans }}
            </a>
            {% for dashboardConsolide in userContext.user.dashboardConsolides %}
                <a
                        class="dropdown-item {{ activeOn('corp_app_fo_multi_societe_dashboard_consolide') }}"
                        href="{{ path('corp_app_fo_multi_societe_dashboard_consolide', {'id' : dashboardConsolide.id}) }}">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i> {{ dashboardConsolide.title }}
                </a>
            {% endfor %}
            <a
                    class="dropdown-item {{ activeOn('corp_app_fo_multi_societe_dashboard_consolide_ajouter') }}"
                    href="{{ path('corp_app_fo_multi_societe_dashboard_consolide_ajouter') }}">
                <i class="fa fa-search-plus" aria-hidden="true"></i> {{ 'menu.dashboard.create_view'|trans }}
            </a>
        </div>
    </li>
    <li class="nav-item {{ activeOn('corp_app_fo_multi_societe_projets', 'corp_app_fo_observateur_externe_view') }}">
        <a class="nav-link" href="{{ path('corp_app_fo_multi_societe_projets') }}">
            <i class="fa fa-list-ul" aria-hidden="true"></i> {{ 'menu.all_projects'|trans }}
        </a>
    </li>
</ul>

{{ include('corp_app/_user_rappels_notifications.html.twig') }}
