 {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.titre) }}

        {{ form_row(form.description)}}
        <small><p class="text-muted">Texte: <span id="count-carac"></span></p></small>
        {{ form_row(form.fichierProjets) }}
        {{ form_row(form.date) }}
        <div class="text-center mt-5">
            <button class="btn btn-success">
                {{ button_label|default('Sauvegarder') }}
            </button>
        </div>

{{ form_end(form) }}