{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_widget(form) }}

<div class="text-center mt-5">
    <button class="btn btn-success">
        {{ button_label|default('Sauvegarder') }}
    </button>
</div>

{{ form_end(form) }}
