 {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.titre) }}
        {{ form_errors(form.description)}}
        {{ form_row(form.description)}}
        <span id="custom_ckeditor_max_char" class="d-none" data-limit="{{ userContext.societeUser.societe.faitMarquantMaxDesc }}" data-limitBlocking="{{ userContext.societeUser.societe.faitMarquantMaxDescIsblocking }}"></span>
        {{ form_row(form.fichierProjets) }}
        {{ form_row(form.date) }}
        <div class="text-center mt-5">
            <button class="btn btn-success">
                {{ button_label|default('Sauvegarder') }}
            </button>
        </div>

{{ form_end(form) }}