{{ form_start(form) }}

<div class="row">
    {{ form_errors(form) }}
    <div class="col-lg-9 col-md-12">
        {{ form_row(form.titre) }}
    </div>
    <div class="col-lg-3 col-md-12">
        {{ form_row(form.date) }}
    </div>
    <div class="col-md-12">
        {{ form_errors(form.description) }}
        {{ form_row(form.description) }}
        <span id="custom_ckeditor_max_char" class="d-none"
              data-limit="{{ userContext.societeUser.societe.faitMarquantMaxDesc }}"
              data-limitBlocking="{{ userContext.societeUser.societe.faitMarquantMaxDescIsblocking }}"></span>

    </div>
    <div class="col-md-12">
        {{ form_row(form.sendedToEmails) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.fichierProjets) }}
    </div>
    <div class="col-md-12 text-center mt-5">
        <button class="btn btn-success">
            {{ button_label|default('Sauvegarder') }}
        </button>
    </div>
</div>

{{ form_end(form) }}