{% extends 'bo/base.html.twig' %}

{% block title %}{{ 'patchnote'| trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'patchnote' | trans }} <strong class="{{ rdi_app ~ '_text' }}">{{ (rdi_app ~ '_name') |trans }}</strong></h1>

    <a class="d-block mb-4" href="{{ path('corp_app_bo_patchnote_list') }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        {{ 'back'|trans }}
    </a>

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-4 col-sm-12">
                    {{ form_row(form.version) }}
                </div>
                <div class="col-md-4 col-sm-12">
                    {{ form_row(form.date) }}
                </div>
                <div class="col-md-4 col-sm-12 d-flex flex-column justify-content-center align-items-center">
                    {{ form_row(form.isDraft) }}
                </div>
            </div>

            {{ form_row(form.notes) }}
            <div class="d-flex justify-content-center w-100">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
