{% extends 'base.html.twig' %}

{% block title %}{{ "last-notif-send"|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ "last-notif-send"|trans }}</h1>

    <a class="d-block mb-4" href="{{ path('app_fo_admin_notification') }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        {{ "goBack-params-notif"|trans }}
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>{{ "timeString"|trans }}</th>
                <th>{{ "resultString"|trans }}Résultat</th>
            </tr>
        </thead>
        <tbody>
            {% for report in cronReports %}
                <tr>
                    <td>{{ report.runAt|format_datetime }}</td>
                    <td>{{ report.runTime|round(3) }}ms</td>
                    <td class="text-monospace {{ report.exitCode ? 'text-danger' : 'text-success' }}">{{ report.output|trim }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center"><i>{{ "no-notif-send"|trans }}Aucune notification n'a encore été envoyée.</i></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
