<div class="calmonth-row">
    <p>{{ '2020-11-09'|format_date(pattern='ccc') }}</p>
    <p>{{ '2020-11-10'|format_date(pattern='ccc') }}</p>
    <p>{{ '2020-11-11'|format_date(pattern='ccc') }}</p>
    <p>{{ '2020-11-12'|format_date(pattern='ccc') }}</p>
    <p>{{ '2020-11-13'|format_date(pattern='ccc') }}</p>
    <p>{{ '2020-11-14'|format_date(pattern='ccc') }}</p>
    <p>{{ '2020-11-15'|format_date(pattern='ccc') }}</p>
</div>
<div class="calmonth-row">
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
</div>
<div class="calmonth-row">
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
</div>
<div class="calmonth-row">
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
</div>
<div class="calmonth-row">
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
</div>
<div class="calmonth-row">
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
</div>
