{% extends 'base.html.twig' %}

{% block title %}Mes absences{% endblock %}

{% block body %}

<h1>Indiquez vos jours d'absence</h1>

<h2>
    <a href="{{ path('absences_', {'year': prev|date('Y'), 'month': prev|date('m')}) }}">
        <i class="fa fa-angle-left" style="font-size: 1.3em;"></i>
    </a>
    <span class="mx-3">
        {{ date|format_date(pattern='MMMM Y')|capitalize }}
    </span>
    <a href="{{ path('absences_', {'year': next|date('Y'), 'month': next|date('m')}) }}">
        <i class="fa fa-angle-right" style="font-size: 1.3em;"></i>
    </a>
</h2>

{#
    Calendrier affiché temporairement en attendant le chargement des données
#}
<div class="calmonth">
    {% include 'temps/_calendrier_vide.html.twig' %}
</div>

<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-lg btn-success btn-validate-cra my-3">Enregistrer</button>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/Cra.js') }}"></script>
    <script src="{{ asset('js/absences.js') }}"></script>

    <script type="text/javascript">
        const date = {{ {'year': year, 'month': month}|json_encode|raw }};
        initAbsences(date);
    </script>
{% endblock %}
