{% extends 'base.html.twig' %}

{% block title %}Saisie de temps passé{% endblock %}

{% block body %}

<h1>Saisie de temps passé</h1>

{{ helpText('saisieTempsPasse') }}

<App>
    <saisie-des-temps
        monthly-or-weekly="{{ userContext.societeUser.societe.timesheetGranularity|default(constant('App\\Entity\\Societe::GRANULARITY_MONTHLY')) }}"
        url-to-absences="{{ path('app_fo_absences', {'year': '1111', 'month': '22'}) }}"
    ></saisie-des-temps>
</App>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vueapp') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vueapp') }}
{% endblock %}
