{% extends 'base.html.twig' %}

{% block title %}Saisie de temps passé{% endblock %}

{% block body %}

<h1>Saisie de temps passé</h1>

<h2 class="mb-4 align-items-center">
    <a href="{{ path('app_fo_temps', {'year': prev|date('Y'), 'month': prev|date('m')}) }}">
        <i class="fa fa-angle-left fa-lg"></i>
    </a>
    <span class="mx-3 text-month">
        {{ mois|format_date(pattern='MMMM yyyy')|capitalize }}
    </span>
    {% if next > date() %}
        <span class="text-muted" title="Impossible de saisir les temps passés dans le futur.">
            <i class="fa fa-angle-right fa-lg"></i>
        </span>
    {% else %}
        <a href="{{ path('app_fo_temps', {'year': next|date('Y'), 'month': next|date('m')}) }}">
            <i class="fa fa-angle-right fa-lg"></i>
        </a>
    {% endif %}
</h2>

{% if cra.hasTempsPasses %}
    {% include 'temps/_info-validation.html.twig' with {
        'submitted': cra.isTempsPassesSubmitted,
        'modifiedAt': cra.tempsPassesModifiedAt
    } %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.tempsPasses) }}

        <div class="text-center">
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}
{% else %}
    <p class="lead text-center">Ce mois-ci, vous n'avez pas de temps à saisir car vous n'étiez contributeur sur aucun projet.</p>
{% endif %}

{% endblock %}
