{% extends 'base.html.twig' %}

{% block title %}Saisie de temps passé{% endblock %}

{% block body %}

<h1>Saisie de temps passé</h1>

<h2 class="mb-4 align-items-center">
    <a href="{{ path('temps_', {'year': prev|date('Y'), 'month': prev|date('m')}) }}">
        <i class="fa fa-angle-left fa-lg"></i>
    </a>
    <span class="mx-3">
        {{ mois|format_date(pattern='MMMM Y')|capitalize }}
    </span>
    {% if next > date() %}
        <span class="text-muted" title="Impossible de saisir les temps passés dans le futur.">
            <i class="fa fa-angle-right fa-lg"></i>
        </span>
    {% else %}
        <a href="{{ path('temps_', {'year': next|date('Y'), 'month': next|date('m')}) }}">
            <i class="fa fa-angle-right fa-lg"></i>
        </a>
    {% endif %}
</h2>

{% if hasTempsPasses %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.tempsPasses) }}

        <div class="text-center">
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}
{% else %}
    <h4 class="text-center">Vous n'êtes contributeur sur aucun projet, vous n'avez pas de temps à saisir</h4>
{% endif %}

{% endblock %}
