{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ 'modifier_FM'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1>{{ 'modifier_FM'|trans }}</h1>

        <div class="row">
            <div class="col-sm-8">
                <a class="d-block mb-4" href="{{ path('corp_app_fo_projet', {id: faitMarquant.projet.id}) }}">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    {{ 'go_back_go_project'|trans }}
                </a>
            </div>
            <div class="col-sm-4 text-right">
                {{ include('corp_app/fait_marquant/_delete_form.html.twig') }}
            </div>
        </div>

       {{ include('corp_app/fait_marquant/_form.html.twig') }}
    </div>
</div>

{% endblock %}
