<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ path('app_bo_home') }}">
        <img src="{{ asset('build/assets/img/Logo-RDI-blanc.png') }}" alt="RDI manager logo">
        <span class="bo-title">Back office</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ activeOn('app_bo_societes', 'app_bo_societe', 'app_bo_societes_creer') }}">
                <a class="nav-link" href="{{ path('app_bo_societes') }}">Sociétés</a>
            </li>
            <li class="nav-item {{ activeOn('app_bo_dashboard') }}">
                <a class="nav-link" href="{{ path('app_bo_dashboard') }}">Statistiques</a>
            </li>
        </ul>

        <div class="btn-group user-menu">
            <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Back office | {{ app.user.prenom }}
                <i class="fa fa-lg fa-user-circle-o" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu">
                {% if is_granted('ROLE_FO_USER') %}
                    <a
                        class="dropdown-item"
                        href="{{ path('app_home') }}"
                    >
                        <i class="fa fa-rocket" aria-hidden="true"></i>Front Office
                    </a>
                    <div class="dropdown-divider"></div>
                {% endif %}
                <a
                    class="dropdown-item"
                    href="{{ path('app_logout') }}"
                >
                    <i class="fa fa-sign-out" aria-hidden="true"></i>Déconnexion
                </a>
            </div>
        </div>
    </div>
</nav>
