{% extends 'base.html.twig' %}

{% block title %}Mon compte | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    <div class="row">
        <div class="col-sm-10 mx-auto offset-sm-1 col-lg-8 offset-lg-2">
            <div class="card bg-light-grey border-light">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-3"><strong>Nom : </strong></div>
                        <div class="col-md-9">{{ app.user.nom }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3"><strong>Prénom : </strong></div>
                        <div class="col-md-9">{{ app.user.prenom }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3"><strong>Rôle : </strong></div>
                        <div class="col-md-9">{{ app.user.role|trans }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3"><strong>E-mail : </strong></div>
                        <div class="col-md-9">{{ app.user.email }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3"><strong>Téléphone : </strong></div>
                        <div class="col-md-9">
                            {% if app.user.telephone %}
                                {{ app.user.telephone|phone_number_format('NATIONAL') }}
                            {% else %}
                                <i>Non renseigné</i>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mt-5">
                        <a
                            href="{{ path('app_fo_mon_compte_modifier') }}"
                            class="btn btn-outline-success mt-2"
                        >Mettre à jour</a>
                        <a
                            href="{{ path('app_fo_mon_compte_activite') }}"
                            class="btn btn-outline-primary mt-2"
                        >Mon activité</a>
                        <a
                            href="{{ path('app_fo_mon_compte_update_password') }}"
                            class="btn btn-outline-warning mt-2"
                        >Modifier votre mot de passe</a>
                    </div>
                </div>
            </div>

            <h2>Mes notifications</h2>

            <div class="card bg-light-grey border-light">
                <div class="card-body">
                    {{ form_start(notificationForm) }}
                    {{ form_errors(notificationForm) }}

                    {{ form_row(notificationForm.notificationEnabled) }}

                    <div class="notifications-group">
                        <hr />
                        {{ form_rest(notificationForm) }}
                    </div>

                     <button type="submit" class="btn btn-primary btn-validate-cra my-3">Enregistrer</button>

                    {{ form_end(notificationForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
