{% extends 'base.html.twig' %}

{% block title %}Mon compte | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    <div class="container compte">
        {# <div class="col-md-8 offset-md-2 mb-5">
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary"><strong>Nom</strong> : {{ app.user.nom }}</li>
                <li class="list-group-item list-group-item-secondary"><strong>Prénom</strong> : {{ app.user.prenom }}</li>
                <li class="list-group-item list-group-item-secondary"><strong>Rôle</strong> : {{ app.user.role|trans }}</li>
                <li class="list-group-item list-group-item-secondary"><strong>E-mail</strong> : {{ app.user.email }}</li>
                <li class="list-group-item list-group-item-secondary"><strong>Téléphone</strong> : {{ app.user.telephone }}</li>
            </ul> #}
        <div class="row">
            <div class="col-md-2 bordure"><strong>Nom : </strong></div>
            <div class="col-md-10 bordure"> {{ app.user.nom }}</div>
        </div></br>
        <div class="row">
            <div class="col-md-2 bordure"><strong>Prénom : </strong></div>
            <div class="col-md-10 bordure"> {{ app.user.prenom }}</div>        
        </div></br>
        <div class="row">
            <div class="col-md-2 bordure"><strong>Rôle : </strong></div>
            <div class="col-md-10 bordure"> {{ app.user.role|trans }}</div>
        </div></br>
        <div class="row">
            <div class="col-md-2 bordure"><strong>E-mail : </strong></div>
            <div class="col-md-10 bordure"> {{ app.user.email }}</div>        
        </div></br>
        <div class="row">
            <div class="col-md-3 bordure"><strong>Téléphone : </strong></div>
            <div class="col-md-9 bordure"> {{ app.user.telephone }}</div>        
        </div></br>

        <div class="d-flex flex-column flex-md-row justify-content-md-between mt-5">
            <a href="#" class="btn btn-success mt-2">Mettre à jour</a>
            <a href="#" class="btn btn-warning mt-2">Modifier votre mot de passe</a>
        </div>
        {# </div> #}
    </div>
        {# </div> #}
{% endblock %}
