{% extends 'base.html.twig' %}

{% block title %}Mon compte | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <ul class="list-group">
                <li class="list-group-item"><strong>Nom</strong> : {{ app.user.nom }}</li>
                <li class="list-group-item"><strong>Prénom</strong> : {{ app.user.prenom }}</li>
                <li class="list-group-item"><strong>Rôle</strong> : {{ app.user.role|trans }}</li>
                <li class="list-group-item"><strong>E-mail / Identifiant</strong> : {{ app.user.email }}</li>
                <li class="list-group-item"><strong>Téléphone</strong> : {{ app.user.telephone }}</li>
            </ul>

            <div class="d-flex flex-column flex-md-row justify-content-md-between">
                <a href="#" class="btn btn-success mt-2">Mettre à jour</a>
                <a href="#" class="btn btn-warning mt-2">Modifier votre mot de passe</a>
            </div>
        </div>
    </div>
{% endblock %}
