<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Projet {{ projet.acronyme }} | RDI-Manager</title>

    {% for file in encore_entry_css_files('base') %}
        <link href="{{ absolute_url(asset(file)) }}" rel="stylesheet" />
    {% endfor %}
    {% for file in encore_entry_css_files('app') %}
        <link href="{{ absolute_url(asset(file)) }}" rel="stylesheet" />
    {% endfor %}
</head>
<body>
    <h1>Projet {{ projet.acronyme }}</h1>

    <p class="text-center">
        {% if projet.projetCollaboratif %}
            <span class="badge badge-success">Collaboratif</span>
        {% endif %}
        {% if projet.projetInterne %}
            <span class="badge badge-success">Interne</span>
        {% endif %}
        {% if projet.projetPpp %}
            <span class="badge badge-success">PPP - R&amp;D</span>
        {% endif %}
    </p>

    <div class="card bg-light-grey border-light">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-2"><strong>Titre : </strong></div>
                <div class="col-md-10">{{ projet.titre }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2"><strong>Résumé : </strong></div>
                <div class="col-md-10 text-justify">{{ projet.resume|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-3">
                        <div class="col-md-4"><strong>Chef de projet : </strong></div>
                        <div class="col-md-6">{{ projet.chefDeProjet.fullname }}</div>
                    </div>
                    {% if projet.dateDebut %}
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Date de début : </strong></div>
                            <div class="col-md-6">{{ projet.dateDebut|format_date }}</div>
                        </div>
                    {% endif %}
                    {% if projet.dateFin %}
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Date de fin : </strong></div>
                            <div class="col-md-6">{{ projet.dateFin|format_date }}</div>
                        </div>
                    {% endif %}
                    <div class="row mb-3">
                        <div class="col-md-4"><strong>Statut : </strong></div>
                        <div class="col-md-6">{{ projet.statut }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="timeline">
        <h2 class="facts">Faits marquants</h2>

        {% if projet.hasFaitMarquants() %}
        <ul class="timeline">
            {% for faitMarquant in projet.faitMarquants %}
                {% if customTime.dateDebut == null or faitMarquant.date >= customTime.dateDebut and faitMarquant.date <= customTime.dateFin or customTime.dateFin is null  %}
                    <li class="event">
                        <h4 data-date="{{ faitMarquant.date|format_date }}">
                            {{ faitMarquant.date|format_date }}
                            -
                            <span>{{ faitMarquant.createdBy.fullname }}</span>
                        </h4>
                        <h3>{{ faitMarquant.titre }}</h3>
                        <p class="text-justify">
                            {{ faitMarquant.description|nl2br }}
                        </p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
            <p>Ce projet n'a pas encore de fait marquants.</p>
        {% endif %}
    </section>

</body>
</html>
