{% extends 'bo_base.html.twig' %}

{% block title %}BACK OFFICE - Gestion des sociétés{% endblock %}

{% block body %}
<style>
    .img_logo {position: absolute; left: 4%; top: 8%; }
    .img_logo img {height: 50px; }
    .container {margin-top: 40px; }
    .table thead th {background-color: #ce352c; color: white; }
    tr, td {background-color: #e6e6e6; }
    .edit-delete1 {position: absolute; top: 42%; left: 83%; }
    .edit-delete2 {position: absolute; top: 38%; left: 83%; }
    .new_user {text-align: center; }
    .edit-delete1, .edit-delete2 {display: flex; }
    .btn-success {color: white; background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); border: none; }
</style>


<div class="container">
    <h1 class="text-center m-4" style="color: #ce352c;">Liste des sociétés</h1>
    <table class="table text-center mx-auto m-5"  style="max-width: 80%;">
        <thead>
            <tr class="table table-secondary">
                <th scope="col" class="text-center">N°</th>
                <th scope="col" class="text-center">Société</th>
                <th scope="col" class="text-center">Nb de licences</th>
                <th scope="col" class="text-center">Nb de licences utilisées</th>
                <th scope="col" class="text-center">Statut</th>
                <th scope="col" class="text-center">Date - Heure</th>
                <th scope="col" class="text-center">Gestionnaire</th>
            </tr>
        </thead>
        {% for societe in liste_societes %}
            <tbody>
                <tr>
                    <td class="text-center">{{ societe.id }}</td>     
                    <td class="text-center">{{ societe.raisonSociale }}</td>      
                    <td class="text-center">{{ societe.nbLicences }}</td>
                    <td class="text-center">{{ societe.nbLicencesDispo }}</td>  
                    <td class="text-center">{{ societe.statut.libelle }}</td>
                    {# <td class="text-center">{{ societe.dateDebut|date('d/m/Y') }}</td>   #}
                    {# <td class="text-center">{{ societe.user }}</td> #}
                    <td style="background: white; border: white;">
                        <a href="{{ path('compte_', { id: societe.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td> 
                    <td style="background: white; border: white;">
                        <a href="">
                            <i class="fa fa-trash"></i>
                        </a>                   
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}