{% extends 'base.html.twig' %}

{% block title %}Gestion des sociétés | {{ parent() }}{% endblock %}

{% block body %}

    <h1>Liste des sociétés</h1>

    <table class="table text-center mx-auto m-5"  style="max-width: 80%;">
        <thead>
            <tr class="table table-secondary">
                <th scope="col" class="text-center">N°</th>
                <th scope="col" class="text-center">Société</th>
                <th scope="col" class="text-center">Nb de licences</th>
                <th scope="col" class="text-center">Nb de licences utilisées</th>
                <th scope="col" class="text-center">Statut</th>
                {# <th scope="col" class="text-center">Date - Heure</th>
                <th scope="col" class="text-center">Gestionnaire</th> #}
            </tr>
        </thead>
        <tbody>
            {% for societe in liste_societes %}
                <tr>
                    <td class="text-center">{{ societe.id }}</td>     
                    <td class="text-center">{{ societe.raisonSociale }}</td>      
                    <td class="text-center">{{ societe.nbLicences }}</td>
                    <td class="text-center">{{ societe.nbLicencesDispo }}</td>  
                    <td class="text-center">{{ societe.statut.libelle }}</td>
                    {# <td class="text-center">{{ societe.date }}</td> #}
                    {# <td class="text-center">{{ societe.users }}</td>   #}
                    <td style="background: white; border: white;">
                        <a href="{{ path('societes_modifier_', { id: societe.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td style="background: white; border: white;">
                        <a href="{{ path('societes_supprimer_', { id: societe.id }) }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}