{% extends 'base.html.twig' %}

{% block title %}BACK OFFICE - Ajouter une société{% endblock %}

{% block body %}

<h1>Ajouter une société</h1>

<div class="col-sm-6 mx-auto">
    {{ form_start(form) }}
        {{ form_row(form.raisonSociale) }}
    	{{ form_row(form.siret) }}
    	{# {{ form_row(form.email) }} #}
    	{# {{ form_row(form.mobile) }} #}
    	{{ form_row(form.statut) }}
    	{{ form_row(form.nb_licences) }}
    	{{ form_row(form.nb_licences_dispo) }}
        <div class="form-group row">
    	    <div class="form-group mt-5">
    	        <a href="{{ path('societes_') }}" class="btn btn-danger">Annuler</a>
    	    </div>
    	    {{ form_row(form.ajouter, { 'label' : bouton }) }}
    	</div>
    {{ form_end(form) }}
</div>

{% endblock %}
