{% extends "corp_app/base.html.twig" %}

{% block title %}Projet {{ projet.societe.raisonSociale }} / {{ projet.acronyme }} | {{ parent() }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12 col-lg-8">
        <h1>
            {% include 'utils/_code_color.html.twig' with {color: projet.colorCode} %}
            {{ "projectString"|trans }} {{ projet.acronyme }}
        </h1>

        <p class="lead text-center">{{ projet.titre }}</p>

        <p class="text-center">
            {{ 'PROJET_CDP'|trans }} :
            {% include 'utils/_avatar.html.twig' with {user: projet.chefDeProjet.user, size: 28, toExpend: true} %}
            {{ projet.chefDeProjet|entityLink }}
        </p>

        <p class="text-center">
            {% if projet.projetCollaboratif %}
                <span class="badge badge-success">{{ "collaboratif"|trans }}</span>
            {% endif %}
            {% if projet.projetInterne %}
                <span class="badge badge-success">{{ "interne"|trans }}</span>
            {% endif %}
            {% if projet.projetPpp %}
                <span class="badge badge-success">PPP - R&amp;D</span>
            {% endif %}
            {% if projet.isRdi %}
                <span class="badge badge-success">Elligible RDI</span>
            {% endif %}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8">
        {% include 'corp_app/projets/mon_equipe/fiche_projet-main.html.twig' %}
    </div>
    <aside class="col-12 col-lg-4">
        {% include 'corp_app/projets/mon_equipe/fiche_projet-sidebar.html.twig' %}
    </aside>
</div>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fiche-projet') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('fiche-projet') }}
{% endblock %}
