{% extends 'corp_app/base.html.twig' %}

{% block body %}

    {% include('utils/_btn_html_to_pdf.html.twig') %}

    <div id="containerHtmlToPdf">

        <h1>{{ 'my_dashboard'|trans }}</h1>

        <h2 class="not-printable">{{ 'dashboard.today'|trans }}</h2>

        <div class="row not-printable">
            <div class="col-lg-12">
                <div id="mes-temps-rappel" data-url-temps-passes="{{ path('corp_app_fo_temps') }}"></div>
            </div>
            <div class="col-lg-12">
                <div id="recents-projets" class="carousel-wrapper" data-url-projet="{{ path('corp_app_fo_projet', {'id': 0}) }}">
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-md-10 mx-auto bordure">
                <h2>{{ 'projects_analyse_of_year'|trans }}
                    <span
                            class="year-switch"
                            data-event-name="loadYearlyCharts"
                    ></span>
                </h2>
            </div>
        </div>

        <div class="row d-flex flex-row justify-content-around align-items-start">
            <div class="col-xl-5 col-lg-12 mt-3">
                <h5 class="text-center d-block">{{ 'hours_by_project'|trans }}</h5>
                <div id="heures-par-projet"></div>
            </div>
            <div class="col-xl-3 col-lg-6 mt-3">
                <h5 class="text-center d-block">{{ 'my_contributions'|trans }}</h5>
                <div id="my_contributions">
                    <div class="outer">
                        <div class="card">
                            <div class="content">
                                <div class="label">
                                    <a href="#">{{ 'my_contributions.projects'|trans }}</a>
                                </div>
                                <div class="details">
                                    <div>
                                        <span>{{ 'my_contributions.me'|trans }}</span>
                                        <strong class="moi-vs-equipe moi projet">…</strong>
                                    </div>
                                    <div>
                                        <span>{{ 'my_contributions.team'|trans }}</span>
                                        <strong class="moi-vs-equipe equipe projet">…</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="label">
                                    <a href="#">{{ 'my_contributions.rdi_projects'|trans }}</a>
                                </div>
                                <div class="details">
                                    <div>
                                        <span>{{ 'my_contributions.me'|trans }}</span>
                                        <strong class="moi-vs-equipe moi projet-rdi">…</strong>
                                    </div>
                                    <div>
                                        <span>{{ 'my_contributions.team'|trans }}</span>
                                        <strong class="moi-vs-equipe equipe projet-rdi">…</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="label">
                                    <a href="#">{{ 'my_contributions.total'|trans }}</a>
                                </div>
                                <div class="details">
                                    <div>
                                        <span>{{ 'my_contributions.me'|trans }}</span>
                                        <strong class="moi-vs-equipe moi temps-total">…</strong>
                                    </div>
                                    <div>
                                        <span>{{ 'my_contributions.team'|trans }}</span>
                                        <strong class="moi-vs-equipe equipe temps-total">…</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if productPrivilegeCheker(constant('App\\SocieteProduct\\Product\\ProductPrivileges::PLANIFICATION_PROJET_AVANCE')) %}
                <div id="projets-efficacite-moyenne" class="col-xl-4 col-lg-6 mt-3">
                    <h5 class="text-center d-block">{{ 'efficiency'|trans }}</h5>
                    <canvas id="efficacite-moyenne" class="canvas pl-lg-3 pm-lg-5 pt-lg-3 pt-lg-3"></canvas>
                </div>
            {% endif %}
        </div>
        <div class="newPage"></div>
        <div class="row my-4">
            <div class="col-md-10 mx-auto bordure">
                <h2>{{ 'project_analyse_from'|trans }}
                    <span
                            class="year-switch"
                            data-event-name="loadSinceYearCharts"
                            data-year-selected="{{ '-2 years'|date('Y') }}"
                    ></span>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <h5 class="text-center d-block">{{ 'projects_realisations'|trans }}</h5>

                <div id="projets-statuts">
                </div>
            </div>
            <div class="col-md-7">
                <h5 class="text-center d-block">{{ 'realized_projects_type'|trans }}</h5>

                <div id="projets-rdi-vs-non-rdi">
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

