{% extends 'base.html.twig' %}

{% block title %}Générer une feuille de temps | {{ parent() }}{% endblock %}

{% block body %}

<h1>Générer une feuille de temps</h1>

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        {{ helpText('generateTimesheet') }}

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.from) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.to) }}
            </div>
        </div>


        <div>
            <input type="checkbox" name="select-all" id="select-all" />
            <label>Tout sélectionner / déselectionner<label>

        </div>

        {{ form_row(form.users) }}

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        {{ form_widget(form.submit, {'label': 'Exporter au format'}) }}
                    </div>
                    {{ form_widget(form.format, {'attr': {'class': 'custom-select'}}) }}
                </div>
            </div>
        </div>

        {{ form_end(form) }}

    </div>
</div>

{% endblock %}
