{% extends 'base.html.twig' %}

{% block title %}Générer une feuille de temps | {{ parent() }}{% endblock %}

{% block body %}

<h1>Générer une feuille de temps</h1>


<div class="col-lg-6 mx-auto">
    
    {{ form_start(form) }}

        <div class="mt-2 d-flex justify-content-between">
            {{ form_row(form.users) }}
        </div>

        <div class="d-flex justify-content-between">
            {{ form_row(form.from) }}
            {{ form_row(form.to) }}
        </div>

        {{ form_row(form.format) }}

        <div class="text-center">
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}

</div>

{% endblock %}
