{% extends 'base.html.twig' %}

{% block title %}Inviter sur {{ projet.acronyme }} | {{ parent() }}{% endblock %}

{% block body %}

<h1>Inviter sur {{ projet.acronyme }}</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <p>
            Vous pouvez inviter sur ce projet
            un utilisateur pas encore inscrit dans votre société
            à partir de son email.
        </p>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.role) }}

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
