{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<style>
    /* .changer_mdp ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content ui-accordion-content-active {background: border-box border-box; border-radius: 1%; } */
    body  {overflow-x: hidden; }
    .container {min-height: 86vh; }
    form {position: relative; left: 16%; color: black; }
    .text-center {justify-content: space-between; }
    .btn-success1 {color: white; background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); border: none; }
    .col-sm-8 {max-width: 51.666667%; }
    .change_mdp {position: relative; right: 28%; }
    .button {display: flex;  justify-content: space-between; position: relative; left: 12%; }
    .update {position: relative; left: 4%; }
    .close {position: absolute; top: 5%; right: 3%; font-size: xx-large; }
    .valid {text-align: center; margin-top: 20px; }
    {# .overlay {position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.7); transition: opacity 500ms; visibility: hidden; opacity: 0; }
    .overlay:target {visibility: visible; opacity: 1; }
    #popup2 {position: fixed; z-index: 5; }
    #popup1 {position: fixed; z-index: 5; }
    .popup {margin: 70px auto; padding: 20px; background: #fff; border-radius: 5px; width: 50%; position: relative; transition: all 5s ease-in-out; top: 19%; } #}

    .cd-popup-container .cd-buttons li:first-child a {background: #ce352c; }
    .cd-popup-container .cd-buttons li:last-child a {background: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); }
</style>

    <h1 class="text-center m-4"  style="color: #ce352c;">Mon compte</h1>

    <ul class="list-group col-lg-10 mt-5 mx-auto">
        <li class="list-group-item"><strong>Nom :</strong> {{ app.user.nom }} </li>
        <li class="list-group-item"><strong>Prénom :</strong> {{ app.user.prenom }} </li>
        <li class="list-group-item"><strong>Téléphone :</strong> {{ app.user.telephone }} </li>
        <li class="list-group-item"><strong>E-mail :</strong> {{ app.user.email }} </li>
        <li class="list-group-item"><strong>Identifiant de connexion :</strong> {{ app.user.username }}</li>
        <li class="list-group-item"><strong>Rôles :</strong> 
            <ul class="list-group">
                {% for role in app.user.roles %}
                    {% if role == "ROLE_USER" %}
                        <li class="list-group-item">Membre</li>
                    {% elseif role == "ROLE_ADMIN"  %}
                        <li class="list-group-item">Administrateur</li>
                    {% else %}
                        <li class="list-group-item">{{ role }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>

    <div class="button mt-5 mb-4">
        <!-- <input type="submit" class="btn btn-secondary" value="Annuler"> -->
        <div class="update">
            <a href="#0" class="cd-popup-trigger"> <input type="update" class="btn btn-success" value="Mettre à jour"> </a>
        </div>
        <div class="change_mdp">
            <a href="" class="cd-popup-trigger1"><input type="button" class="btn btn-warning" value="Modifier votre mot de passe"> </a>
        </div>
    </div>

    {# <div class="container">

        <h1 class="text-center m-4"  style="color: #ce352c;">Mon compte</h1>

    <!-- <h4 class="mb-4">Activer votre compte RDI Manager</h4> -->

        <form action="" method="post" style="max-width: 82%;">
            <div class="form-group row">
                <label for="nom" class="col-md-2 col-form-label">Nom</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="nom" placeholder="DOE" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="prenom" class="col-md-2 col-form-label">Prénom</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="prenom" placeholder="John"  disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="mobile" class="col-md-2 col-form-label">Mobile</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="mobile"placeholder="09 9d-89 99 09"  disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="email" placeholder="john.doe@email.com" disabled>
                    </div>
                </div>
                <div class="form-group row" id="nom_societe">
                    <label for="nom_societe" class="col-md-2 col-form-label" id="nom_societe">Nom de la société</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="nom_societe" placeholder="Société 1" disabled>
                    </div>
                </div>
                <div class="form-group row" id="role">
                    <label for="role" class="col-md-2 col-form-label">Rôle</label>
                    <div class="col-md-8">
                        <select id="role" class="form-control" disabled>
                            <option selected>Administrateur</option>
                            <option>Chef de projet</option>
                            <option>Participant</option>
                            <option>Observateur</option>
                        </select>
                    </div>
                </div>
            </form>


              
    <div class="button mt-5 mb-4">
        <!-- <input type="submit" class="btn btn-secondary" value="Annuler"> -->
        <div class="update">
            <a href="#0" class="cd-popup-trigger"> <input type="update" class="btn btn-success" value="Mettre à jour"> </a>
        </div>
        <div class="change_mdp">
            <a href="" class="cd-popup-trigger1"><input type="button" class="btn btn-warning" value="Modifier votre mot de passe"> </a>
        </div>
    </div>
    <!-- <div id="modifier"> -->
        <!-- <div class="button text-center m-4">
        <a href="fo-temps-01.php"><input type="button" class="btn btn-success1" value="Modifier votre mot de passe">
    </div> -->
    <div class="cd-popup" role="alert">
	    <div class="cd-popup-container" style="top: 18%;">
            <div class="col-lg text-center mx-auto">    
                <form method="post" class="mt-5">
                    <div class="form-group row">
                        <label for="nom" class="col-sm-2 col-form-label">Nom</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="nom" placeholder="DOE" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="prenom" class="col-sm-2 col-form-label">Prénom</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="prenom" placeholder="John"  >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="mobile"placeholder="09 90 89 99 09"  >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="email" placeholder="john.doe@email.com" >
                        </div>
                    </div>
                    <div class="form-group row" id="nom_societe">
                        <label for="nom_societe" class="col-sm-2 col-form-label" id="nom_societe">Nom de la société</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="nom_societe" placeholder="Société 1" >
                        </div>
                    </div>
                    <div class="form-group row" id="role">
                        <label for="role" class="col-sm-2 col-form-label">Rôle</label>
                        <div class="col-sm-8">
                            <select id="role" class="form-control" >
                                <option selected>Administrateur</option>
                                <option>Chef de projet</option>
                                <option>Participant</option>
                                <option>Observateur</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="update text-center mt-5">
                    <a href="{{ path('compte_')}}"> <input type="update" class="btn btn-primary" value="Modifier"> </a>
                </div>
        	    <a href="#0" class="cd-popup-close img-replace">Close</a>
            </div>
        </div>
    </div>
    
    <div class="cd-popup1" role="alert">
	    <div class="cd-popup-container" style="top: 18%;">
            <!-- <h2 class="text-center m-4">Projet : <span>Développement IP</span> </h2> -->

            <div class="col-lg mx-auto">
                <form class="changer_mdp" action="" method="post">
                    <div class="form-group row">
                        <label for="mdp" class="col-sm-2 col-form-label">Mot de passe actuel</label>
                        <div class="col-sm-8">
                          <input type="password" class="form-control" id="mdp">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="new_mdp" class="col-sm-2 col-form-label">Nouveau mot de passe</label>
                        <div class="col-sm-8">
                          <input type="password" class="form-control" id="new_mdp">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirm_mdp" class="col-sm-2 col-form-label">Retapez le mot de passe</label>
                        <div class="col-sm-8">
                          <input type="password" class="form-control" id="confirm_mdp">
                        </div>
                    </div>
                </form> 

                <div class="valid">
                    <a href="{{ path('compte_') }}"><input type="button" class="btn btn-success1" value="Modifier"></a>
                </div><br>
	            <a href="#0" class="cd-popup-close img-replace">Close</a>
            </div> 
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
    jQuery(document).ready(function($){
    	//open popup
    	$('.cd-popup-trigger').on('click', function(event){
    		event.preventDefault();
    		$('.cd-popup').addClass('is-visible');
    	});

    	//close popup
    	$('.cd-popup').on('click', function(event){
    		if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup') ) {
    			event.preventDefault();
    			$(this).removeClass('is-visible');
    		}
    	});

    	//close popup when clicking the esc keyboard button
    	$(document).keyup(function(event) {
        	if(event.which=='27'){
        		$('.cd-popup').removeClass('is-visible');
    	    }
        });      
    });

    jQuery(document).ready(function($){
    	//open popup
    	$('.cd-popup-trigger1').on('click', function(event){
    		event.preventDefault();
    		$('.cd-popup1').addClass('is-visible');
    	});

    	//close popup
    	$('.cd-popup1').on('click', function(event){
    		if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup1') ) {
    			event.preventDefault();
    			$(this).removeClass('is-visible');
    		}
    	});

    	//close popup when clicking the esc keyboard button
    	$(document).keyup(function(event) {
        	if(event.which=='27'){
        		$('.cd-popup1').removeClass('is-visible');
    	    }
        });      
    });

</script>  #}

{% endblock %}
