{% extends 'base.html.twig' %}

{% block title %}{{ 'users_list'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'users_list'|trans }}</h1>

	<ul class="nav nav-tabs mb-3 tab-filter-users">
		<li class="nav-item">
			<a class="nav-link enabled-users active" href="#0">Actifs</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled-users" href="#0">Désactivés</a>
		</li>
		<li class="nav-item">
			<a class="nav-link all-users" href="#0">Tous</a>
		</li>
		<input type="hidden" id="filter-users-statut">
	</ul>

	<table id="users_list_dt" class="table datatable custom-datatable hover text-center">
		<thead>
			<tr>
				<th class="text-left">{{ 'lastname'|trans }}</th>
				<th>{{ 'firstname'|trans }}</th>
				<th>{{ 'email'|trans }}</th>
				<th>{{ 'role'|trans }}</th>
				<th>{{ 'status'|trans }}</th>
				<th>{{ 'projects'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for societeUser in societeUsers %}
				<tr class="{{ societeUser.enabled ? '' : 'text-muted' }}">
					<td class="text-left">{{ societeUser.user.nom }}</td>
					<td>{{ societeUser.user.prenom }}</td>
					<td>{{ societeUser.user.email }}</td>
					<td data-sort='{{ societeUser.role|trans }}'>
						<span class="d-none d-sm-block">{{ societeUser.role|trans }}</span>
						<span class="d-sm-none">{{ (societeUser.role ~'.small')|trans }}</span>
					</td>
					<td data-search='{{ societeUser.statut }}'>{{ societeUser.statut|trans }}</td>
					<td>{{ societeUser.projetParticipants|length }}</td>
					<td>
						<a href="{{ path('app_fo_societe_user', { 'id': societeUser.id }) }}">
							<i class="fa fa-lg fa-eye"></i>
						</a>
						<a href="{{ path('app_fo_admin_utilisateur_modifier', { 'id': societeUser.id }) }}">
							<i class="fa fa-lg fa-edit"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="my-3 text-right">
		<a href="{{ path('app_fo_admin_user_invite') }}" class="btn btn-outline-primary">
			<i class="fa fa-user-plus" aria-hidden="true"></i>
			{{ 'invite_new_user'|trans }}
		</a>
	</div>

{% endblock %}
