{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs | {{ parent() }}{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>

	<table class="table text-center mx-auto m-5">
		<thead>
			<tr>
				<th class="text-left d-none d-md-table-cell">N°</th>
				<th class="text-left">NOM</th>
				<th class="d-none d-md-table-cell">Prénom</th>
				<th class="d-none d-md-table-cell">Email</th>
				<th>Rôle</th>
				<th class="d-none d-md-table-cell">Statut</th>
				<th>Projets</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for key, user in users %}
				<tr class="{{ user.enabled ? '' : 'text-muted' }}">
					<td class="text-left d-none d-md-table-cell">{{ key + 1 }}</td>
					<td class="text-left">{{ user.nom }}</td>
					<td class="d-none d-md-table-cell">{{ user.prenom }}</td>
					<td class="d-none d-md-table-cell">{{ user.email }}</td>
					<td>
						<span class="d-none d-sm-block">{{ user.role|trans }}</span>
						<span class="d-sm-none">{{ (user.role ~'.small')|trans }}</span>
					</td>
					{% if user.enabled %}
						<td class="d-none d-md-table-cell">Actif</td>
					{% else %}
						<td class="d-none d-md-table-cell">Inactif</td>
					{% endif %}
					<td>{{ user.projetParticipants|length }}</td>
					<td class="d-flex justify-content-around">
						<a href="{{ path('users_fo_user', { 'id': user.id }) }}">
							<i class="fa fa-lg fa-eye"></i>
						</a>
						<a href="{{ path('app_fo_admin_utilisateur_modifier', { 'id': user.id }) }}">
							<i class="fa fa-lg fa-edit"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="button mb-4">
		<a href="{{ path('app_fo_admin_user_invite') }}" class="btn btn-outline-primary">
			<i class="fa fa-user-plus" aria-hidden="true"></i>
			Inviter un nouvel utilisateur
		</a>
	</div>

{% endblock %}
