{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs | {{ parent() }}{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>

	<table class="table text-center">
		<thead>
			<tr>
				<th class="text-left d-none d-md-table-cell">N°</th>
				<th class="text-left">NOM</th>
				<th class="d-none d-md-table-cell">Prénom</th>
				<th class="d-none d-md-table-cell">Email</th>
				<th>Rôle</th>
				<th>Statut</th>
				<th>Nb projets</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for key, user in users %}
				<tr class="{{ user.enabled ? '' : 'text-muted' }}">
					<td class="text-left d-none d-md-table-cell">{{ key + 1 }}</td>
					<td class="text-left">{{ user.nom }}</td>
					<td class="d-none d-md-table-cell">{{ user.prenom }}</td>
					<td class="d-none d-md-table-cell">{{ user.email }}</td>
					<td>{{ user.role|trans }}</td>
					{% if user.enabled %}
						<td>Actif</td>
					{% else %}
						<td>Inactif</td>
					{% endif %}
					<td>{{ user.projetParticipants|length }}</td>
					<td class="d-flex justify-content-around">
						<a href="{{ path('users_fo_user', { 'id': user.id }) }}">
							<i class="fa fa-lg fa-eye"></i>
						</a>
						<a href="{{ path('utilisateur_fo_modifier_', { 'id': user.id }) }}">
							<i class="fa fa-lg fa-edit"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('fo_user_invite') }}" class="btn btn-outline-primary">
		<i class="fa fa-user-plus" aria-hidden="true"></i>
		Inviter un nouvel utilisateur
	</a>

{% endblock %}
