{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs | {{ parent() }}{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>

	<table
		class="table table-hover text-center"
        data-toggle="table"
        data-search="true"
	>
		<thead>
			<tr>
				<th data-sortable="true" class="text-left">NOM</th>
				<th data-sortable="true" class="d-none d-md-table-cell">Prénom</th>
				<th class="d-none d-md-table-cell">Email</th>
				<th data-sortable="true" data-sorter="bySorterValue">Rôle</th>
				<th data-sortable="true" class="d-none d-md-table-cell">Statut</th>
				<th data-sortable="true">Projets</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for societeUser in societeUsers %}
				<tr class="{{ societeUser.enabled ? '' : 'text-muted' }}">
					<td class="text-left">{{ societeUser.user.nom }}</td>
					<td class="d-none d-md-table-cell">{{ societeUser.user.prenom }}</td>
					<td class="d-none d-md-table-cell">{{ societeUser.user.email }}</td>
					<td data-sorter-value="{{ societeUser.role }}">
						<span class="d-none d-sm-block">{{ societeUser.role|trans }}</span>
						<span class="d-sm-none">{{ (societeUser.role ~'.small')|trans }}</span>
					</td>
					<td class="d-none d-md-table-cell">{{ societeUser.statut|trans }}</td>
					<td>{{ societeUser.projetParticipants|length }}</td>
					<td class="d-flex justify-content-around">
						<a href="{{ path('app_fo_societe_user', { 'id': societeUser.id }) }}">
							<i class="fa fa-lg fa-eye"></i>
						</a>
						<a href="{{ path('app_fo_admin_utilisateur_modifier', { 'id': societeUser.id }) }}">
							<i class="fa fa-lg fa-edit"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="my-3 text-right">
		<a href="{{ path('app_fo_admin_user_invite') }}" class="btn btn-outline-primary">
			<i class="fa fa-user-plus" aria-hidden="true"></i>
			Inviter un nouvel utilisateur
		</a>
	</div>

{% endblock %}
