{% extends "base.html.twig" %}

{% block title %}Rôles sur projets de {{ societeUser.user.fullname }} | {{ parent() }}{% endblock %}

{% block body %}

<h1>Rôles sur projets de {{ societeUser.user.fullname }}</h1>

<a class="d-block mb-4" href="{{ path('app_fo_societe_user', {'id': societeUser.id}) }}">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    Retourner sur la page de {{ societeUser.user.fullname }}
</a>

{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.projetParticipants) }}

<button type="submit" class="btn btn-success btn-lg d-block mx-auto">Mettre à jour</button>

{{ form_end(form) }}

{% endblock %}
