{% extends "corp_app/base.html.twig" %}

{% block title %}{{ "menu.projects.external"|trans }} | {{ parent() }}{% endblock %}

{% block body %}

<h1>{{ "menu.projects.external"|trans }}</h1>

<p>{{ "list_project_access"|trans }}</p>

<table class="table datatable hover">
    <thead>
        <tr>
            <th class="text-left">{{ "projectString"|trans }}</th>
            <th>{{ "societyString"|trans }}</th>
            <th>{{ "start"|trans }}</th>
            <th>{{ "end"|trans }}</th>
            <th>{{ "status"|trans }}</th>
            <th>{{ "PARTICIPANTS"|trans }}</th>
        </tr>
    </thead>
    <tbody class="filter-projets-by-selected-year">
        {% for projetObservateurExterne in projetObservateurExternes %}
            {% set projet = projetObservateurExterne.projet %}
            <tr
                    data-href="{{ path('corp_app_fo_observateur_externe_view', {'id': projet.id}) }}"
            >
                <td class="text-left">
                    <a title="{{ projet.titre }}" href="{{ path('corp_app_fo_observateur_externe_view', {'id': projet.id}) }}">
                        {{ projet.acronyme }}
                    </a>
                </td>
                <td>{{ projet.societe.raisonSociale }}</td>
                <td>{{ projet.dateDebut ? projet.dateDebut|date('d/m/Y') : '-' }}</td>
                <td>{{ projet.dateFin ? projet.dateFin|date('d/m/Y') : '-' }}</td>
                <td>
                    {% include 'corp_app/projets/_projet_statut.html.twig' with {projet: projet} %}
                </td>
                <td>{{ projet.projetParticipants|length }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

