{% extends 'bo/base.html.twig' %}

{% block body %}

    <h1>Tableau de bord</h1>

    <div class="row mt-4 notification">
        <div class="col-lg-4 notification">
            <div class="w-100 text-center">
                <h5 class="card-title">Nombre total de sociétés</h5>
                <h6 class="card-subtitle mb-2 text-muted">sur l'application RDI-Manager</h6>
                <p class="card-text display-4 mb-0">
                    {{ nbrSocietes }}
                </p>
            </div>
            <div class="card mx-2 my-2 rdi-card-icon text-center">
                <i class="fa fa-building" aria-hidden="true"></i>
                <div class="card-body" style="">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title text-center text-danger">Dernières sociétés créées</h5>
                            <p class="card-text">
                                {% include '_activity-list.html.twig' with {'activities': societeNotifs} %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 notification">
            <div class="w-100 text-center">
                <h5 class="card-title">Nombre total de projets</h5>
                <h6 class="card-subtitle mb-2 text-muted">sur l'application RDI-Manager</h6>
                <p class="card-text display-4 mb-0">
                    {{ nbrProjets }}
                </p>
            </div>
            <div class="card mx-2 my-2 rdi-card-icon text-center">
                <i class="fa fa-book" aria-hidden="true"></i>
                <div class="card-body" style="overflow-y: scroll; max-height: 300px;">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title text-center text-danger">Derniers projets créés</h5>
                            <p class="card-text">
                                {% include '_activity-list.html.twig' with {'activities': projetNotifs} %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 notification">
            <div class="w-100 text-center">
                <h5 class="card-title">Nombre total d'utilisateurs</h5>
                <h6 class="card-subtitle mb-2 text-muted">sur l'application RDI-Manager</h6>
                <p class="card-text display-4 mb-0">
                    {{ nbrUsers }}
                </p>
            </div>
            <div class="card mx-2 my-2 rdi-card-icon text-center">
                <i class="fa fa-ban" aria-hidden="true"></i>
                <div class="card-body" style="overflow-y: scroll; max-height: 300px;">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title text-center text-danger">Quotas dépassés</h5>
                            <p class="card-text">
                                {% include '_activity-list.html.twig' with {'activities': quotaNotifs} %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="statsMatomo" class="row mb-4">
        <div id="VisitsSummary_getVisits" class="col-md-12 mb-4"></div>
        <div id="UserCountry_getCountry" class="col-md-6 col-sm-12 mb-4">
            <table class="w-100 text-center">
                <thead>
                <tr>
                    <th colspan="3">en {{ 'now' | date('Y') }}</th>
                </tr>
                <th>Pays</th>
                <th>Nbr visites</th>
                <th>Nbr actions</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="UserCountry_getCountryGraph" class="col-md-6 col-sm-12 mb-4">
            <table class="w-100 text-center">
                <thead>
                <tr><th>en {{ 'now' | date('m-Y') }}</th></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="Actions_getPageTitles" class="col-md-12 mb-4">
            <table class="w-100 text-center">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}