{% extends 'bo/base.html.twig' %}

{% block body %}

    <h1>Actualité</h1>

    <div class="row mt-4 notification">
        <div class="col-lg-4 notification">
            <div class="card mx-2 my-2 rdi-card-icon text-center">
                <i class="fa fa-building" aria-hidden="true"></i>
                <div class="card-body" style="">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title text-center text-danger">Dernières sociétés créées</h5>
                            <p class="card-text">
                                {% include '_activity-list.html.twig' with {'activities': societeNotifs} %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 notification">
            <div class="card mx-2 my-2 rdi-card-icon text-center">
                <i class="fa fa-book" aria-hidden="true"></i>
                <div class="card-body" style="overflow-y: scroll; max-height: 300px;">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title text-center text-danger">Derniers projets créés</h5>
                            <p class="card-text">
                                {% include '_activity-list.html.twig' with {'activities': projetNotifs} %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 notification">
            <div class="card mx-2 my-2 rdi-card-icon text-center">
                <i class="fa fa-ban" aria-hidden="true"></i>
                <div class="card-body" style="overflow-y: scroll; max-height: 300px;">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title text-center text-danger">Quotas dépassés</h5>
                            <p class="card-text">
                                {% include '_activity-list.html.twig' with {'activities': quotaNotifs} %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs tabs-user-chart mt-5">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" data-target="graph" href="#Graphiques">Vue Graphiques</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-target="table" href="#Tableau">Vue Tableau</a>
        </li>
    </ul>

    <div id="graph" class="tab-target">
        <h1 class="mt-5">Analyse de l'Onboarding en temps réel</h1>
        <div class="row">
            <div class="col-md-10 col-sm-12 order-md-first order-sm-last">
                <div id="allTimeUserChart"></div>
            </div>
            <div class="col-md-2 col-sm-12 text-center d-flex flex-column justify-content-center align-items-center">
                <h5 >Nombre total d'utilisateurs</h5>
                <h6 class="mb-2 text-muted">sur l'application RDI-Manager</h6>
                <p class="display-4">
                    {{ nbrUsers }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-sm-12 order-md-first order-sm-last">
                <div id="allTimeSocieteChart"></div>
            </div>
            <div class="col-md-2 col-sm-12 text-center d-flex flex-column justify-content-center align-items-center">
                <h5 >Nombre total de sociétés</h5>
                <h6 class="mb-2 text-muted">sur l'application RDI-Manager</h6>
                <p class="display-4">
                    {{ nbrSocietes }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-sm-12 order-md-first order-sm-last">
                <div id="allTimeProjetChart"></div>
            </div>
            <div class="col-md-2 col-sm-12 text-center d-flex flex-column justify-content-center align-items-center">
                <h5 >Nombre total de projets</h5>
                <h6 class="mb-2 text-muted">sur l'application RDI-Manager</h6>
                <p class="display-4">
                    {{ nbrProjets }}
                </p>
            </div>
        </div>
    </div>

    <div id="table" class="tab-target mt-5" style="display: none;">

        <h1>
            Analyse de l'Onboarding en
            <span class="year-switch" data-event-name="bo-table-by-year" data-year-from="2020"
                  data-year-to="{{ "now"|date('Y') }}"></span>
        </h1>

        <table id="table-sequences" class="table mt-5">
            <thead>
            <tr>
                <th>Indice par mois</th>
                <th>Jan</th>
                <th>Fev</th>
                <th>Mars</th>
                <th>Avr</th>
                <th>Mai</th>
                <th>Juin</th>
                <th>Juil</th>
                <th>Aout</th>
                <th>Sept</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Déc</th>
            </tr>
            </thead>

            <tbody>
            <tr id="users">
                <td>
                    Utilisateurs créés
                </td>
                {% for userData in userCreatedAt %}
                    <td>
                        {{ userData }}
                    </td>
                {% endfor %}
            </tr>
            <tr id="projets">
                <td>
                    Projets créés
                </td>
                {% for projetData in projetCreatedAt %}
                    <td>
                        {{ projetData }}
                    </td>
                {% endfor %}
            </tr>
            <tr id="societes">
                <td>
                    Sociétés créés
                </td>
                {% for societeData in societeCreatedAt %}
                    <td>
                        {{ societeData }}
                    </td>
                {% endfor %}
            </tr>
            </tbody>

        </table>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bo-dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bo-dashboard') }}
{% endblock %}