{% extends 'corp_app/register/layout.html.twig' %}

{% block register %}
    <h1 class="mb-1">{{ 'create_my_project'|trans }}</h1>

    <p>
        {{ 'your_collaborators_will_enrich_this_project'|trans }}
    </p>
    <p class="mb-4">
        <a href="{{ path('corp_app_register_collaborators') }}" class="btn btn-sm btn-outline-primary">{{ 'skip_this_step'|trans }}</a>
        <small class="text-muted">{{ 'you_still_can_create_project_later'|trans }}</small>
    </p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_rest(form) }}

    <button type="submit" class="btn btn-lg btn-primary">{{ 'continue'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}
