{% extends 'corp_app/register/layout.html.twig' %}

{% block register %}
    <h1 class="mb-1">{{ 'create_my_company'|trans }}</h1>

    <p class="lead">
        {{ 'welcome_on_rdi_manager_corp_app_long'|trans }}
    </p>

    <p class="text-warning">
        <i class="fa fa-exclamation" aria-hidden="true"></i>
        {{ 'if_you_want_join_already_existing_company_ask_your_admin'|trans }}
    </p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_rest(form) }}

    <button type="submit" class="btn btn-lg btn-primary">{{ 'continue'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}
