{{ form_start(form) }}

<div class="row">
    {{ form_errors(form) }}
    <div class="col-md-9 col-sm-12">
        {{ form_row(form.title) }}
    </div>
    <div class="col-md-3 col-sm-12">
        {{ form_row(form.date) }}
    </div>
    <div class="col-md-12">
        <div class="card bg-light border-light">
            <div class="card-body pb-1">
                <h6 class="card-title">{{ 'note.reading_note'|trans }}</h6>
                {{ form_row(form.readingName) }}
                {{ form_row(form.author) }}
                {{ form_row(form.reference) }}
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-3">
        {{ form_row(form.description) }}
    </div>
    <div class="col-md-12 mb-3">
        {{ form_row(form.fichierEtudes) }}
    </div>
    <div class="col-sm-12 text-center mt-3">
        <input type="submit" onclick="this.disabled=true;this.value='{{ "sending..."|trans }}';this.form.submit();" value="{{ 'publish' | trans }}" class="btn btn-success" />
    </div>
</div>

{{ form_end(form) }}