{% extends 'lab_app/base.html.twig' %}

{% block title %}{{ note.id ? 'note.edit_note'|trans : 'note.add_note'|trans }} | {{ parent() }}{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1>{{ note.id ? 'note.edit_note'|trans : 'note.add_note'|trans }}</h1>

        <h2 class="text-center">{{ 'etude.string'|trans }} {{ note.etude.acronyme }}</h2>

        <div class="row">
            <div class="col-sm-8">
                <a class="d-block mb-4" href="{{ path('lab_app_fo_etude', {id: note.etude.id}) }}">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    {{ "return_to_etude"|trans }}
                </a>
            </div>
            <div class="col-sm-4 text-right">
                {% if note.id %}
                    {{ include('lab_app/note/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>

       {{ include('lab_app/note/_form.html.twig') }}
    </div>
</div>

{% endblock %}
