{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ "part_on_project"|trans }} {{ projet.titre }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ "gest_of_part"|trans }}</h1>

    <div class="col-md-12">
        <a class="d-block mb-4" href="{{ path('corp_app_fo_projet', {'id': projet.id}) }}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            {{ "back_to_project"|trans }}
        </a>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.projetParticipants) }}

    <button
            type="button"
            id="btn-ajouter-participant"
            class="btn mb-4 btn-sm btn-outline-primary"
            style="display: none"
    >
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{ "add_part"|trans }}
    </button>

    <br>

    <button
            type="submit"
            class="btn mb-4 btn-success"
    >
        {{ "update"|trans }}
    </button>

    {{ form_end(form) }}

    {% if projet.projetObservateurExternes|length > 0 %}
        <h2>{{ "obs_ext"|trans }}</h2>

        <table class="table datatable">
            <thead>
            <tr>
                <th>{{ "lastname"|trans }}</th>
                <th>Contact</th>
                <th>{{ "status"|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for projetObservateurExterne in projet.projetObservateurExternes %}
                <tr>
                    <td>
                        {{ projetObservateurExterne.user.fullname|default('-') }}
                    </td>
                    <td>
                        {% if projetObservateurExterne.user is null %}
                            {{ projetObservateurExterne.invitationEmail|default(projetObservateurExterne.invitationTelephone) }}
                        {% else %}
                            {{ projetObservateurExterne.user.email|default(projetObservateurExterne.user.telephone) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if projetObservateurExterne.user is null %}
                            En cours d'invitation...
                        {% else %}
                            Actif
                            {% if projetObservateurExterne.lastActionAt %}
                                - dernière consultation : {{ projetObservateurExterne.lastActionAt|format_date }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <form
                                method="post"
                                action="{{ path('corp_app_fo_observateur_externe_delete', {
                                    'projetId': projet.id,
                                    'observateurId': projetObservateurExterne.id
                                }) }}"
                        >
                            <input type="hidden" name="csrf_token"
                                   value="{{ csrf_token('delete_observateur_externe') }}"/>
                            <button type="submit" class="btn btn-outline-danger"
                                    title="Retirer cet observateur externe"><i class="fa fa-times"
                                                                               aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        {{ "invite_new_user"|trans }}
                    </h5>
                    <p class="card-text">
                        {{ "want_new_user"|trans }}
                    </p>
                    <a
                            href="{{ path('corp_app_fo_projet_participant_invite', {'id': projet.id}) }}"
                            class="btn btn-outline-primary stretched-link"
                    >{{ "invite_new_user"|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        {{ "invite_obs_ext_2"|trans }}
                    </h5>
                    <p class="card-text">
                       {{ "want_new_obs"|trans }}
                    </p>
                    <a
                            href="{{ path('corp_app_fo_observateur_externe_invite', {'id': projet.id}) }}"
                            class="btn btn-outline-primary stretched-link"
                    > {{ "invite_obs_ext_2"|trans }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
