{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ 'add_contributors'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

<h1>{{ 'add_contributors'|trans }}</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <p>
            {{ 'add_contributors_help'|trans }}
        </p>

        <h2>{{ 'who_is_working_on_this_project'|trans }}</h2>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_errors(form.societeUsers) }}
        {{ form_widget(form.societeUsers) }}

        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-success mb-4">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Ajouter des contributeurs
            </button>

            <br>

            <a href="{{ path('corp_app_fo_projet', {'id': projet.id}) }}" class="btn btn-sm btn-outline-primary">
                {{ "add_cont_later"|trans }}
            </a>
        </div>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
