{% extends "corp_app/base.html.twig" %}

{% block title %}{{ "projectString"|trans }} {{ projet.acronyme }} | {{ parent() }}{% endblock %}

{% block body %}

    {% include('utils/_btn_html_to_pdf.html.twig') %}

    <div id="containerHtmlToPdf" style="break-inside: avoid !important;page-break-inside:avoid !important; ">

        <h1 class="text-center">
            {{ "STATISTIQUES"|trans }}
        </h1>

        <h3 class="text-center">
            <small class="text-muted">{{ "SOCIETE_CDP"|trans }} : {{ projet.chefDeProjet|entityLink }}</small>
        </h3>

        <div class="d-flex justify-content-between align-items-center not-printable">
            <a class="d-block mb-4" href="{{ path('corp_app_fo_projet', {id: projet.id}) }}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                {{ 'back_to_project'|trans }}
            </a>

            {% include 'corp_app/projets/_projet_actions_shortcut.html.twig' with {projet: projet} %}
        </div>
        <div class="newPage row row-flex d-flex flex-row justify-content-between align-column-center mt-4">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="card shadow rounded-xl h-100 position-relative">
                    <div class="rdi-card-icon text-center">                    
                        <i class="fa fa-users" aria-hidden="true"></i> 
                    </div>            
                    <div class="card-body">
                        <h5 class="text-left d-block"><a
                                    href="{{ path('corp_app_fo_projet_participant', {'id': projet.id}) }}">{{ "quota.contributeurs.name"|trans }}</a>
                        </h5>
                        <small class="text-muted">sur ce projet</small>
                        <hr />
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="h3 display-4 mt-2">
                                {{ projet.projetParticipants|filterByRoleExactly(constant('App\\Security\\Role\\RoleProjet::CONTRIBUTEUR'))|length + projet.projetParticipants|filterByRoleExactly(constant('App\\Security\\Role\\RoleProjet::CDP'))|length }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="card shadow rounded-xl h-100 position-relative">
                    <div class="rdi-card-icon text-center">                    
                        <i class="fa fa-road" aria-hidden="true"></i>
                    </div>            
                    <div class="card-body">
                        <h5 class="text-left d-block"><a
                            href="{{ path('corp_app_fo_projet', {'id': projet.id}) }}">{{ "FAITS_MARQUANTS"|trans }}</a>
                        </h5>
                        <small class="text-muted">sur ce projet</small>
                        <hr />
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="h3 display-4 mt-2">
                                {{ projet.faitMarquants|length }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% if projet.annualRdiScores %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card shadow rounded-xl h-100 position-relative">
                    <div class="rdi-card-icon text-center">                    
                        <i class="fa fa-flask" aria-hidden="true"></i>
                    </div>            
                    <div class="card-body">
                        <h5 class="text-left d-block">Score RDI
                            <span
                                    class="year-switch text-center"
                                    data-event-name="projet-score-rdi-year-changed"
                                    data-annual-rdi-scores="{{ projet.annualRdiScores|json_encode() }}"
                                    data-year-from="{{ projet.annualRdiScores | keys | first }}"
                                    data-year-to="{{ projet.annualRdiScores | keys | last }}"
                            ></span>
                        </h5>
                        <small class="text-muted">éligibilité RDI évaluée par l'algorithme RDI-Manager
                        <i class="fa fa-question-circle" title="L'éligibilité du projet est évaluée en comparant
                            celui-ci aux travaux de références scientifiques et techniques dans le ou les domaines
                            thématiques sélectionnés"></i>
                        </small>
                        <hr />
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="h3 display-4 mt-2">
                                <span class="rdi-percent">
                                    <span class="rdi-value"></span><sup>/ 100</sup>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <li class="newPage d-inline mb-0" 
        style="max-height: 550px !important;list-style-type:none;">
            <div id="projet-budget-charts" class="w-100 col-sm-12 col-md-12 col-lg-12" data-projet-id="{{ projet.id }}" style="max-height: 550px !important;">
                <div class="w-100">
                    <h2 class="mt-3 exportTitle">{{ 'budget_analysis'|trans }}</h2>
                </div>
                <div class="row charts">
                    <div class="col-md-12 col-lg-6 mt-2">
                        <div class="card shadow rounded-xl h-100">           
                            <div class="card-body">
                                <h5 class="text-left d-block">en Heure (H)</h5>
                                <hr />
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div id="hour-budget"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 mt-3 d-flex flex-column justify-content-between">
                        <div class="card shadow rounded-xl h-100">           
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <h5 class="text-left d-block">en {{ projet.societe.currency }}</h5>
                                    <div>
                                    {% if userCanEditProjet %}
                                        <a class="btn btn-success btn-sm btn-add-expenses not-printable"
                                        title="Ajouter des dépenses spéciales (DS)" href="javascript:;"><i
                                        class="fa fa-plus"></i></a>
                                    {% endif %}
                                </div>
                                </div>
                                <hr />
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div id="euro-budget" data-devise="{{ projet.societe.currency }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <br>
        <li class="newPage d-inline mt-0" 
        style="min-height: 550px !important; list-style-type:none;">
        {% if projet.roiEnabled %}
            <div class="m-auto col-lg-8 col-md-8 col-sm-12">
                <div class="mb-4">
                    <h4 class="d-flex justify-content-between align-items-center">
                        <div class="text-center w-100">
                            <h2 class="exportTitle">{{ 'return_on_investment'|trans }} (ROI = <span id="roi_percent"></span>)</h2>
                        </div>
                        <div>
                            {% if userCanEditProjet %}
                                <a class="btn btn-success btn-sm btn-add-revenue not-printable"
                                    title="Ajouter des revenues" href="javascript:;"><i class="fa fa-plus"></i></a>
                            {% endif %}
                        </div>
                    </h4>
                </div>
                <div class="card shadow rounded-xl h-100">           
                    <div class="card-body">
                        <h5 class="text-left d-block">ROI de votre projet</h5>
                        <hr />
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div id="euro-revenue" data-devise="{{ projet.societe.currency }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </li>
        <li class="newPage" style="min-height: 350px !important;list-style-type:none;">
        {% if projet.projetPlanning and productPrivilegeCheker(constant('App\\SocieteProduct\\Product\\ProductPrivileges::PLANIFICATION_PROJET_AVANCE')) %}
            <div id="projet-stats-charts" class="row my-4">
                <div class="col-md-12 mx-auto">
                    <h2 class="exportTitle">{{ 'kpis_indicators'|trans }}</h2>
                </div>
                <div class="row col-md-12 mx-auto d-flex justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="card shadow rounded-xl h-100 mt-2">           
                            <div class="card-body">
                                <h5 class="text-left d-block">
                                {{ 'efficiency'|trans }} <i class="fa fa-question-circle not-printable" title="{{ "efficiency.help"|trans }}"></i>
                                </h5>
                                <hr />
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <canvas id="efficacite" style="max-height:350px; max-width:400px;"
                                    data-efficacite="{{ projet.projetPlanning.efficacite }}"
                                    class="canvas pl-lg-3 pm-lg-5 pt-lg-3 pt-lg-3"></canvas>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="card shadow rounded-xl h-100 mt-2">           
                            <div class="card-body">
                                <h5 class="text-left d-block">
                                {{ 'effectiveness'|trans }} <i class="fa fa-question-circle not-printable" title="{{ "effectiveness.help"|trans }}"></i>
                                </h5>
                                <hr />
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <canvas id="effectivite" style="max-height:350px; max-width:400px;"
                                    data-effectivite="{{ projet.projetPlanning.effectivite }}"
                                    class="canvas pl-lg-3 pm-lg-5 pt-lg-3 pt-lg-3"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </li>
        <div class="row my-4">
            <div class="col-md-12 mx-auto bordure mt-2">
                <h2 class="exportTitle">
                            <span
                                    class="year-switch text-center"
                                    data-event-name="projet-chart-year-changed"
                                    {% if projet.dateDebut %}
                                        data-year-from="{{ projet.dateDebut|date('Y') }}"
                                    {% endif %}
                                    data-with-unit="temps-unit-switch"
                            ></span>
                    {{ 'time_spent_in'|trans }}
                    <span
                            class="temps-unit-switch"
                            data-event-name="projet-chart-year-changed"
                    ></span>
                </h2>
            </div>
        </div>

        <div class="card shadow rounded-xl h-100 mt-2">           
            <div class="card-body">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div id="chart-projet-users-temps" data-projet-id="{{ projet.id }}" class="w-100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="specialExpenses" tabindex="-1" role="dialog" aria-labelledby="specialExpensesLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="specialExpensesLabel">Dépenses spéciales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="specialExpensesForm" name="special_expense_form">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Dépense</label>
                                <div class="form-group">
                                    <input type="text" name="special_expense_form[titre]" class="form-control w-100"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Date</label>
                                <div class="form-group">
                                    <input type="text" name="special_expense_form[date]"
                                           class="date-picker numeric-format form-control w-100" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Montant</label>
                                <div class="form-group">
                                    <input type="text" name="special_expense_form[amount]" class="form-control w-100"
                                           autocomplete="off"/>
                                </div>
                            </div>
                            <input type="hidden" name="special_expense_form[updateId]">
                        </div>
                        <div class="d-flex flex-row justify-content-end align-items-center">
                            <button type="submit" class="btn btn-success">{{ 'save'|trans }}</button>
                        </div>
                    </form>
                    <div class="col-lg-12 my-3 pt-3 list-special-expenses" style="border-top: 1px solid lightgrey;">
                        <table class="w-100 font-weight-bold">
                            <thead>
                            <tr>
                                <th>Dépense</th>
                                <th>Date</th>
                                <th>Montant</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for expense in projet.projetBudgetExpenses %}
                                <tr data-expense-id="{{ expense.id }}">
                                    <td class="expense-titre">{{ expense.titre }}</td>
                                    <td class="expense-date">{{ expense.date ? expense.date|date('d/m/Y') : '' }}</td>
                                    <td class="expense-amount">{{ expense.amount }}</td>
                                    <td>
                                        <a href="javascript:;" class="text-warning btn-edit-expense"><i
                                                    class="fa fa-pencil"></i></a>
                                        <a href="javascript:;" class="text-danger btn-delete-expense"><i
                                                    class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="projetRevenues" tabindex="-1" role="dialog" aria-labelledby="projetRevenuesLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projetRevenuesLabel">Revenues</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="projetRevenuesForm" name="projet_revenues_form">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Revenue</label>
                                <div class="form-group">
                                    <input type="text" name="projet_revenues_form[titre]" class="form-control w-100"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Date</label>
                                <div class="form-group">
                                    <input type="text" name="projet_revenues_form[date]"
                                           class="date-picker numeric-format form-control w-100" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Montant</label>
                                <div class="form-group">
                                    <input type="text" name="projet_revenues_form[amount]" class="form-control w-100"
                                           autocomplete="off"/>
                                </div>
                            </div>
                            <input type="hidden" name="projet_revenues_form[updateId]">
                        </div>
                        <div class="d-flex flex-row justify-content-end align-items-center">
                            <button type="submit" class="btn btn-success">{{ 'save'|trans }}</button>
                        </div>
                    </form>
                    <div class="col-lg-12 my-3 pt-3 list-projet-revenues" style="border-top: 1px solid lightgrey;">
                        <table class="w-100 font-weight-bold">
                            <thead>
                            <tr>
                                <th>Revenue</th>
                                <th>Date</th>
                                <th>Montant</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for revenue in projet.projetRevenues %}
                                <tr data-revenue-id="{{ revenue.id }}">
                                    <td class="revenue-titre">{{ revenue.titre }}</td>
                                    <td class="revenue-date">{{ revenue.date ? revenue.date|date('d/m/Y') : '' }}</td>
                                    <td class="revenue-amount">{{ revenue.amount }}</td>
                                    <td>
                                        <a href="javascript:;" class="text-warning btn-edit-revenue"><i
                                                    class="fa fa-pencil"></i></a>
                                        <a href="javascript:;" class="text-danger btn-delete-revenue"><i
                                                    class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
