{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ 'projet_events_calendar'|trans({'projectAcronyme': projet.acronyme}) }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'projet_events_calendar'|trans({'projectAcronyme': projet.acronyme}) }}</h1>

    <div class="d-flex justify-content-between align-items-center">
        <a class="d-block mb-4" href="{{ path('corp_app_fo_projet', {id: projet.id}) }}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            {{ 'back_to_project'|trans }}
        </a>

        {% include 'corp_app/projets/_projet_actions_shortcut.html.twig' with {projet: projet} %}
    </div>

    <div id="project_events_calendar"
         class="dhx_cal_container"
         data-project-id="{{ projet.id }}"
         data-selected-event="{{ app.request.query.get('event') }}"
    >
        <div class="dhx_cal_navline">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_cal_tab" name="day_tab"></div>
            <div class="dhx_cal_tab" name="week_tab"></div>
            <div class="dhx_cal_tab" name="month_tab"></div>
            <div class="dhx_cal_tab" name="year_tab"></div>
            <div class="dhx_cal_tab" name="agenda_tab"></div>
            <div class="dhx_dummy dhx_cal_today_button" title="{{ 'create_event'|trans }}" style='right:220px; width: 30px;' onclick='scheduler.addEventNow()'><i class="fa fa-plus"></i></div>
{#            <div class="dhx_cal_tab" name="export_agenda_tab">Export Agenda (.ical)</div>#}
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data"></div>
    </div>

{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('projet-events-calendar') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('projet-events-calendar') }}
    {% endblock %}