<div class="card bg-light-grey border-light">
    <div class="card-body">
        <div class="text-justify">
            <p class="m-0">{{ projet.resume|markdown|raw }}</p>
        </div>
    </div>
</div>

<div class="card border-light d-md-none">
    <div class="card-body">
        {% include 'corp_app/projets/fiche_projet-sidebar.html.twig' %}
    </div>
</div>

<section id="timeline">
    <h2 class="facts">{{ 'FAITS_MARQUANTS'|trans }}</h2>

    {% if projetPlanningTask is defined and projetPlanningTask %}
        <div id="planning-task-content">
            <p>Lot :</p>
            <p class="text">{{ projetPlanningTask.text|capitalize }}</p>
            <div class="d-flex flex-row justify-content-between align-items-center font-italic">
                <p>Commence le {{ projetPlanningTask.startDate|date('d/m/Y') }} pour {{ projetPlanningTask.duration }} jour(s)</p>
                <a href="{{ path('corp_app_fo_projet', {id: projet.id}) }}">Voir tous les faits marquant ...</a>
            </div>
        </div>
    {% endif %}

    <ul class="timeline">
        <div class="add-fait-marquant">
            {% if userCanAddFaitMarquant %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn-add-fm-popup">
                        {{ 'addNew_FM'|trans }}
                    </button>
                    <a href="{{ path('corp_app_fo_fait_marquant_ajouter', {'projetId': projet.id}) }}" title="Ajouter un fait marquant dans un nouvel onglet" style="border-radius: 0 35px 35px 0;" class="btn text-center btn-outline-secondary h-100 pl-3 pr-3">
                        <i class="fa fa-arrows-alt" aria-hidden="true"  style="vertical-align: bottom;"></i>
                    </a>
                </div>
            {% elseif projet.isSuspended %}
                <p class="text-muted text-left">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                    {{ "suspended_project"|trans }}
                </p>
            {% else %}
                <p class="text-muted text-left">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ "only_contrib"|trans }}
                </p>
            {% endif %}
        </div>
        <table id="fait_marquant_timeline_dt" class="table datatable custom-datatable text-word-break">
            <thead><tr><th>{{ 'FAITS_MARQUANTS'|trans }}</th></tr></thead>
            <tbody>
            {% for faitMarquant in faitMarquants %}
                {% if faitMarquant.trashedAt is null %}
                    <tr>
                        <td>
                            <li class="event" id="fait-marquant-{{ faitMarquant.id }}">
                                <h4 class="d-flex flex-row justify-content-between align-items-center" data-date="{{ faitMarquant.date|format_date }}">
                                    <span>
                                        {{ faitMarquant.date|format_date }}
                                        -
                                        <a
                                                href="{{ path('corp_app_fo_societe_user', {'id': faitMarquant.createdBy.id}) }}"
                                        >
                                            {% include 'utils/_avatar.html.twig' with {user: faitMarquant.createdBy.user, size: 24, toExpend: true} %}
                                            {{ faitMarquant.createdBy.user.fullname }}
                                        </a>
                                    </span>
                                    <div>
                                        {% if faitMarquant.projetPlanningTask %}
                                            <a
                                                    href="{{ path('corp_app_fo_projet_fm_per_planning_task', { 'projetId' : projet.id, 'planningTaskId' : faitMarquant.projetPlanningTask.id }) }}" style="font-size: 1.2rem;"
                                                    title="{{ 'Lot associé : ' ~ faitMarquant.projetPlanningTask.text }}" class="mr-2"
                                            >
                                                <i class="fa fa-tasks"></i>
                                            </a>
                                        {% endif %}
                                        <a
                                                href="{{ path('corp_app_fo_fait_marquant_modifier', {'id': faitMarquant.id}) }}" style="font-size: 1.2rem;"
                                                class="edit-fait-marquant {% if not is_granted(constant('App\\ProjetResourceInterface::EDIT'), faitMarquant) %}disabled{% endif %}"
                                                {% if projet.isSuspended %}
                                                    disabled
                                                    title="Le projet est suspendu"
                                                {% elseif not is_granted(constant('App\\ProjetResourceInterface::EDIT'), faitMarquant) %}
                                                    disabled
                                                    title="Seul le chef de projet peut modifier un fait marquant créé par quelqu'un d'autre"
                                                {% else %}
                                                    title="{{ "edit_btn"|trans }}"
                                                {% endif %}
                                        >
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </div>

                                </h4>
                                <h3>{{ faitMarquant.titre }}</h3>
                                {% if faitMarquant.geolocalisation %}
                                    <p class="fait-marquant-geolocalisation"><i class="fa fa-map-marker "></i> <i>{{ faitMarquant.geolocalisation }}</i></p>
                                {% endif %}
                                <div class="fait-marquant-content event-content text-justify text-word-break position-relative overflow-hidden">
                                    {{ faitMarquant.description|markdown|raw }}

                                    <div class="read-more">{{ 'see_more'|trans }}</div>
                                </div>
                                <ul class="list-unstyled">
                                    {% for fichierProjet in faitMarquant.fichierProjets %}
                                        {% if isAccessibleFichierProjet(fichierProjet) %}
                                            <li>
                                                <i class="fa {{ fichierProjet.fichier|faFileIcon }}" aria-hidden="true"></i>
                                                <a target="_blank"
                                                        href="{{ path('corp_app_fo_projet_fichier', {
                                                            'projetId': projet.id,
                                                            'fichierProjetId': fichierProjet.id
                                                        }) }}" {% if fichierProjet.fichier|isImageFile %} miniature {% else %} title="{{ 'download'|trans }}" {% endif %}>
                                                    {{ fichierProjet.fichier.nomFichier }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <hr class="mb-1">
                                {% include 'corp_app/projets/_fm_comment.html.twig' %}
                            </li>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </ul>
</section>
