{% extends "corp_app/base.html.twig" %}

{% block title %}{{ "projectString"|trans }} {{ projet.acronyme }} | {{ parent() }}{% endblock %}


{% block body %}

    <h1>{{ "projectString"|trans }} {{ projet.acronyme }}</h1>

    <div class="d-flex justify-content-between align-items-center">
        <a class="d-block mb-4" href="{{ path('corp_app_fo_projet', {id: projet.id}) }}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            {{ 'go_on_project'|trans }}
        </a>

        {% include 'corp_app/projets/_projet_actions_shortcut.html.twig' with {projet: projet} %}
    </div>

    <div class="col-md-8 mx-auto">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.dateDebut) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.dateFin) }}
            </div>
            <div class="col-md-12">
                {{ form_label(form.exportOptions) }}
                {{ form_widget(form.exportOptions, { 'attr' : { 'class' : 'd-flex flex-row justify-content-between align-item-center'} } ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <input type="submit" class="btn btn-success" value="Générer" />
                    </div>
                    {{ form_widget(form.format, {'attr': {'class': 'custom-select'}}) }}
                </div>
            </div>
        </div>
            <div class="pt-3">
                <hr class="bg-primary">
            </div>
        {{ form_end(form) }}
    </div>

    <div class="card border-0 mt-3">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-2"><strong>{{ "title"|trans }} : </strong></div>
                <div class="col-md-10">{{ projet.titre }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2"><strong>{{ "resume"|trans }} : </strong></div>
                <div class="col-md-10 text-justify">{{ projet.resume|markdown|raw }}</div>
            </div>
            {% if projet.rdiDomains | length > 0 %}
                <div class="row mb-3">
                    <div class="col-md-2"><strong>{{ "domain"|trans }} : </strong></div>
                    <div class="col-md-10 text-justify d-flex">
                        {% for domain in projet.rdiDomains %}
                            <p>{{ domain.nom }}</p>
                                {% if projet.rdiDomains | length > 1 %}
                                    <p>&nbsp; &nbsp;</p>
                                {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-between w-100">
                        <div class="row mb-3 w-50">
                            <div class="col-md-4"><strong>{{ "PROJET_CDP"|trans }} : </strong></div>
                            <div class="col-md-6">&nbsp;{{ projet.chefDeProjet.user.fullname }}</div>
                        </div>
                        <div class="row mb-3 w-50">
                            <div class="col-md-4"><strong>{{ "status"|trans }}  : </strong></div>
                            <div class="col-md-6">
                                &nbsp;{% include 'corp_app/projets/_projet_statut.html.twig' with {projet: projet} %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between w-100">
                        {% if projet.dateDebut %}
                            <div class="row mb-3 w-50">
                                <div class="col-md-4"><strong>{{ "date_debut"|trans }}  : </strong></div>
                                <div class="col-md-6">&nbsp;{{ projet.dateDebut|format_date }}</div>
                            </div>
                        {% endif %}
                        {% if projet.dateFin %}
                            <div class="row mb-3 w-50">
                                <div class="col-md-4"><strong>{{ "date_fin"|trans }}  : </strong></div>
                                <div class="col-md-6">&nbsp;{{ projet.dateFin|format_date }}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="timeline">
        <h2 class="facts">Faits marquants</h2>

        {% if projet.hasFaitMarquants() %}
            <ul class="timeline text-word-break border-0 shadow-none">
                {% for faitMarquant in projet.faitMarquants %}
                    {% if faitMarquant.trashedAt is null %}
                        <li class="event">
                            <h4 data-date="{{ faitMarquant.date|format_date }}">
                                {{ faitMarquant.date|format_date }}
                                -
                                <span>{{ faitMarquant.createdBy.user.fullname }}</span>
                            </h4>
                            <h3>{{ faitMarquant.titre }}</h3>
                            {% if faitMarquant.geolocalisation %}
                                <p class="fait-marquant-geolocalisation"><i class="fa fa-map-marker "></i> <i>{{ faitMarquant.geolocalisation }}</i></p>
                            {% endif %}
                            <p class="text-justify">
                                {{ faitMarquant.description|markdown|raw }}
                            </p>
                            <ul class="list-unstyled">
                                {% for fichierProjet in faitMarquant.fichierProjets %}
                                    <li>
                                        <i class="fa {{ fichierProjet.fichier|faFileIcon }}" aria-hidden="true"></i>
                                        <a
                                                href="{{ path('corp_app_fo_projet_fichier', {
                                                    'projetId': projet.id,
                                                    'fichierProjetId': fichierProjet.id
                                                }) }}"
                                        >
                                            {{ fichierProjet.fichier.nomFichier }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ "no_fm"|trans }}</p>
        {% endif %}
    </section>


{% endblock %}

{% block javascripts %}
<script>
    // uncheck checkbox export project

    var target = document.getElementById("projet_export_exportOptions_5");
    target.removeAttribute("checked");
    var target = document.getElementById("projet_export_exportOptions_4");
    target.removeAttribute("checked");
    var target = document.getElementById("projet_export_exportOptions_3");
    target.removeAttribute("checked");
    var target = document.getElementById("projet_export_exportOptions_2");
    target.removeAttribute("checked");
</script>
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            config: ["MMLorHTML.js"],
            jax: ["input/TeX","input/MathML","output/HTML-CSS","output/NativeMML"],
            extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js"],
            TeX: {
                extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
            },
            showProcessingMessages: false,
            tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
        });
    </script>
    <script type="text/javascript" src="https://www.tuhh.de/MathJax/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('build/ckeditor/extra-plugins/ckeditor_wiris/MathJax.js')) }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% endblock %}