{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ 'menu.projects.list'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>
        {{ 'my_projects_of_year'|trans }}
        <span
            class="year-switch"
            data-event-name="year-changed"
            data-year-from="{{ yearMin }}"
            data-year-to="{{ yearMax }}"
        ></span>
    </h1>

    <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <div>
            {% if is_granted(constant('App\\Security\\Role\\RoleSociete::ADMIN')) %}
                <p>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    {{ 'as_admin_i_can_also_access_all_projects'|trans({
                        '%link_start%': '<a href="' ~ path('corp_app_fo_admin_projets') ~ '">',
                        '%link_end%': '</a>'
                    })|raw }}
                </p>
            {% endif %}

            {% if userProductPrivilegeCheker(constant('App\\SocieteProduct\\Product\\ProductPrivileges::MULTI_SOCIETE_DASHBOARD')) and userContext.societeUser.isSuperiorFo %}
                <p>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    {{ 'as_superior_i_can_also_access_team_projects'|trans({
                        '%link_start%': '<a href="' ~ path('corp_app_fo_mon_equipe_projets') ~ '">',
                        '%link_end%': '</a>'
                    })|raw }}
                </p>
            {% endif %}
        </div>

        <div>
            <a
                    class="btn btn-info {{ is_granted('SOCIETE_CDP') ? '' : 'disabled' }}"
                    href="{{ path('corp_app_fo_projet_creation') }}"
                    {% if not is_granted('SOCIETE_CDP') %}
                        title="{{ 'create_project_requires_project_manager_role'|trans }}"
                    {% endif %}
            >
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'menu.projects.create'|trans }}
            </a>
        </div>


    </div>

    <table class="table datatable hover" data-order='[[ 1, "asc" ]]'>
        <thead>
            <tr>
                <th>{% include 'utils/_code_color.html.twig' with {color: '#e9ece6', size: 15} %}</th>
                <th>{{ 'project'|trans }}</th>
                <th>{{ 'my_role'|trans }}</th>
                <th>{{ 'start'|trans }}</th>
                <th>{{ 'end'|trans }}</th>
                <th>{{ 'status'|trans }}</th>
                <th>{{ 'last_activity'|trans }}</th>
                <th>{{ 'participants'|trans }}</th>
                <th>{{ 'efficiency'|trans }}</th>
            </tr>
        </thead>
        <tbody class="filter-projets-by-selected-year">

            {% for projet in projets %}
                <tr
                    data-href="{{ path('corp_app_fo_projet', {'id': projet.id}) }}"
                    data-year-start="{{ projet.dateDebut ? projet.dateDebut|date('Y') : '-' }}"
                    data-year-end="{{ projet.dateFin ? projet.dateFin|date('Y') : '-' }}"
                >
                    <td class="text-center" data-sort='{{ projet.colorCode }}'>
                        {% include 'utils/_code_color.html.twig' with {color: projet.colorCode, size: 15} %}
                    </td>
                    <td class="text-left"><a href="{{ path('corp_app_fo_projet', {'id': projet.id}) }}" title="{{ projet.titre }}">{{ projet.acronyme }}</a></td>
                    <td class="text-center">{{ userRoleOn(projet)|trans }}</td>
                    <td class="text-center" data-sort='{{ projet.dateDebut ? projet.dateDebut|date('Ymd') : '' }}'>{{ projet.dateDebut ? projet.dateDebut|date('d/m/Y') : '-' }}</td>
                    <td class="text-center" data-sort='{{ projet.dateFin ? projet.dateFin|date('Ymd') : '' }}'>{{ projet.dateFin ? projet.dateFin|date('d/m/Y') : '-' }}</td>
                    <td class="text-center">
                        {% include 'corp_app/projets/_projet_statut.html.twig' with {projet: projet} %}
                    </td>
                    <td class="text-center" data-sort='{{ projet.projetActivities.last ? projet.projetActivities.last.activity.datetime|date('Ymd') : '' }}'>{{ 'since'|trans }} {{ projet.projetActivities.last ? diffDateTimes(projet.projetActivities.last.activity.datetime) : '' }}</td>
                    <td class="text-center">{{ projet.projetParticipants|length }}</td>
                    <td class="text-center">
						{% if projet.projetPlanning %}
                                <span 
                                {% if projet.projetPlanning.efficacite < -0.66 %}
                                    style="background-color: #ff0000;" 
                                {% elseif projet.projetPlanning.efficacite < -0.33 %}
                                    style="background-color: #f97600;" 
                                {% elseif projet.projetPlanning.efficacite < 0 %}
                                    style="background-color: #f6c600;" 
                                {% elseif projet.projetPlanning.efficacite < 0.5 %}
                                    style="background-color: #60b044;" 
                                {% else %}
                                    style="background-color: #308428;" 
                                {% endif %}
                                class="badge text-white">
							        {{ projet.projetPlanning.efficacite }}
                                </span>
						{% else %}
							<span style="cursor: help;" 
                            title="Aucune information de planification"
							class="badge badge-secondary">
								    NA
							</span>
						{% endif %}
					</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
