{% extends 'corp_app/base.html.twig' %}

{% block title %}
  {{
    'planning'|trans({
      projectAcronyme: projet.acronyme
    })
  }} | {{ parent() }}
{% endblock %}

{% block body %}
  <h1>
    {{
      'planning'|trans({
        projectAcronyme: projet.acronyme
      })
    }}
  </h1>

  <div class="d-flex justify-content-between align-items-center">
    <a class="d-block mb-4"
      href="{{
      path(
        'corp_app_fo_projet',
        {
          id: projet.id
        }
      )
      }}">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      {{ 'back_to_project'|trans }}
    </a>

    {% include 'corp_app/projets/_projet_actions_shortcut.html.twig' with {
      projet: projet
    } %}
  </div>

  <ul class="nav nav-tabs mb-3 tab-filter-planning">
    <li class="nav-item">
      <a class="nav-link planning-graph active" href="#0">Planification</a>
    </li>
    <li class="nav-item">
      <a class="nav-link planning-stats" href="#0">Statistiques</a>
    </li>
  </ul>

  <div id="planning-graph">
    {% if projet.projetPlanning %}
      <p class="mb-1">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        Date de création : {{ projet.projetPlanning.createdAt|format_datetime }}
      </p>
      {% if projet.projetPlanning.updatedAt %}
        <p>
          <i class="fa fa-pencil-square" aria-hidden="true"></i>
          Date de la dernière mise à jour : {{
            projet.projetPlanning.updatedAt|format_datetime
          }}
        </p>
      {% endif %}
    {% endif %}

    <div class="header gantt-demo-header">
      <ul class="gantt-controls">
        <li class="gantt-menu-item">
          <a data-action="collapseAll">
            <img src="{{
              asset(
                'build/assets/js/dhtmlx-gantt/icons/ic_collapse_all_24.png'
              )
              }}" />
          </a>
        </li>
        <li class="gantt-menu-item">
          <a data-action="expandAll">
            <img src="{{
              asset(
                'build/assets/js/dhtmlx-gantt/icons/ic_expand_all_24.png'
              )
              }}" />
          </a>
        </li>
        {% if userCanEditProjet %}
          <li class="gantt-menu-item gantt-menu-item-last">
            <div class="dropdown dropdown-affectation">
              <button class="btn dropdown-toggle"
                type="button"
                id="dropdownMenuAffectation"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <img src="{{
                  asset(
                    'build/assets/js/dhtmlx-gantt/icons/ic_users_24.png'
                  )
                  }}" />Affectation
              </button>
              <div class="dropdown-menu"
                aria-labelledby="dropdownMenuAffectation">
                <button class="dropdown-item" data-action="assignUsers">
                  {{ 'affectation_rapide'|trans }}
                </button>
                <a href="{{
                  path(
                    'corp_app_fo_projet_planning_task_affectation',
                    {
                      projetId: projet.id
                    }
                  )
                  }}"
                  class="dropdown-item">
                  {{ 'affectation_groupe'|trans }}
                </a>
              </div>
            </div>
          </li>
          <li class="gantt-menu-item gantt-menu-item-last">
            <a data-action="addTask">
              <img src="{{
                asset(
                  'build/assets/js/dhtmlx-gantt/icons/ic_plus_24.png'
                )
                }}" />Ajouter un lot
            </a>
          </li>
        {% endif %}
        <li class="gantt-menu-item gantt-menu-item-right gantt-menu-item-last">
          <a>
            <img src="{{
              asset(
                'build/assets/js/dhtmlx-gantt/icons/ic_export_24.png'
              )
              }}" />Export
          </a>
          <ul class="gantt-controls">
            <li class="gantt-menu-item">
              <a data-action="toPDF">
                <img src="{{
                  asset(
                    'build/assets/js/dhtmlx-gantt/icons/ic_file_pdf.png'
                  )
                  }}" />PDF
              </a>
            </li>
            <li class="gantt-menu-item">
              <a data-action="toPNG">
                <img src="{{
                  asset(
                    'build/assets/js/dhtmlx-gantt/icons/ic_file_png.png'
                  )
                  }}" />PNG
              </a>
            </li>
            <li class="gantt-menu-item">
              <a data-action="toExcel">
                <img src="{{
                  asset(
                    'build/assets/js/dhtmlx-gantt/icons/ic_file_xlsx.png'
                  )
                  }}" />Excel
              </a>
            </li>
            <li class="gantt-menu-item">
              <a data-action="toMSProject">
                <img src="{{
                  asset(
                    'build/assets/js/dhtmlx-gantt/icons/ic_file_xml.png'
                  )
                  }}" />MS Project
              </a>
            </li>
          </ul>
        </li>
        <li class="gantt-menu-item gantt-menu-item-right gantt-menu-item-last">
          <a data-action="zoomIn">
            <img src="{{
              asset(
                'build/assets/js/dhtmlx-gantt/icons/ic_zoom_in.png'
              )
              }}" />Zoom In
          </a>
        </li>
        <li class="gantt-menu-item gantt-menu-item-right gantt-menu-item-last">
          <a data-action="zoomOut">
            <img src="{{
              asset(
                'build/assets/js/dhtmlx-gantt/icons/ic_zoom_out.png'
              )
              }}" />Zoom Out
          </a>
        </li>
        <li class="gantt-menu-item gantt-menu-item-right gantt-menu-item-last">
          <a data-action="myTasksFilter" data-checked="false">
            <i class="fa fa-square-o"></i> Mes tâches
          </a>
        </li>
      </ul>
    </div>

    <div id="project_planning_content"
      data-societe-raison-sociale="{{ projet.societe.raisonSociale }}"
      data-project-id="{{ projet.id }}"
      data-project-acronyme="{{ projet.acronyme }}"
      data-start-date="{{
      projet.dateDebut
        ? projet.dateDebut|date('Y-m-d')
        : ''
      }}"
      data-can-edit="{{ userCanEditProjet ? 1 : 0 }}"></div>

    <div class="modal fade"
      id="assignUsers"
      tabindex="-1"
      role="dialog"
      aria-labelledby="assignUsersLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="assignUsersLabel">
              {{ 'affectation_rapide'|trans }}
            </h5>
            <button type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="assignUsersForm"
              name="assign_users_form"
              data-project-id="{{ projet.id }}">
              <div class="row">
                <div class="col-lg-12">
                  <label>Tâches</label>
                  <div class="form-group">
                    <select name="assign_users_form[projetPlanningTask]"
                      class="select-2 form-control w-100"></select>
                  </div>
                </div>
                <div id="tasksParticipants" class="col-lg-12"></div>
              </div>
              <div class="d-flex flex-row justify-content-end align-items-center mt-3">
                <button type="submit"
                  class="btn btn-success btn-validate-assign">
                  {{ 'save'|trans }}
                </button>
                <button type="button"
                  class="btn btn-secondary ml-3"
                  data-dismiss="modal">
                  Fermer
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade"
      id="assignedUsers"
      tabindex="-1"
      role="dialog"
      aria-labelledby="assignedUsersLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="assignedUsersLabel">
              Utilisateurs affectés
            </h5>
            <button type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"
            style="overflow-y: scroll;height: 200px;"></div>
          <div class="modal-footer">
            <button type="button"
              class="btn btn-secondary ml-3"
              data-dismiss="modal">
              Fermer
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade"
      id="createFaitMarquant"
      tabindex="-1"
      role="dialog"
      aria-labelledby="createFaitMarquantLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createFaitMarquantLabel">
              {{ 'addNew_FM'|trans }}
            </h5>
            <button type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              {{ 'want_new_fm'|trans }}
            </p>
          </div>
          <div class="modal-footer">
            <a href=""
              target="_blank"
              class="btn btn-success link-fait-marquant">
              {{ 'yes'|trans }}
            </a>
            <button type="button"
              class="btn btn-secondary"
              data-dismiss="modal">
              {{ 'no'|trans }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="planning-stats" class="d-none">
    {% if
      projet.projetPlanning
        and productPrivilegeCheker(
          constant(
            'App\\SocieteProduct\\Product\\ProductPrivileges::PLANIFICATION_PROJET_AVANCE'
          )
        ) %}
      <div class="col-lg-6 col-md-6 col-sm-12 m-auto">
        <div class="card shadow rounded-xl h-100">
          <div class="card-body">
                <h5 class="text-left d-block">
                  Résumé des tâches
                </h5>
                <small class="text-muted">Tâches de votre projet</small>
                <hr />
                <div class="d-flex justify-content-center align-items-center">
                    <div id="planning-tasks-statuts"
                    data-projet-id="{{ projet.id }}"
                    class="mt-3"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('projet-gantt') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('projet-gantt') }}
{% endblock %}
