{% extends "corp_app/base.html.twig" %}

{% block title %}{{ 'resume_project_title'|trans({'projectAcronyme': projet.acronyme}) }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>
        {{ 'resume_project_title'|trans({'projectAcronyme': projet.acronyme}) }}
    </h1>

    <p>
        {{ 'your_are_about_to_resume_project'|trans({
            'projectAcronyme': projet.acronyme,
            'projectTitle': projet.titre
        })|raw|striptags('<strong>')|raw }}
    </p>

    <a class="d-block mb-4" href="{{ path('corp_app_fo_projet', {id: projet.id}) }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        {{ "go_back_go_project"|trans}}
    </a>

    {{ include('corp_app/fait_marquant/_form.html.twig') }}

{% endblock %}
