{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ 'my_calendar'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>
        {{ 'my_calendar'|trans }}
    </h1>

    <div class="mt-3">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" href="#tab-calendar" data-toggle="tab">Vue calendaire</a>
            </li>
            <li>
                <a class="nav-link" href="#tab-table" data-toggle="tab">Vue tableau</a>
            </li>
        </ul>
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="tab-calendar">
                <div id="societe_users_events_calendar" class="dhx_cal_container">
                    <div class="dhx_cal_navline">
                        <div class="dhx_cal_prev_button">&nbsp;</div>
                        <div class="dhx_cal_next_button">&nbsp;</div>
                        <div class="dhx_cal_today_button"></div>
                        <div class="dhx_cal_date"></div>
                        <div class="dhx_cal_tab" name="day_tab"></div>
                        <div class="dhx_cal_tab" name="week_tab"></div>
                        <div class="dhx_cal_tab" name="month_tab"></div>
                        <div class="dhx_cal_tab" name="year_tab"></div>
                        <div class="dhx_cal_tab" name="agenda_tab"></div>
                        <div class="dhx_dummy dhx_cal_today_button" style='right:220px; width: 90px;' onclick='scheduler.addEventNow()'><i class="fa fa-plus"></i> {{ 'EVENT'|trans }}</div>
                    </div>
                    <div class="dhx_cal_header"></div>
                    <div class="dhx_cal_data"></div>
                </div>
            </div>
            <div class="tab-pane" id="tab-table">
                <table class="table datatable w-100 hover" data-order='[[ 4, "asc" ]]'>
                    <thead>
                    <tr>
                        <th>{{ 'evenement.text'|trans }}</th>
                        <th>{{ 'project'|trans }}</th>
                        <th>Type</th>
                        <th>{{ 'createdBy'|trans }}</th>
                        <th>{{ 'evenement.startDate'|trans }}</th>
                        <th>{{ 'evenement.endDate'|trans }}</th>
                        <th>{{ 'evenement.location'|trans }}</th>
                        <th>{{ 'evenement.solicitation'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody class="filter-projets-by-selected-year">
                    {% for nextEvenementParticipant in nextEvenementParticipants %}
                        <tr>
                            <td class="text-left">
                                <a href="{{ path('corp_app_fo_current_user_events', { 'event' : nextEvenementParticipant.evenement.id }) }}" title="{{ nextEvenementParticipant.evenement.description }}">
                                    {{ nextEvenementParticipant.evenement.text }}
                                </a>
                            </td>
                            <td class="text-center">
                                {% if nextEvenementParticipant.evenement.projet %}
                                <a href="{{ path('corp_app_fo_projet', {'id': nextEvenementParticipant.evenement.projet.id}) }}" title="{{ nextEvenementParticipant.evenement.projet.titre }}">
                                    {{ nextEvenementParticipant.evenement.projet.acronyme }}
                                </a>
                                {% endif %}
                            </td>
                            <td class="text-center">{{ nextEvenementParticipant.evenement.type|trans }}</td>
                            <td class="text-center">{{ nextEvenementParticipant.evenement.createdBy.user.fullName }}</td>
                            <td class="text-center" data-sort='{{ nextEvenementParticipant.evenement.startDate|date('YmdHi') }}'>{{ nextEvenementParticipant.evenement.startDate|date('d/m/Y H:i') }}</td>
                            <td class="text-center" data-sort='{{ nextEvenementParticipant.evenement.endDate|date('YmdHi') }}'>{{ nextEvenementParticipant.evenement.endDate|date('d/m/Y H:i') }}</td>
                            <td class="text-center">{{ nextEvenementParticipant.evenement.location }}</td>
                            <td class="text-center">{{ nextEvenementParticipant.required ? 'Invitation' : 'Information' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('users-events-calendar') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('users-events-calendar') }}
    {% endblock %}