{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ 'my_calendar'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>
        {{ 'my_calendar'|trans }}
    </h1>

    <div class="mt-3">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" href="#tab-calendar" data-toggle="tab">Vue calendaire</a>
            </li>
            <li>
                <a class="nav-link" href="#tab-table" data-toggle="tab">Vue tableau</a>
            </li>
        </ul>
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="tab-calendar">
                <div id="societe_users_events_calendar" class="dhx_cal_container">
                    <div class="dhx_cal_navline">
                        <div class="dhx_cal_prev_button">&nbsp;</div>
                        <div class="dhx_cal_next_button">&nbsp;</div>
                        <div class="dhx_cal_today_button"></div>
                        <div class="dhx_cal_date"></div>
                        <div class="dhx_cal_tab" name="day_tab"></div>
                        <div class="dhx_cal_tab" name="week_tab"></div>
                        <div class="dhx_cal_tab" name="month_tab"></div>
                        <div class="dhx_cal_tab" name="year_tab"></div>
                        <div class="dhx_cal_tab" name="agenda_tab"></div>
                        <div class="dhx_dummy dhx_cal_today_button" title="{{ 'create_event'|trans }}" style='right:220px; width: 30px;' onclick='scheduler.addEventNow()'><i class="fa fa-plus"></i></div>
                    </div>
                    <div class="dhx_cal_header"></div>
                    <div class="dhx_cal_data"></div>
                </div>
            </div>
            <div class="tab-pane" id="tab-table">

                <ul class="nav nav-pills nav-fill w-50 ml-auto mr-auto mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab-next-events" data-toggle="tab">Événements à venir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab-old-events" data-toggle="tab">Événements passés</a>
                    </li>
                </ul>

                <div class="tab-content" id="ex2-content">
                    <div class="tab-pane fade show active" id="tab-next-events" role="tabpanel" aria-labelledby="tab-next-events">
                        <table class="table datatable w-100 hover" data-order='[[ 4, "asc" ]]'>
                            <thead>
                            <tr>
                                <th>{{ 'evenement.text'|trans }}</th>
                                <th>{{ 'project'|trans }}</th>
                                <th>Type</th>
                                <th>{{ 'createdBy'|trans }}</th>
                                <th>{{ 'evenement.startDate'|trans }}</th>
                                <th>{{ 'evenement.endDate'|trans }}</th>
                                <th>{{ 'evenement.location'|trans }}</th>
                                <th>{{ 'evenement.solicitation'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody class="filter-projets-by-selected-year">
                            {% for nextEvenementParticipant in nextEvenementParticipants %}
                                <tr>
                                    <td class="text-left">
                                        <a href="{{ path('corp_app_fo_current_user_events', { 'event' : nextEvenementParticipant.evenement.id }) }}" title="{{ nextEvenementParticipant.evenement.description }}">
                                            {{ nextEvenementParticipant.evenement.text }}
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        {% if nextEvenementParticipant.evenement.projet %}
                                            <a href="{{ path('corp_app_fo_projet', {'id': nextEvenementParticipant.evenement.projet.id}) }}" title="{{ nextEvenementParticipant.evenement.projet.titre }}">
                                                {{ nextEvenementParticipant.evenement.projet.acronyme }}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">{{ nextEvenementParticipant.evenement.type|trans }}</td>
                                    <td class="text-center">{{ nextEvenementParticipant.evenement.createdBy.user.fullName }}</td>
                                    <td class="text-center" data-sort='{{ nextEvenementParticipant.evenement.startDate|date('YmdHi') }}'>{{ nextEvenementParticipant.evenement.startDate|date('d/m/Y H:i') }}</td>
                                    <td class="text-center" data-sort='{{ nextEvenementParticipant.evenement.endDate|date('YmdHi') }}'>{{ nextEvenementParticipant.evenement.endDate|date('d/m/Y H:i') }}</td>
                                    <td class="text-center">{{ nextEvenementParticipant.evenement.location }}</td>
                                    <td class="text-center">{{ nextEvenementParticipant.required ? 'Invitation' : 'Information' }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab-old-events" role="tabpanel" aria-labelledby="tab-old-events">
                        <table class="table datatable w-100 hover" data-order='[[ 4, "desc" ]]'>
                            <thead>
                            <tr>
                                <th>{{ 'evenement.text'|trans }}</th>
                                <th>{{ 'project'|trans }}</th>
                                <th>Type</th>
                                <th>{{ 'createdBy'|trans }}</th>
                                <th>{{ 'evenement.startDate'|trans }}</th>
                                <th>{{ 'evenement.endDate'|trans }}</th>
                                <th>{{ 'evenement.location'|trans }}</th>
                                <th>{{ 'evenement.solicitation'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody class="filter-projets-by-selected-year">
                            {% for oldEvenementParticipant in oldEvenementParticipants %}
                                <tr>
                                    <td class="text-left">
                                        <a href="{{ path('corp_app_fo_current_user_events', { 'event' : oldEvenementParticipant.evenement.id }) }}" title="{{ oldEvenementParticipant.evenement.description }}">
                                            {{ oldEvenementParticipant.evenement.text }}
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        {% if oldEvenementParticipant.evenement.projet %}
                                            <a href="{{ path('corp_app_fo_projet', {'id': oldEvenementParticipant.evenement.projet.id}) }}" title="{{ oldEvenementParticipant.evenement.projet.titre }}">
                                                {{ oldEvenementParticipant.evenement.projet.acronyme }}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">{{ oldEvenementParticipant.evenement.type|trans }}</td>
                                    <td class="text-center">{{ oldEvenementParticipant.evenement.createdBy.user.fullName }}</td>
                                    <td class="text-center" data-sort='{{ oldEvenementParticipant.evenement.startDate|date('YmdHi') }}'>{{ oldEvenementParticipant.evenement.startDate|date('d/m/Y H:i') }}</td>
                                    <td class="text-center" data-sort='{{ oldEvenementParticipant.evenement.endDate|date('YmdHi') }}'>{{ oldEvenementParticipant.evenement.endDate|date('d/m/Y H:i') }}</td>
                                    <td class="text-center">{{ oldEvenementParticipant.evenement.location }}</td>
                                    <td class="text-center">{{ oldEvenementParticipant.required ? 'Invitation' : 'Information' }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('users-events-calendar') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('users-events-calendar') }}
    {% endblock %}