{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ 'menu.projects.list'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>Mes projets externes</h1>

    <table class="table datatable hover" data-order='[[ 1, "asc" ]]'>
        <thead>
        <tr>
            <th class="text-center">{% include 'utils/_code_color.html.twig' with {color: '#e9ece6', size: 15} %}</th>
            <th>{{ 'project'|trans }}</th>
            <th class="text-center">{{ 'company'|trans }}</th>
            <th class="text-center">{{ 'start'|trans }}</th>
            <th class="text-center">{{ 'end'|trans }}</th>
            <th class="text-center">{{ 'status'|trans }}</th>
            <th class="text-center">{{ 'participants'|trans }}</th>
        </tr>
        </thead>
        <tbody>

        {% for projetObservateurExterne in app.user.projetObservateurExternes %}
            <tr
                    data-href="{{ path('corp_app_fo_observateur_externe_view', {'id': projetObservateurExterne.projet.id}) }}"
            >
                <td class="text-center" data-sort='{{ projetObservateurExterne.projet.colorCode }}'>
                    {% include 'utils/_code_color.html.twig' with {color: projetObservateurExterne.projet.colorCode, size: 15} %}
                </td>
                <td class="text-left">
                    <a title="{{ projetObservateurExterne.projet.titre }}" href="{{ path('corp_app_fo_observateur_externe_view', {'id': projetObservateurExterne.projet.id}) }}">
                        {{ projetObservateurExterne.projet.acronyme }}
                    </a>
                </td>
                <td class="text-center">{{ projetObservateurExterne.projet.societe.raisonSociale }}</td>
                <td class="text-center" data-sort='{{ projetObservateurExterne.projet.dateDebut ? projetObservateurExterne.projet.dateDebut|date('Ymd') : '' }}'>{{ projetObservateurExterne.projet.dateDebut ? projetObservateurExterne.projet.dateDebut|date('d/m/Y') : '-' }}</td>
                <td class="text-center" data-sort='{{ projetObservateurExterne.projet.dateFin ? projetObservateurExterne.projet.dateFin|date('Ymd') : '' }}'>{{ projetObservateurExterne.projet.dateFin ? projetObservateurExterne.projet.dateFin|date('d/m/Y') : '-' }}</td>
                <td class="text-center">
                    {% include 'corp_app/projets/_projet_statut.html.twig' with {projet: projetObservateurExterne.projet} %}
                </td>
                <td class="text-center">{{ projetObservateurExterne.projet.projetParticipants|length }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <hr>

    <h1>Mes projets par sociétés</h1>

    <table id="multi_societe_projets_dt" class="table datatable custom-datatable">
        <thead>
            <tr>
                <th class="text-center">{{ 'company'|trans }}</th>
                <th class="text-center">{% include 'utils/_code_color.html.twig' with {color: '#e9ece6', size: 15} %}</th>
                <th>{{ 'project'|trans }}</th>
                <th class="text-center">{{ 'my_role'|trans }}</th>
                <th class="text-center">{{ 'start'|trans }}</th>
                <th class="text-center">{{ 'end'|trans }}</th>
                <th class="text-center">{{ 'status'|trans }}</th>
                <th class="text-center">{{ 'participants'|trans }}</th>
            </tr>
        </thead>
        <tbody>

            {% for societeUser in app.user.societeUsers %}
                {% for projetParticipant in societeUser.projetParticipants %}
                    {% set projet = projetParticipant.projet %}
                    <tr
                            data-href="{{ path('corp_app_fo_multi_switch_societe_go_projet', {'societeUserId': societeUser.id, 'projetId': projet.id}) }}"
                    >
                        <td class="text-center"><strong>{{ projet.societe.raisonSociale }}</strong></td>
                        <td class="text-center" data-sort='{{ projet.colorCode }}'>
                            {% include 'utils/_code_color.html.twig' with {color: projet.colorCode, size: 15} %}
                        </td>
                        <td class="text-left"><a href="{{ path('corp_app_fo_multi_switch_societe_go_projet', {'societeUserId': societeUser.id, 'projetId': projet.id}) }}" title="{{ projet.titre }}">{{ projet.acronyme }}</a></td>
                        <td class="text-center">{{ userRoleOn(projet,societeUser)|trans }}</td>
                        <td class="text-center" data-sort='{{ projet.dateDebut ? projet.dateDebut|date('Ymd') : '' }}'>{{ projet.dateDebut ? projet.dateDebut|date('d/m/Y') : '-' }}</td>
                        <td class="text-center" data-sort='{{ projet.dateFin ? projet.dateFin|date('Ymd') : '' }}'>{{ projet.dateFin ? projet.dateFin|date('d/m/Y') : '-' }}</td>
                        <td class="text-center">
                            {% include 'corp_app/projets/_projet_statut.html.twig' with {projet: projet} %}
                        </td>
                        <td class="text-center">{{ projet.projetParticipants|length }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
