<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ path('app_home') }}">
        <img src="{{ asset('build/assets/img/Logo-RDI-blanc.png') }}" alt="RDI-Manager logo">
    </a>

    {% if app.user %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if userContext.hasSocieteUser %}
                {% include '_menu_horizontal_societe.html.twig' %}
            {% else %}
                {% include '_menu_horizontal_no_societe.html.twig' %}
            {% endif %}

            <div class="btn-group user-menu">
                <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if app.user.currentSocieteUser %}
                        {{ app.user.currentSocieteUser.societe.raisonSociale }}
                        |
                    {% endif %}
                    {{ app.user.prenom }}
                    <i class="fa fa-lg fa-user-circle-o" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right">
                    {% if is_granted('ROLE_BO_USER') %}
                        <a
                            class="dropdown-item"
                            href="{{ path('app_bo_home') }}"
                        >
                            <i class="fa fa-rocket" aria-hidden="true"></i>{{ 'back_office'|trans }}
                        </a>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    <a
                        class="dropdown-item"
                        href="{{ path('app_fo_mon_compte') }}"
                    >
                        <i class="fa fa-user" aria-hidden="true"></i>{{ 'my_account'|trans }}
                    </a>
                    <a
                        class="dropdown-item"
                        href="{{ path('app_fo_multi_societe_switch') }}"
                    >
                        <i class="fa fa-refresh" aria-hidden="true"></i>{{ 'switch_company'|trans }}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a
                        class="dropdown-item"
                        href="{{ path('app_logout') }}"
                    >
                        <i class="fa fa-sign-out" aria-hidden="true"></i>{{ 'logout'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</nav>
