<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>
            {% block title %}
                {{ app.request.attributes.get('_app_name') ? app.request.attributes.get('_app_name') : 'RDI-Manager' }}
            {% endblock %}
        </title>

        {% block meta %}
            <meta name="robots" content="noindex">
        {% endblock %}

		<link rel="icon" type="image/png" href="{{ asset('build/assets/img/logosignRDI.png') }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('base') }}
        {% endblock %}

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                config: ["MMLorHTML.js"],
                jax: ["input/TeX","input/MathML","output/HTML-CSS","output/NativeMML"],
                extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js"],
                TeX: {
                    extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
                }
            });
        </script>
        <script type="text/javascript" src="{{ asset('build/ckeditor/extra-plugins/ckeditor_wiris/MathJax.js') }}"></script>
    </head>
    <body class="{{ app.request.attributes.get('_app_class') ? app.request.attributes.get('_app_class') : 'default_app' }}">
        {% block base_body %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('base') }}
            {% include '_flash_toastr_messages.html.twig' %}
        {% endblock %}

        {% include '_matomo.html.twig' %}
    </body>
</html>
