<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}RDI Manager{% endblock %}</title>

		<link rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css') }}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
		<link rel="stylesheet" href="{{ asset('css/menu-horizontal-front.css') }}">
		<link rel="stylesheet" href="{{ asset('css/popup.css') }}">
		<link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/timeline.css') }}">

		{% block stylesheets %} {% endblock %}

	</head>
	<body>
		{% include('fo_header.html.twig') %}
		{% include('fo_menu_horizontal.html.twig') %}

		<div class="container main-container">
			{% include '_flash_messages.html.twig' %}

			{% block body %}
			{% endblock %}
		</div>

		{% include('footer.html.twig') %}

		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js') }}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="{{ asset('https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js') }}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
		<script src="{{ asset('https://www.gstatic.com/charts/loader.js') }}"></script>
        <script src="{{ asset('js/EmbedForm.js') }}"></script>

		{% block javascripts %}{% endblock %}
	</body>
</html>
