<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

            <link rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css') }}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('css/menu-horizontal-back.css') }}">
            <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
            {# <link rel="stylesheet" href="{{ asset('css/popup.css') }}"> #}


        {% block stylesheets %} {% endblock %}
    </head>
    <body>
        {% include('bo_header.html.twig') %}
        {% include('bo_menu_horizontal.html.twig') %}

            {% block body %}
                {# <section style="min-height: 980px;">
                </section> #}
            {% endblock %}
        {% include('footer.html.twig') %}

        <script src="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js') }}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="{{ asset('https://code.jquery.com/jquery-3.5.1.slim.min.js') }}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="{{ asset('https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js') }}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src="{{ asset('https://www.gstatic.com/charts/loader.js') }}"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>