<ul id="menu-demo2">

	<li><a href="{{ path ('synthese_fo_') }}">Tableau de bord</a>	</li>
	<li><a href="{{ path ('projets_') }}">Mes Projets</a>

		<ul>
			<li><a href="{{ path ('projets_') }}"  class="menu-icon">Liste des projets</a></li>
			{% if is_granted('ROLE_FO_CDP') %}
			<li><a href="{{ path ('infos_projet_') }}" class="menu-icon">Nouveau projet</a></li>
			{% endif %}
		</ul>
	</li>
	<li><a href="{{ path ('temps_') }}">Suivi temps</a>
		<ul>
			<li><a href="{{ path ('temps_') }}">Feuille de temps</a></li>
			<li><a href="{{ path ('absences_') }}">Mes absences</a></li>
		</ul>
	</li>
	{% if is_granted('ROLE_FO_ADMIN') %}
	<li><a href="{{ path ('utilisateurs_fo_') }}">Administration</a>
		<ul>
			<li><a href="{{ path ('utilisateurs_fo_') }}">Liste des utilisateurs</a></li>
			<li><a href="{{ path ('infos_utilisateur_fo_') }}">Nouvel utilisateur</a></li>
			<li><a href="{{ path ('compte_') }}">Mon compte</a></li>
		</ul>
	</li>
	{% endif %}
</ul>