{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ (isTeamUsers ? 'menu.equipe.users' : 'users_list') | trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ (isTeamUsers ? 'my_collaborators' : 'users_list') | trans }}</h1>

    <ul class="nav nav-tabs mb-3 tab-filter-users">
        <li class="nav-item">
            <a class="nav-link enabled-users active" href="#0">{{ "enabled"|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled-users" href="#0">{{ "disabled"|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link all-users" href="#0">{{ 'allString'|trans }}</a>
        </li>
        <input type="hidden" id="filter-users-statut">
        {% if isTeamUsers %}
            <li class="nav-item ml-auto">
                <a class="nav-link organigramme-team" href="#0">{{ "organigramme"|trans }}</a>
            </li>
        {% endif %}
    </ul>

    <table id="users_list_dt" class="table datatable custom-datatable hover">
        <thead>
        <tr>
            <th class="text-left">Avatar</th>
            <th class="text-center">{{ 'lastname'|trans }}</th>
            <th class="text-center">{{ 'firstname'|trans }}</th>
            <th class="text-center">{{ 'email'|trans }}</th>
            <th class="text-center">{{ 'role'|trans }}</th>
            <th class="text-center">{{ 'status'|trans }}</th>
            <th class="text-center">{{ 'projects'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for societeUser in societeUsers %}
            <tr class="{{ societeUser.enabled ? '' : 'text-muted' }}">
                <td class="text-center"> {% include 'utils/_avatar.html.twig' with {user: societeUser.user, size: 24, toExpend: true} %}</td>
                <td class="text-center">{{ societeUser.user.nom }}</td>
                <td class="text-center">{{ societeUser.user.prenom }}</td>
                <td class="text-center">{{ societeUser.user.email }}</td>
                <td class="text-center" data-sort='{{ societeUser.role|trans }}'>
                    <span class="d-none d-sm-block">{{ societeUser.role|trans }}</span>
                    <span class="d-sm-none">{{ (societeUser.role ~'.small')|trans }}</span>
                </td>
                <td class="text-center" data-search='{{ societeUser.statut }}'>{{ societeUser.statut|trans }}</td>
                <td class="text-center">{{ societeUser.projetParticipants|length }}</td>
                <td class="d-flex justify-content-end align-items-center">
                    {% if not isTeamUsers and societeUser.teamMembers | length > 0 %}
                        <a href="javascript:;" class="show_user_organigramme btn-rdi-icon" data-societe-user-id="{{ societeUser.id }}" title="{{ 'show_user_organigram'|trans }}">
                            <i class="fa fa-lg fa-sitemap"></i>
                        </a>
                    {% endif %}
                    <a class="btn-rdi-icon" href="{{ path('corp_app_fo_societe_user', { 'id': societeUser.id }) }}" title="{{ 'user_profil_fo'|trans }}">
                        <i class="fa fa-lg fa-eye"></i>
                    </a>
                    <a class="btn-rdi-icon" href="{{ path('corp_app_fo_utilisateur_modifier', { 'id': societeUser.id }) }}" title="{{ 'user_profil_edit'|trans }}">
                        <i class="fa fa-lg fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if userContext.societeUser.isAdminFo %}
        <div class="my-3 text-right">
            <a href="{{ path('corp_app_fo_admin_user_invite') }}" class="btn btn-outline-primary">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                {{ 'invite_new_user'|trans }}
            </a>
        </div>
    {% endif %}

    <div id="users_list_organigramme" data-societe-user-id="{{ userContext.societeUser.id }}"></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('users-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {{ encore_entry_script_tags('users-list') }}
{% endblock %}