<h1>Feuille de temps</h1>

<div class="row">
    <div class="col-6">
        <dl class="row">
            <dt class="col-3">{{ 'lastname'|trans }}</dt>
            <dd class="col-9">{{ timesheet.cra.societeUser.user.nom }}</dd>

            <dt class="col-3">{{ 'firstname'|trans }}</dt>
            <dd class="col-9">{{ timesheet.cra.societeUser.user.prenom }}</dd>

            <dt class="col-3">{{ 'email'|trans }}</dt>
            <dd class="col-9">{{ timesheet.cra.societeUser.user.email }}</dd>
        </dl>
    </div>
    <div class="col-6">
        <dl class="row">
            <dt class="col-3">{{ 'company'|trans }}</dt>
            <dd class="col-9">{{ timesheet.cra.societeUser.societe.raisonSociale }}</dd>

            <dt class="col-3">{{ 'worked_hours_per_day'|trans }}</dt>
            <dd class="col-9">{{ timesheet.heuresParJours|round(2) }} h</dd>
        </dl>
    </div>
</div>

<h2>{{ timesheet.cra.mois|format_date(pattern='MMMM yyyy')|capitalize }}</h2>

<table class="table table-sm table-bordered text-center">
    <thead>
        <tr>
            <th></th>

            {% for key, jour in timesheet.cra.jours %}
                <th class="rdi-cra-col">
                    {{ timesheet.cra.mois|date_modify('+'~key~' day')|format_date(pattern='ccccc d')|upper|replace({' ': '\n'})|nl2br }}
                </th>
            {% endfor %}

            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for projet in timesheet.projets %}
            <tr>
                {# Projet #}
                <th>
                    {{ projet.participation.projet.acronyme }}
                    <br>
                    <small class="text-muted">{{ projet.participation.role|trans }}</small>
                </th>

                {# Détails par jour #}
                {% for key, jour in timesheet.cra.jours %}
                    {% if projet.hasValue %}
                        <td class="rdi-cra-value">{{ projet.workedHours[key]|round(2) }}</td>
                    {% else %}
                        <td class="rdi-cra-value">-</td>
                    {% endif %}
                {% endfor %}

                {# Total heures #}
                <td>
                    <strong>{{ 'n_hours_short'|trans({'%n%': projet.totalWorkedHours|round(2)}) }}</strong>
                </td>
            </tr>
        {% endfor %}

        {# Présence #}
        <tr>
            <th>
                {{ 'presence'|trans }}
                <br>
                <small class="text-muted">
                    {{ '.in_days_unit'|trans }}
                </small>
            </th>
            {% for jour in timesheet.cra.jours %}
                <td class="rdi-cra-value"><strong>{{ jour }}</strong></td>
            {% endfor %}

            <td><strong>{{ 'n_days_short'|trans({'%n%': timesheet.totalJours}) }}</strong></td>
        </tr>
    </tbody>
</table>

<p class="text-right lead">
    {{ 'total_hours_in_month:'|trans({'%month%': timesheet.cra.mois|format_date(pattern='MMMM yyyy')}) }}
    <strong>{{ 'n_hours_short'|trans({'%n%': timesheet.totalWorkedHours|round(2)}) }}</strong>
</p>
<p class="text-right text-muted">
    {{ '.or_n_percent'|trans({'%n%': timesheet.totalPourcentage}) }}
</p>
