{% extends 'base.html.twig' %}

{% block body %}

<h1>Mon tableau de bord</h1>

<div class="row">
    <div class="col-lg-4">
        <h3>Mes tâches</h3>
        <div id="mes-temps-rappel" data-url-temps-passes="{{ path('app_fo_temps') }}">
        </div>
    </div>
    <div class="col-lg-7 offset-lg-1">
        <div id="recents-projets" data-url-projet="{{ path('app_fo_projet', {'id': 0}) }}">
        </div>
    </div>
</div>

<div class="row my-4">
	<div class="col-md-10 mx-auto bordure">
        <h2>Analyse des projets de l'année
            <span
                class="year-switch"
                data-event-name="loadYearlyCharts"
            ></span>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4 class="text-center">Nombre d'heures par projet</h4>

        <div id="heures-par-projet">
        </div>
    </div>
    <div class="offset-md-1 col-md-7">
        <h4 class="text-center">Mes contributions</h4>
        <table class="table text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>Moi</th>
                    <th>Équipe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left">Projets</td>
                    <td class="moi-vs-equipe moi projet">…</td>
                    <td class="moi-vs-equipe equipe projet">…</td>
                </tr>
                <tr>
                    <td class="text-left">Projets de type RDI</td>
                    <td class="moi-vs-equipe moi projet-rdi">…</td>
                    <td class="moi-vs-equipe equipe projet-rdi">…</td>
                </tr>
                <tr>
                    <td class="text-left">Temps total de contribution</td>
                    <td class="moi-vs-equipe moi temps-total">…</td>
                    <td class="moi-vs-equipe equipe temps-total">…</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row my-4">
	<div class="col-md-10 mx-auto">
        <h2>Analyse des projets depuis
            <span
                class="year-switch"
                data-event-name="loadSinceYearCharts"
                data-year-selected="{{ '-3 years'|date('Y') }}"
            ></span>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4 class="text-center">Réalisation des projets</h4>

        <div id="projets-statuts">
        </div>
    </div>
    <div class="offset-md-1 col-md-7">
        <h4 class="text-center">Type de projets réalisés</h4>

        <div id="projets-rdi-vs-non-rdi">
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
