{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ 'edit_my_company'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'edit_my_company'|trans }}</h1>

    <a href="{{ path('corp_app_fo_admin_societe_show') }}" class="d-block mb-4">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        {{ 'back'|trans }}
    </a>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.raisonSociale) }}
            {{ form_row(form.siret) }}
            {{ form_row(form.heuresParJours) }}
            {{ form_row(form.workStartTime) }}
            {{ form_row(form.workEndTime) }}
            {{ form_row(form.coutEtp) }}
            {{ form_row(form.currency) }}
            {{ form.faitMarquantMaxDesc is defined ? form_row(form.faitMarquantMaxDesc) : ''}}
            {{ form.faitMarquantMaxDescIsblocking is defined ?form_row(form.faitMarquantMaxDescIsblocking) : '' }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.timesheetGranularity) }}
        </div>
    </div>

    <button type="submit" class="btn btn-success">{{ 'update'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}
