{% extends 'corp_app/base.html.twig' %}

{% block title %}{{ societe.raisonSociale }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-center align-items-center mt-4">
        <h1 class="mb-0 mt-0">
            {{ societe.raisonSociale }}
        </h1>
        <div class="ml-3 mt-2">
            <span>
                <div class="input-color-container">
                    <input type="color" id="societe_colorCode" class="input-color" value="{{ societe.colorCode }}" data-href="{{ path('corp_app_fo_admin_societe_code_color_edit') }}">
                </div>
            </span>
        </div>
    </div>

    <p class="text-center">
        {{ 'business_identification_number:'|trans }} <span class="text-monospace">{{ societe.siret|formatSiret }}</span>
        <br>
        <a href="{{ path('corp_app_fo_admin_societe_edit') }}">{{ 'edit_my_company_data'|trans }}</a>
    </p>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card rdi-card-icon text-center h-100">
                <i class="fa fa-building" aria-hidden="true"></i>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title">Logo</h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text display-4 mb-0">
                                {% include 'utils/_avatar.html.twig' with {societe: societe, size: 180, border: true} %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path ('corp_app_fo_admin_societe_logo_edit') }}" class="card-link">{{ 'edit_societe_logo'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card rdi-card-icon text-center h-100">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title">{{ 'users_number'|trans }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ '.attached_to_my_company'|trans }}</h6>
                            <p class="card-text mb-0">
                                <p class="display-4 d-inline-block">{{ societe.activeSocieteUsers|length }}</p>
                                 <h5 class="d-inline-block">actifs / {{ societe.enableSocieteUsers|length }}</h5>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path ('corp_app_fo_utilisateurs') }}" class="card-link">{{ 'display_users_list'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card rdi-card-icon text-center  h-100">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title deck">{{ 'worked_hours'|trans }}</h5>
                            <h6 class="card-subtitle mb-2 deck text-muted">{{ '.per_day_per_default'|trans }}</h6>
                            <p class="card-text deck display-4 mb-0">
                                {% if societe.heuresParJours %}
                                    {{ 'n_hours_short'|trans({'%n%': societe.heuresParJours}) }}
                                {% else %}
                                    <small class="text-danger">{{ 'to_be_defined'|trans }}</small>
                                {% endif %}
                            </p>
                            <small class="text-muted">
                                {{ 'default_value_used_in_timesheets.'|trans }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('corp_app_fo_admin_societe_edit') }}" class="card-link">{{ 'edit_hours_number'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card rdi-card-icon text-center  h-100">
                <i class="fa fa-euro" aria-hidden="true"></i>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title deck">{{ 'cost_worked_hours'|trans }}</h5>
                            <p class="card-text deck display-4 mb-0">
                                {% if societe.coutEtp %}
                                    {{ 'cout_hours_short'|trans({'%n%': societe.coutEtp, '%currency%' : societe.currency }) }}
                                {% else %}
                                    <small class="text-danger">{{ 'to_be_defined'|trans }}</small>
                                {% endif %}
                            </p>
                            <small class="text-muted">
                                {{ 'essential_for_budget_analysis.'|trans }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('corp_app_fo_admin_societe_edit') }}" class="card-link">{{ 'edit_cost_hours_number'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card rdi-card-icon text-center h-100">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title deck">{{ 'time_spent_recording'|trans }}</h5>
                            <h6 class="card-subtitle mb-2 deck text-muted">{{ 'time_spent_recording_granularity'|trans }}</h6>
                            <p class="card-text deck display-4 mb-0">
                                {{ societe.timesheetGranularity|trans }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('corp_app_fo_admin_societe_edit') }}" class="card-link">{{ 'change_granularity'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card rdi-card-icon text-center h-100">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title deck">{{ 'max_legnth_fait_marquant_desc'|trans }}</h5>
                            <h6 class="card-subtitle mb-2 deck text-muted">{{ '.in_number_of_char'|trans }}</h6>
                            <p class="card-text deck display-4 mb-0">
                                {{ societe.faitMarquantMaxDesc == -1 ? ('illimited'|trans) : societe.faitMarquantMaxDesc - 1 }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a
                    {% if productPrivilegeCheker(constant('App\\SocieteProduct\\Product\\ProductPrivileges::FAIT_MARQUANT_DESCRIPTION_SIZE')) %}
                    href="{{ path('corp_app_fo_admin_societe_edit')}}" class="card-link"
                    {% else %}
                    href="#" title="{{ 'product_privilege_no_dispo'|trans }}" class="disabled"
                    {% endif %}>
                        {{ 'change_max_legnth_fait_marquant_desc'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card rdi-card-icon text-center h-100">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                            <h5 class="card-title deck">{{ 'menu.admin.notification_parameters'|trans }}</h5>
                            <h6 class="card-subtitle mb-2 deck text-muted"></h6>
                            <p class="card-text deck display-4 mb-0">
                                SMS, Mail, Slack ...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('corp_app_fo_admin_notification') }}" class="card-link">{{ 'menu.admin.notification_parameters'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
