{% extends "base.html.twig" %}

{% block title %}{{ "projectString"|trans }} {{ projet.acronyme }} | {{ parent() }}{% endblock %}

{% block body %}

    {% include('utils/_btn_html_to_pdf.html.twig') %}

    <div id="containerHtmlToPdf">

        <h1>
            {{ "projectString"|trans }} {{ projet.acronyme }}<br>
            <small class="text-muted">{{ "SOCIETE_CDP"|trans }} : {{ projet.chefDeProjet|entityLink }}</small>
        </h1>

        <a class="d-block mb-4 text-center not-printable" href="{{ path('app_fo_projet', {'id': projet.id}) }}">
            {{ "go_on_project"|trans }}
        </a>

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row row-flex">
                    <div class="col-md-4 col-sm-12">
                        <div class="row row-flex text-center h-100">
                            <div class="col-12">
                                <h5 class="card-title"><a href="{{ path('app_fo_projet_participant', {'id': projet.id}) }}">
                                        <i class="fa fa-users" aria-hidden="true"></i> {{ "quota.contributeurs.name"|trans }}
                                    </a>
                                </h5>
                                <p class="card-text display-4 mb-0">
                                    {{ projet.projetParticipants|filterByRoleExactly(constant('App\\Security\\Role\\RoleProjet::CONTRIBUTEUR'))|length + projet.projetParticipants|filterByRoleExactly(constant('App\\Security\\Role\\RoleProjet::CDP'))|length }}
                                </p>
                            </div>
                            <div class="col-12">
                                <h5 class="card-title">
                                    <a href="{{ path('app_fo_projet', {'id': projet.id}) }}">
                                        <i class="fa fa-road" aria-hidden="true"></i> {{ "FAITS_MARQUANTS"|trans }}
                                    </a>
                                </h5>
                                <p class="card-text display-4 mb-0">
                                    {{ projet.faitMarquants|length }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if projet.annualRdiScores is not null and projet.annualRdiScores | length > 0 %}
                    <div class="col-md-8 col-sm-12 p-0">
                        <div id="annual-rdi-scores" data-annual-rdi-scores="{{ projet.annualRdiScores|json_encode() }}"></div>
                    </div>
                    {% endif %}
                </div>


                    <div class="col-md-12 my-4 mx-auto bordure">
                        <h2>
                            <span
                                    class="year-switch text-center"
                                    data-event-name="projet-chart-year-changed"
                                    {% if projet.dateDebut %}
                                        data-year-from="{{ projet.dateDebut|date('Y') }}"
                                    {% endif %}
                                    data-with-unit="temps-unit-switch"
                            ></span>
                            {{ 'time_spent_in'|trans }}
                            <span
                                    class="temps-unit-switch"
                                    data-event-name="projet-chart-year-changed"
                            ></span>
                        </h2>
                    </div>

                <div class="col-md-12">
                    <div id="chart-projet-users-temps" data-projet-id="{{ projet.id }}"></div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
