{% extends "base.html.twig" %}

{% block title %}{{ "projectString"|trans }} {{ projet.acronyme }} | {{ parent() }}{% endblock %}

{% block body %}

    {% include('utils/_btn_html_to_pdf.html.twig') %}

    <div id="containerHtmlToPdf">

        <h1>
            {{ "projectString"|trans }} {{ projet.acronyme }}<br>
            <small class="text-muted">{{ "SOCIETE_CDP"|trans }} : {{ projet.chefDeProjet|entityLink }}</small>
        </h1>

        <a class="d-block mb-4 text-center not-printable" href="{{ path('app_fo_projet', {'id': projet.id}) }}">
            {{ "go_on_project"|trans }}
        </a>

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <a class="d-block mb-4 not-printable" href="{{ path('app_fo_admin_projets') }}">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    {{ "menu.projects.list"|trans }}
                </a>


                <div class="card-deck mb-4">
                    <div class="card rdi-card-icon text-center">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                                    <h5 class="card-title"><a
                                                href="{{ path('app_fo_projet_participant', {'id': projet.id}) }}">{{ "quota.contributeurs.name"|trans }}</a>
                                    </h5>
                                    <p class="card-text display-4 mb-0">
                                        {{ projet.projetParticipants|filterByRoleExactly(constant('App\\Security\\Role\\RoleProjet::CONTRIBUTEUR'))|length + projet.projetParticipants|filterByRoleExactly(constant('App\\Security\\Role\\RoleProjet::CDP'))|length }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rdi-card-icon text-center">
                        <i class="fa fa-road" aria-hidden="true"></i>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                                    <h5 class="card-title"><a href="{{ path('app_fo_projet', {'id': projet.id}) }}">{{ "FAITS_MARQUANTS"|trans }}</a></h5>
                                    <p class="card-text display-4 mb-0">
                                        {{ projet.faitMarquants|length }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if projet.annualRdiScores %}
                        <div class="card rdi-card-icon text-center">
                            <i class="fa fa-flask" aria-hidden="true"></i>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                                        <h5 class="card-title" style="color: #007bff;">Score RDI
                                            <span
                                                    class="year-switch text-center"
                                                    data-event-name="projet-score-rdi-year-changed"
                                                    data-annual-rdi-scores="{{ projet.annualRdiScores|json_encode() }}"
                                                    data-year-from="{{ projet.annualRdiScores | keys | first }}"
                                                    data-year-to="{{ projet.annualRdiScores | keys | last }}"
                                            ></span>
                                        </h5>
                                        <h6 class="card-subtitle mb-2 deck text-muted">elligibilité RDI évaluée par
                                            l'algorithme RDI-Manager</h6>
                                        <p class="card-text display-4 mb-0">
                                            <span class="rdi-percent text-success">
                                                <span class="rdi-value"></span><sup>/ 100</sup>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>


                <div class="row my-4">
                    <div class="col-md-12 mx-auto bordure">
                        <h2>
                            <span
                                    class="year-switch text-center"
                                    data-event-name="projet-chart-year-changed"
                                    {% if projet.dateDebut %}
                                        data-year-from="{{ projet.dateDebut|date('Y') }}"
                                    {% endif %}
                                    data-with-unit="temps-unit-switch"
                            ></span>
                            {{ 'time_spent_in'|trans }}
                            <span
                                    class="temps-unit-switch"
                                    data-event-name="projet-chart-year-changed"
                            ></span>
                        </h2>
                    </div>
                </div>

                <div id="chart-projet-users-temps" data-projet-id="{{ projet.id }}"></div>

            </div>
        </div>
    </div>

{% endblock %}
