{% extends 'base.html.twig' %}

{% block title %}{{ 'company_projects'|trans }}{% endblock %}

{% block body %}
    <h1>
        {{ 'company_projects'|trans }}
        <span
            class="year-switch"
            data-event-name="year-changed"
            data-year-from="{{ yearMin }}"
            data-year-to="{{ yearMax }}"
        ></span>
    </h1>

    <table class="table table-hover text-center mx-auto m-5 stretched-link-table-row">
        <thead>
            <tr>
                <th class="text-left">{{ 'project'|trans }}</th>
                <th>{{ 'PROJET_CDP'|trans }}</th>
                <th class="d-none d-md-table-cell">{{ 'start'|trans }}</th>
                <th class="d-none d-md-table-cell">{{ 'end'|trans }}</th>
                <th class="d-none d-md-table-cell">{{ 'status'|trans }}</th>
                <th>{{ 'participants_nb'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="filter-projets-by-selected-year">
            {% for projet in projets %}
                <tr
                    data-year-start="{{ projet.dateDebut ? projet.dateDebut|date('Y') : '-' }}"
                    data-year-end="{{ projet.dateFin ? projet.dateFin|date('Y') : '-' }}"
                >
                    <td class="text-left"><a href="{{ path('app_fo_projet', {'id': projet.id}) }}" title="{{ projet.titre }}">{{ projet.acronyme }}</a></td>
                    <td class=>{{ projet.chefDeProjet.user.fullName }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ projet.dateDebut ? projet.dateDebut|date('d/m/Y') : '-' }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ projet.dateFin ? projet.dateFin|date('d/m/Y') : '-' }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ projet.statut }}</td>
                    <td class="text-center">{{projet.projetParticipants|length}}</td>
                    <td class="text-center">
                        <a href="{{ path('app_fo_projet', {'id': projet.id}) }}" class="stretched-link">
                            <i class="fa fa-lg fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="{{ path('app_fo_admin_projet', {'id': projet.id}) }}">
                            <i class="fa fa-lg fa-bar-chart" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
