{% extends 'base.html.twig' %}

{% block title %}Edition du projet {{ projet.titre }} | {{ parent() }}{% endblock %}

{% block body %}

<div class="row">
	<div class="col-lg-8 offset-lg-2">
	    <h1>Modification du projet {{ projet.acronyme }}</h1>
		{{ form_start(form) }}

	        {{ form_row(form.titre) }}
	        {{ form_row(form.acronyme) }}
	        {{ form_row(form.resume) }}

			<div class="d-md-flex justify-content-between">
	        	{{ form_row(form.dateDebut) }}
	        	{{ form_row(form.dateFin) }}
			</div>

	        {{ form_row(form.projetInterne) }}
	        {{ form_row(form.projetCollaboratif) }}
	        {{ form_row(form.projetPpp) }}
	        {{ form_row(form.statutProjet) }}

			<div class="text-center">
	        	{{ form_row(form.submit, { 'label' : bouton }) }}
			</div>

		{{ form_end(form) }}
	</div>
</div>


{% endblock %}
