{% extends 'base.html.twig' %}

{% block title %}Edition du projet {{ projet.titre }} | {{ parent() }}{% endblock %}

{% block body %}

<div class="row">
	<div class="col-lg-8 offset-lg-2">
	    <h1>Modification du projet {{ projet.acronyme }}</h1>
        {{ form_start(form) }}

        {{ form_row(form.acronyme) }}

            {{ form_label(form.colorCode) }}
            <div class="row">
                <div class="col-12 d-flex flex-row justify-content-start align-items-center">
                    {{ form_row(form.usedColorCodes) }}
                    {{ form_widget(form.colorCode) }}
                </div>
            </div>

            {{ form_row(form.titre) }}
	        {{ form_row(form.resume) }}

			<div class="d-md-flex justify-content-between">
	        	{{ form_row(form.dateDebut) }}
	        	{{ form_row(form.dateFin) }}
			</div>

	        {{ form_row(form.projetUrls) }}

			<button class="btn btn-outline-primary add-external-link mb-4">
				<i class="fa fa-plus" aria-hidden="true"></i>
				{{ 'add_external_link'|trans }}
			</button>

	        {{ form_row(form.projetInterne) }}
	        {{ form_row(form.projetCollaboratif) }}
	        {{ form_row(form.projetPpp) }}

			<div class="text-center">
	        	{{ form_row(form.submit, { 'label' : bouton }) }}
			</div>

		{{ form_end(form) }}
	</div>
    <div class="col-lg-4 offset-lg-2">
        <div class="card border-danger mb-3">
            <div class="card-body text-danger">
                <h5 class="card-title">{{ 'delete_project_title'|trans({'projectAcronyme': projet.acronyme}) }}</h5>
                <p class="card-text">
                    {{ 'delete_project_link_description'|trans }}
                    <a
                            href="{{ path('app_fo_projet_delete', {'id': projet.id}) }}"
                            class="btn btn-outline-danger mt-4"
                    >{{ 'verify_and_delete_project'|trans }}</a>
                </p>
            </div>
        </div>
    </div>
    {% if projet.isSuspended %}
    <div class="col-lg-4">
        <div class="card border-success mb-3">
            <div class="card-body text-success">
                <h5 class="card-title">{{ 'resume_project_title'|trans({'projectAcronyme': projet.acronyme}) }}</h5>
                <p class="card-text">
                    <a
                            href="{{ path('app_fo_projet_resume', {'id': projet.id}) }}"
                            class="btn btn-outline-success mt-4"
                    >{{ 'resume_project'|trans }}</a>
                </p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-lg-4">
        <div class="card border-warning mb-3">
            <div class="card-body text-warning">
                <h5 class="card-title">{{ 'suspend_project_title'|trans({'projectAcronyme': projet.acronyme}) }}</h5>
                <p class="card-text">
                    <a
                            href="{{ path('app_fo_projet_suspend', {'id': projet.id}) }}"
                            class="btn btn-outline-warning mt-4"
                    >{{ 'suspend_project'|trans }}</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}
