{% extends 'base.html.twig' %}

{% block title %}{{ 'events_calendar'|trans({'projectAcronyme': projet.acronyme}) }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'events_calendar'|trans({'projectAcronyme': projet.acronyme}) }}</h1>

    <a class="d-block mb-4" href="{{ path('app_fo_projet', {id: projet.id}) }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        {{ 'go_back_go_project'|trans }}
    </a>

    <div id="project_events_calendar"
         class="dhx_cal_container"
         data-project-id="{{ projet.id }}"
         data-selected-event="{{ app.request.query.get('event') }}"
    >
        <div class="dhx_cal_navline">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_cal_tab" name="day_tab"></div>
            <div class="dhx_cal_tab" name="week_tab"></div>
            <div class="dhx_cal_tab" name="month_tab"></div>
            <div class="dhx_cal_tab" name="year_tab"></div>
            <div class="dhx_cal_tab" name="agenda_tab"></div>
{#            <div class="dhx_cal_tab" name="export_agenda_tab">Export Agenda (.ical)</div>#}
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data"></div>
    </div>

{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('projet-events-calendar') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('projet-events-calendar') }}
    {% endblock %}