{% extends "base.html.twig" %}

{% block title %}Projet {{ projet.titre }} | {{ parent() }}{% endblock %}

{% block body %}

<div class="acronyme">
    <h1>Projet : {{ projet.acronyme }}</h1>
</div>

<p class="text-center">
    {% if projet.projetCollaboratif %}
        <span class="badge badge-success">Collaboratif</span>
    {% endif %}
    {% if projet.projetInterne %}
        <span class="badge badge-success">Interne</span>
    {% endif %}
    {% if projet.projetPpp %}
        <span class="badge badge-success">PPP - R&amp;D</span>
    {% endif %}
    {% if projet.statutRdi %}
        <span class="badge badge-success">Elligible RDI</span>
    {% endif %}
</p>

{# <h2 class="text-center">{{ projet.titre }}</h2> #}

    <ul class="list-group col-lg-8 my-4 mx-auto">
        <li class="list-group-item text-justify"><strong>Titre descriptif : </strong> {{ projet.titre|capitalize }} </li>
        <li class="list-group-item text-justify"><strong>Résumé : </strong> {{ projet.resume|nl2br }} </li>
        <li class="list-group-item"><strong>Chef de projet : </strong> {{ projet.chefDeProjet.fullname }} </li>
        <li class="list-group-item"><strong>Date de début : </strong> {{ projet.dateDebut|format_date }} </li>
        {% if projet.dateFin %}
            <li class="list-group-item" style="background-color: lightgray;  border: none;"><strong>Date de fin : </strong> {{ projet.dateFin|format_date }} </li>
        {% endif %}
        <li class="list-group-item" style="background-color: lightgray;  border: none;"><strong>Statut : </strong> {{ projet.statutProjet.libelle }} </li>
    </ul>

<div class="row_projet">
    <div class="col-6 col-sm-6 col-lg-6">
        <a
            href="{{ path('liste_fichiers_') }}"
            class="btn btn-rdi btn-block mt-2"
        >Fichiers</a>
        <a
            href="{{ path('projet_participant', {'id': projet.id}) }}"
            class="btn btn-rdi btn-block mt-2 {{ userCanEditProjet ? '' : 'disabled' }}"
            {% if not userCanEditProjet %}
                title="Seul le chef de projet peut gérer les participants"
            {% endif %}
        >Participants</a>        
    </div>
    <div class="col-6 col-sm-6 col-lg-6">
        <a
            href="{{ path('projet_edition', {'id': projet.id}) }}"
            class="btn btn-rdi btn-block mt-2 {{ userCanEditProjet ? '' : 'disabled' }}"
            {% if not userCanEditProjet %}
                title="Seul le chef de projet peut modifier"
            {% endif %}
        >Modifier Projet</a>
        <a
            href="{{ path('fait_marquant_ajouter', {projetId: projet.id}) }}"
            class="btn btn-rdi btn-block mt-2 {{ userCanAddFaitMarquant ? '' : 'disabled' }}"
            {% if not userCanAddFaitMarquant %}
                title="Seuls les contributeurs du projet peuvent ajouter un fait marquant"
            {% endif %}
        >Fait marquant</a>
    </div>
</div>


<section id="timeline">
    <h2 class="facts">Faits marquants</h2>

    {% if projet.hasFaitMarquants() %}
    <ul class="timeline">
        {% for faitMarquant in projet.faitMarquants %}
            <li class="event">
                <h4 style="font-size: 1em" data-date="{{ faitMarquant.date|format_date }}">{{ faitMarquant.date|format_date }} - <span>{{ faitMarquant.createdBy.prenom }} {{ faitMarquant.createdBy.nom }}</span></h4>
                <h3>{{ faitMarquant.titre }}</h3>
                <p>
                    {{ faitMarquant.description|nl2br }}
                </p>
                <div class="font-awesome" style="text-align: end;">
                    <a href="{{ path('fait_marquant_modifier', {'id': faitMarquant.id}) }}"><i class="fa fa-edit" style="font-size: 1.5em;"></i></a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Ce projet n'a pas encore de fait marquants.</p>
    {% endif %}
</section>

{% endblock %}

