{% extends "base.html.twig" %}

{% block title %}Acronyme du projet{% endblock %}

{% block h1 %}
    {% if acronyme is defined %}
        {{ acronyme }}
    {% else %}
        Projet 
    {% endif %}
{% endblock %}

{% block body %}
    <style>
        body {min-height: 532px; }
        a {color: black; }
        a:hover {text-decoration: none; color:  linear-gradient(to bottom, #729EBF 0%, #333A40 100%); }
        .img_logo {position: absolute; left: 4%; top: 8%; }

        .img_logo img {height: 40px; } 
        .contenu {margin-top: 40px; display: flex; }

        .date_fin {position: relative; left: 0%; }
        label#date_fin.col-lg-4.col-form-label {position: relative; left: 20%; }
        .register {position: relative; left: 13%; }
        .gerer_participants {background-color: rgb(134, 174, 226); }
        th {color: white; }
        td {background-color: whitesmoke; text-align: center; }
        .gestion {position: relative; left: -16%; }
        .btn-success {color: white; background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); border: none; }

        .settings {display: flex; justify-content: space-between;  }
        .settings1 {display: flex; justify-content: space-between; }
        .facts {border: 1px solid black; border-radius: 2em; background-color: #ce352c; color: white; }
        /* .new_user {position: absolute; left: 59%; top: 50%; } */
        /* .facts .new_user a {background-color: brown; } */
        .overlay {position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.7); transition: opacity 500ms; visibility: hidden; opacity: 0; }
        .overlay:target {visibility: visible; opacity: 1; }
        #popup4 {position: absolute; z-index: 5; height: 57em; top: 19%; left: 10%; width: 80%; }
        #popup3 {position: absolute; z-index: 5; height: 57em; top: 19%; left: 10%; width: 80%; }

        #popup1 {position: absolute; z-index: 5; height: 57em; top: 19%; left: 10%; width: 80%; }
        span {font-size: 1em; }
        .popup {margin: 70px auto; padding: 20px; background: #fff; border-radius: 5px; width: 50%; position: relative; transition: all 5s ease-in-out; }
        .close {position: absolute; top: 5%; right: 3%; font-size: xx-large; }
        .valid {text-align: center; margin-top: 20px; }

        {#--------------------------------------------------- RESPOONSIVE DESIGN --------------------------------------------------#}
        @media screen and (max-width: 970px)
        {
            #fichier {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center;     }
        }






        @media screen and (max-width: 540px)
        {
            #fichiers {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; }
        }
    </style>

    <title>Détails du projet</title>
    
    <div class="contenu">

        <div class="container form">
        
            <div class="form-group row">
                <div class="text-center mx-auto projet">
                    <h1 style="color: #ce352c;">
                        {% if acronyme is defined %}
                            {{ acronyme }}
                        {% else %}
                            Projet 
                        {% endif %}
                    </h1>
                </div>
            </div>
            <div class="form-group row" style="display: flex;">
                <div class="text-center mx-auto">
                    <button type="button" class="btn btn-outline-primary">Collaboratif</button>
                    <button type="button" class="btn btn-outline-secondary">PPP - R&D</button>
                    <button type="button" class="btn btn-outline-success">Eligible RDI</button>
                </div>
            </div>
<!-- 
            <div class="form-group row">
                <label for="projet" class="col-sm-2 col-form-label">Projet</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="projet">
                </div>
            </div> -->
            <div class="form-group row">
                <label for="titre" class="col-lg-2 col-form-label">Titre</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="titre" placeholder="Développement IP" disabled>
                </div>
            </div>
            <!-- <div class="form-group row">
                <label for="statut" class="col-lg-2 col-form-label">Statut</label>
                <div class="col-lg-8">
                    <select id="statut" class="form-control"  disabled>
                        <option selected>En cours</option>
                        <option>Création</option>
                        <option>Terminé</option>
                    </select>                
                </div>
            </div> -->
            <div class="form-group row">
                <label for="liste_projets" class="col-lg-2 col-form-label"></label>
                <div class="col-lg-8">
                    <textarea class="form-control" id="liste_projets" rows="3"  disabled>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium ratione rem repellat dolores ut recusandae asperiores corrupti, quo, id provident dolorem voluptatum excepturi perspiciatis quia possimus! Laudantium sed dolore labore?</textarea>
                </div>    
            </div>
            <div class="form-group row">
                <label for="chef_projet" class="col-lg-2 col-form-label">Chef du projet</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="chef_projet" placeholder="Sylvain Clément"  disabled>
                </div>
            </div>
            <div class="bloc">
                <div class="date">
                    <div class="form-group row">
                        <label for="date_debut" class="col-lg-2 col-form-label">Date de début</label>
                        <div class="col-lg-2">
                          <input type="date" class="form-control" id="date_debut"  disabled>
                        </div>
                        <label for="date_fin" class="col-lg-4 col-form-label" id="date_fin">Date de fin</label>
                        <div class="col-lg-2">
                            <input type="date" class="form-control" id="date_fin"  disabled>
                        </div>
                    </div>
                </div>
            </div>
                <div class="fichier">
                    <div class="form-group row" id="fichiers" style="position: relative; left: -12%; margin-top: 7%;">
                        <div class="col-lg-4 mx-auto settings"  style="margin-left: 5%;">
                            <div class="gestion">
                                <a href="fo-liste-fichiers.php"><input type="button" class="btn btn-success" style="width: 30.2vh;" value="Fichiers joints"></a>
                            </div>
                            <div class="new_user"  style="margin-left: -12%;">
                                <a class="button" href="#popup3"><input type="button" class="btn btn-success" style="width: 30.2vh;" value="Gestion des participants"></a>
                            </div>
                            <div class="new_user" style="position: relative; left: 5%;">
                                <a href="#popup4"><input type="button" class="btn btn-success" style="width: 30.2vh;" value="Modifier le projet"></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="fichiers" style="position: relative; left: -12%;">
                        <div class="col-lg-4 mx-auto settings"  style="margin-left: 5%;">
                            <div class="gestion">
                                <a href="#"><input type="file" class="btn btn-success" style="width: 30.2vh;" value="Ajouter un fichier"></a>
                            </div>
                            <div class="new_user"  style="margin-left: -12%;">
                                <a href="fo-new-user.php"><input type="button" class="btn btn-success" style="width: 30.2vh;" value="Ajouter un participant"></a>
                            </div>
                            <div class="new_user" style="position: relative; left: 5%;">
                                <a class="button" href="#popup1" ><input type="submit" class="btn btn-success" style="width: 30.2vh;" value="Ajouter un fait marquant"></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div id="popup4" class="overlay">
        <div class="popup">
            <h5 class="text-center m-4" style="font-size: 2em;">Modifier le projet</h5>    
            <a class="close" href="#">&times;</a>
            <div class="form-group row">
                <label for="titre" class="col-sm-2 col-form-label">Titre</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="titre" placeholder="Développement IP">
                </div>
            </div>
            <div class="form-group row">
                <label for="statut" class="col-sm-2 col-form-label">Statut</label>
                <div class="col-sm-8">
                    <select id="statut" class="form-control" >
                        <option selected>En cours</option>
                        <option>Création</option>
                        <option>Terminé</option>
                    </select>                
                </div>
            </div>
            <div class="form-group row">
                <label for="liste_projets" class="col-sm-2 col-form-label">Résumé</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="liste_projets" rows="3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium ratione rem repellat dolores ut recusandae asperiores corrupti, quo, id provident dolorem voluptatum excepturi perspiciatis quia possimus! Laudantium sed dolore labore?</textarea>
                </div>    
            </div>
            <div class="form-group row">
                <label for="chef_projet" class="col-sm-2 col-form-label">Chef du projet</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="chef_projet" placeholder="Sylvain Clément">
                </div>
            </div>
            <div class="bloc">
                <div class="date">
                    <div class="form-group row">
                        <label for="date_debut" class="col-sm-2 col-form-label">Date de début</label>
                        <div class="col-sm-2">
                          <input type="date" class="form-control" id="date_debut">
                        </div>
                        <label for="date_fin" class="col-sm-4 col-form-label" id="date_fin">Date de fin</label>
                        <div class="col-sm-2">
                            <input type="date" class="form-control" id="date_fin">
                        </div>
                    </div>      
                </div>
            </div>
            <div class="text-center new_user">
                <a href="fo-projet-02.php"><input type="button" class="btn btn-success" value="Modifier"></a>
            </div>      
        </div>
    </div>

    <div class="main-container" style="margin-top: 7vh;">
        <section id="timeline" class="timeline-outer">
            <div class="container" id="content">
                <div class="text-center mx-auto facts">
                    <h1 style="font-size: 2.5em; text-decoration: none; ">Faits marquants</h1>
                </div>
                {% if projet.hasFaitMarquants() %}
                <ul class="timeline">
                    {% for faitMarquant in projet.faitMarquants %}
                        <li class="event">
                            <h4 style="font-size: 1em" data-date="{{ faitMarquant.date|format_date }}">{{ faitMarquant.date|format_date }} - <span>{{ faitMarquant.createdBy.prenom }} {{ faitMarquant.createdBy.nom }}</span></h4>
                            <h3>{{ faitMarquant.titre }}</h3>
                            <p>
                                {{ faitMarquant.description|nl2br }}
                            </p>
                            <div class="font-awesome" style="text-align: end;">
                                <a href=""><i class="fa fa-edit" style="font-size: 1.5em;"></i></a>
                                <a href=""><i class="fa fa-trash" style="font-size: 1.5em;"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Ce projet n'a pas encore de fait marquants.</p>
                {% endif %}
            </div>
        </section>
    </div>

    <div id="popup3" class="overlay">
        <div class="popup">
            <h5 class="text-center m-4" style="font-size: 2em;">Gérer les participants</h5>    
            <a class="close" href="#">&times;</a>
            <table class="table table-bordered col-md text-center mx-auto m-5" style="max-width: 90%;">
                <thead>
                    <tr class="gerer_participants">
                        <th>Participants</th>
                        <th>Rôle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrateur</td>
                        <td style="background: white; border: white;"><div><a href="fo-admin-01.php"><img src="https://img.icons8.com/small/36/000000/edit.png"/></a></div></td>
                        <td style="background: white; border: white;"><div><a href="#"><img onclick="confirm" class="delete" src="https://img.icons8.com/small/36/000000/filled-trash.png"/></a></div></td>

                    </tr>
                    <tr>
                        <td>Kévin Njifenju</td>
                        <td>Administrateur</td>
                        <td style="background: white; border: white;"><div><a href="fo-admin-01.php"><img src="https://img.icons8.com/small/36/000000/edit.png"/></a></div></td>
                        <td style="background: white; border: white;"><div><a href="#"><img onclick="confirm" class="delete" src="https://img.icons8.com/small/36/000000/filled-trash.png"/></a></div></td>
                    </tr>
                    <tr>
                        <td>Sylvain Clément</td>
                        <td>Chef de projet</td>
                        <td style="background: white; border: white;"><div><a href="fo-admin-01.php"><img src="https://img.icons8.com/small/36/000000/edit.png"/></a></div></td>
                        <td style="background: white; border: white;"><div><a href="#"><img onclick="confirm" class="delete" src="https://img.icons8.com/small/36/000000/filled-trash.png"/></a></div></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center new_user">
                <a href="fo-new-user.php"><input type="button" class="btn btn-success" value="Ajouter"></a>
            </div>
        </div>
    </div>
        
    <!-- <div class="facts">
        <h2 class="text-center mx-auto m-4" style="font-size: 2em;">Faits marquants</h2>
        <div class="text-center new_user">
            <a class="button" href="#popup1"><input type="submit" value="Ajouter un fait marquant"></a>
        </div>
    </div> -->

    <div id="popup1" class="overlay">
        <div class="popup">
            <h4 class="text-center mb-4">Projet : Développement ID</h4>
            <div class="projet form-group row" style="position: relative; left: 3%;">
                <label for="titre" class="col-sm-2 col-form-label">Titre</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="projet" placeholder="Management and Entreprenurship (MSc)">
                </div>
            </div> 
            <!-- <h2 class="text-center m-4">Projet : <span>Développement IP</span> </h2> -->
            <a class="close" href="#">&times;</a>
            <div class="col-lg mx-auto">
                <textarea class="form-control" id="liste_projets" rows="11">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis doloremque voluptate similique tempora eius alias, vitae reprehenderit est, molestiae illum vero consequatur illo quis blanditiis ab nemo consectetur delectus nisi! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat enim nesciunt, quod ratione impedit adipisci nulla eveniet corporis, ad porro iure, saepe soluta! Laboriosam possimus modi nostrum asperiores, nihil obcaecati.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem totam exercitationem ducimus architecto! Magnam doloribus ducimus velit ut provident assumenda! Omnis non suscipit architecto ad! Nemo tempora autem soluta rem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe id voluptate dolorum. Placeat quos natus quam non molestiae odio! Earum ipsa praesentium error repellendus tempora soluta molestias consectetur eum sint.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, culpa. Illo molestias excepturi natus, sunt laboriosam exercitationem dolorum? Labore, natus eligendi! Maiores vero labore et sed distinctio, quo aliquam laboriosam.</textarea>
            </div> 
            <div class="valid">
                <a href="fo-projet-02.php"><input type="button" class="btn btn-success" value="Valider">
            </div>         
        </div>
    </div> 

{% endblock %}

