{% extends "base.html.twig" %}

{% block title %}Projet {{ projet.titre }}{% endblock %}

{% block body %}
    <style>
        body {min-height: 532px; overflow-x: hidden; }
        a {color: black; }
        a:hover {text-decoration: none; color:  linear-gradient(to bottom, #729EBF 0%, #333A40 100%); }
        .img_logo {position: absolute; left: 4%; top: 8%; }

        .img_logo img {height: 40px; } 

        .date_fin {position: relative; left: 0%; }
        label#date_fin.col-lg-4.col-form-label {position: relative; left: 20%; }
        .register {position: relative; left: 13%; }
        .gerer_participants {background-color: rgb(134, 174, 226); }
        th {color: white; }
        td {background-color: whitesmoke; text-align: center; }

        {# .gestion {position: relative; left: -16%; } #}
        .fichier {margin-left: -10em; margin-top: 5%;  flex-direction: column; flex-wrap: wrap; justify-content: center; position: relative; left: 36.30%; }
        .gestion, .new_user {margin-right: 1em; }
        input {width: 25.2vh; }


        /* #fichiers {display: flex; flex-direction: column;   flex-wrap: wrap; 	justify-content: center; align-items: center; margin: 0 auto;} */


        .btn-success {color: white; background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); border: none; }

        .settings {display: flex; justify-content: space-between;  }
        .settings1 {display: flex; justify-content: space-between; }
        .facts {border: 1px solid black; border-radius: 2em; background-color: #ce352c; color: white; }
        /* .new_user {position: absolute; left: 59%; top: 50%; } */
        /* .facts .new_user a {background-color: brown; } */
        .overlay {position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.7); transition: opacity 500ms; visibility: hidden; opacity: 0; }
        .overlay:target {visibility: visible; opacity: 1; }
        {# #popup4 {position: absolute; z-index: 5; height: 57em; top: 19%; left: 10%; width: 80%; } #}
        #popup3 {position: absolute; z-index: 5; height: 57em; top: 19%; left: 10%; width: 80%; }

        #popup1 {position: absolute; z-index: 5; height: 57em; top: 19%; left: 10%; width: 80%; }
        span {font-size: 1em; }
        .popup {margin: 70px auto; padding: 20px; background: #fff; border-radius: 5px; width: 50%; position: relative; transition: all 5s ease-in-out; }
        .close {position: absolute; top: 5%; right: 3%; font-size: xx-large; }
        .valid {text-align: center; margin-top: 20px; }

        .cd-popup-container .cd-buttons li:first-child a {background: #ce352c; }
        .cd-popup-container .cd-buttons li:last-child a {background: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); }

        {#--------------------------------------------------- RESPOONSIVE DESIGN --------------------------------------------------#}

        @media (min-width: 768px) and (max-width: 991.98px) {
            .fichier {margin-left: -10em; display: flex;  flex-direction: column; flex-wrap: wrap; justify-content: center; }
        }

        @media (min-width: 576px) and (max-width: 767.98px) {
            .fichier {display: flex; flex-direction: column;   flex-wrap: wrap; 	justify-content: center; align-items: center; margin: 0 auto; }
            .gestion, .new_user {margin-bottom: 1em; }
            label#date_fin.col-lg-4.col-form-label {position: relative; left: 0%; }

        }

        @media screen and (max-width: 576px) {
            .fichier {display: flex; flex-direction: column;   flex-wrap: wrap; 	justify-content: center; align-items: center; margin: 0 auto; }
            .gestion, .new_user {margin-bottom: 1em; }    
            #menu-demo2 {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; }
            label#date_fin.col-lg-4.col-form-label {position: relative; left: 0%; }
            .personne {display: none; }
            .select {position: absolute; left: 70%; bottom: 20%; }
        }
    </style>

    <div class="form">

        <h1>Projet : {{ projet.acronyme }}</h1>

        <p class="text-center">
            {% if projet.projetCollaboratif %}
                <span class="badge badge-success">Collaboratif</span>
            {% endif %}
            {% if projet.projetInterne %}
                <span class="badge badge-success">Interne</span>
            {% endif %}
            {% if projet.projetPpp %}
                <span class="badge badge-success">PPP - R&amp;D</span>
            {% endif %}
            {% if projet.statutRdi %}
                <span class="badge badge-success">Elligible RDI</span>
            {% endif %}
        </p>

        <div class="container">
            <h2 class="text-center"> {{ projet.titre }} </h2>
            <ul class="list-group col-lg-8 mt-4 mx-auto">
                <li class="list-group-item"><strong>Résumé : </strong> {{ projet.resume|nl2br }} </li>
                <li class="list-group-item"><strong>Chef de projet : </strong> {{ projet.chefDeProjet.fullname }} </li>
                <li class="list-group-item"><strong>Date de début : </strong> {{ projet.dateDebut|format_date }} </li>
                {% if projet.dateFin %}
                    <li class="list-group-item"><strong>Date de fin : </strong> {{ projet.dateFin|format_date }} </li>
                {% endif %}
                <li class="list-group-item"><strong>Statut : </strong> {{ projet.statutProjet.libelle }} </li>
            </ul>
        </div>
        <section class="fichier col-lg">

            <div class="form-group row" id="fichiers">
                <!-- <div class="col-lg-4 mx-auto settings d-flex m-right: 12px;"> -->
                    <div class="gestion">
                        <a href="{{ path('liste_fichiers_') }}"><input type="button" class="btn btn-success" value="Fichiers joints"></a>
                    </div>
                    <div class="new_user">
                        <a
                            href="{{ path('projet_participant', {'projetId': projet.id}) }}"
                            class="btn btn-success {{ userCanEditProjet ? '' : 'disabled' }}"
                            {% if not userCanEditProjet %}
                                title="Seul le chef de projet peut gérer les participants"
                            {% endif %}
                        >Gestion des participants</a>
                    </div>
                    <div class="new_user">
                        <a
                            href="{{ path('projet_edition', {'id': projet.id}) }}"
                            class="btn btn-success {{ userCanEditProjet ? '' : 'disabled' }}"
                            {% if not userCanEditProjet %}
                                title="Seul le chef de projet peut modifier"
                            {% endif %}
                        >Modifier le projet</a>
                    </div>
                <!-- </div> -->
            </div>

            <div class="form-group row" id="fichiers">
                <!-- <div class="col-lg-4 mx-auto settings d-flex"> -->
                <div class="gestion">
                    <a href=""><input type="button" class="btn btn-success" value="Ajouter un fichier"></a>
                </div>
                <div class="new_user">
                    <a
                        href="{{ path('fait_marquant_ajouter', {projetId: projet.id}) }}"
                        class="btn btn-success {{ userCanAddFaitMarquant ? '' : 'disabled' }}"
                        {% if not userCanAddFaitMarquant %}
                            title="Seuls les contributeurs du projet peuvent ajouter un fait marquant"
                        {% endif %}
                    >Ajouter un fait marquant</a>
                </div>
            </div>

        </section> </br>

    </div>

    <div class="main-container" style="margin-top: 7vh;">
        <section id="timeline" class="timeline-outer">
            <div class="container" id="content">
                <div class="text-center mx-auto facts">
                    <h2>Faits marquants</h2>
                </div>
                {% if projet.hasFaitMarquants() %}
                <ul class="timeline">
                    {% for faitMarquant in projet.faitMarquants %}
                        <li class="event">
                            <h4 style="font-size: 1em" data-date="{{ faitMarquant.date|format_date }}">{{ faitMarquant.date|format_date }} - <span>{{ faitMarquant.createdBy.prenom }} {{ faitMarquant.createdBy.nom }}</span></h4>
                            <h3>{{ faitMarquant.titre }}</h3>
                            <p>
                                {{ faitMarquant.description|nl2br }}
                            </p>
                            <div class="font-awesome" style="text-align: end;">
                                <a href="{{ path('fait_marquant_modifier', {'id': faitMarquant.id}) }}"><i class="fa fa-edit" style="font-size: 1.5em;"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Ce projet n'a pas encore de fait marquants.</p>
                {% endif %}
            </div>
        </section>
    </div>

    <div class="cd-popup3" role="alert">
        <div class="cd-popup-container" style="top: 18%;">

            <h5 class="text-center m-4" style="font-size: 2em;">Gérer les participants</h5>    
            <table class="table table-bordered col-md text-center mx-auto m-5" style="max-width: 90%;">
                <thead>
                    <tr class="gerer_participants">
                        <th>Participants</th>
                        <th>Rôle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrateur</td>
                        <td style="background: white; border: white;"><div><a href="fo-admin-01.php"><img src="https://img.icons8.com/small/36/000000/edit.png"/></a></div></td>
                        <td style="background: white; border: white;"><div><a href="#"><img onclick="confirm" class="delete" src="https://img.icons8.com/small/36/000000/filled-trash.png"/></a></div></td>

                    </tr>
                    <tr>
                        <td>Kévin Njifenju</td>
                        <td>Administrateur</td>
                        <td style="background: white; border: white;"><div><a href="fo-admin-01.php"><img src="https://img.icons8.com/small/36/000000/edit.png"/></a></div></td>
                        <td style="background: white; border: white;"><div><a href="#"><img onclick="confirm" class="delete" src="https://img.icons8.com/small/36/000000/filled-trash.png"/></a></div></td>
                    </tr>
                    <tr>
                        <td>Sylvain Clément</td>
                        <td>Chef de projet</td>
                        <td style="background: white; border: white;"><div><a href="fo-admin-01.php"><img src="https://img.icons8.com/small/36/000000/edit.png"/></a></div></td>
                        <td style="background: white; border: white;"><div><a href="#"><img onclick="confirm" class="delete" src="https://img.icons8.com/small/36/000000/filled-trash.png"/></a></div></td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center new_user">
                <a href="fo-new-user.php"><input type="button" class="btn btn-success" value="Ajouter"></a>
            </div>

	        <a href="#0" class="cd-popup-close img-replace">Close</a>

        </div>
    </div>
        
    <!-- <div class="facts">
        <h2 class="text-center mx-auto m-4" style="font-size: 2em;">Faits marquants</h2>
        <div class="text-center new_user">
            <a class="button" href="#popup1"><input type="submit" value="Ajouter un fait marquant"></a>
        </div>
    </div> -->

    <div id="popup1" class="overlay">
        <div class="popup">
            <h4 class="text-center mb-4">Projet : Développement ID</h4>
            <div class="projet form-group row" style="position: relative; left: 3%;">
                <label for="titre" class="col-sm-2 col-form-label">Titre</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="projet" placeholder="Management and Entreprenurship (MSc)">
                </div>
            </div> 
            <!-- <h2 class="text-center m-4">Projet : <span>Développement IP</span> </h2> -->
            <a class="close" href="#">&times;</a>
            <div class="col-lg mx-auto">
                <textarea class="form-control" id="liste_projets" rows="11">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis doloremque voluptate similique tempora eius alias, vitae reprehenderit est, molestiae illum vero consequatur illo quis blanditiis ab nemo consectetur delectus nisi! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat enim nesciunt, quod ratione impedit adipisci nulla eveniet corporis, ad porro iure, saepe soluta! Laboriosam possimus modi nostrum asperiores, nihil obcaecati.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem totam exercitationem ducimus architecto! Magnam doloribus ducimus velit ut provident assumenda! Omnis non suscipit architecto ad! Nemo tempora autem soluta rem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe id voluptate dolorum. Placeat quos natus quam non molestiae odio! Earum ipsa praesentium error repellendus tempora soluta molestias consectetur eum sint.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, culpa. Illo molestias excepturi natus, sunt laboriosam exercitationem dolorum? Labore, natus eligendi! Maiores vero labore et sed distinctio, quo aliquam laboriosam.</textarea>
            </div> 
            <div class="valid">
                <a href="fo-projet-02.php"><input type="button" class="btn btn-success" value="Valider">
            </div>         
        </div>
    </div> 

    <div class="cd-popup" role="alert">
	    <div class="cd-popup-container" style="top: 18%;">
            <h4 class="text-center mb-4">Projet : Développement ID</h4>
            <div class="projet form-group row" style="position: relative; left: 3%;">
                <label for="titre" class="col-sm-2 col-form-label">Titre</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="projet" placeholder="Management and Entreprenurship (MSc)">
            </div>
        </div> 
        <!-- <h2 class="text-center m-4">Projet : <span>Développement IP</span> </h2> -->
        <div class="col-lg mx-auto">
            <textarea class="form-control" id="liste_projets" rows="11"></textarea>
        </div> 
	    <ul class="cd-buttons mt-5">
	        <li><a href="">Supprimer</a></li>
	        <li class="cd-popup-date"><a href="{{ path('fiche_projet_', {'id': projet.id}) }}">Annuler</a></li>
	    </ul>       
	    <a href="#0" class="cd-popup-close img-replace">Close</a>
    </div>

</div>

<script>
    jQuery(document).ready(function($){
    	//open popup
    	$('.cd-popup-trigger').on('click', function(event){
    		event.preventDefault();
    		$('.cd-popup').addClass('is-visible');
    	});

    	//close popup
    	$('.cd-popup').on('click', function(event){
    		if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup') ) {
    			event.preventDefault();
    			$(this).removeClass('is-visible');
    		}
    	});

    	//close popup when clicking the esc keyboard button
    	$(document).keyup(function(event) {
        	if(event.which=='27'){
        		$('.cd-popup').removeClass('is-visible');
    	    }
        });
    });


    jQuery(document).ready(function($){
    	//open popup
    	$('.cd-popup-trigger2').on('click', function(event){
    		event.preventDefault();
    		$('.cd-popup2').addClass('is-visible');
    	});

    	//close popup
    	$('.cd-popup2').on('click', function(event){
    		if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup2') ) {
    			event.preventDefault();
    			$(this).removeClass('is-visible');
    		}
    	});

    	//close popup when clicking the esc keyboard button
    	$(document).keyup(function(event) {
        	if(event.which=='27'){
        		$('.cd-popup2').removeClass('is-visible');
    	    }
        });
    });


    jQuery(document).ready(function($){
    	//open popup
    	$('.cd-popup-trigger3').on('click', function(event){
    		event.preventDefault();
    		$('.cd-popup3').addClass('is-visible');
    	});

    	//close popup
    	$('.cd-popup3').on('click', function(event){
    		if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup3') ) {
    			event.preventDefault();
    			$(this).removeClass('is-visible');
    		}
    	});

    	//close popup when clicking the esc keyboard button
    	$(document).keyup(function(event) {
        	if(event.which=='27'){
        		$('.cd-popup3').removeClass('is-visible');
    	    }
        });
    });

</script> 

{% endblock %}
