{% extends "base.html.twig" %}

{% block title %}Projet {{ projet.acronyme }} | {{ parent() }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12 col-lg-8">
        <h1>Projet {{ projet.acronyme }}</h1>

        <p class="lead text-center">{{ projet.titre }}</p>

        <p class="text-center">Chef de projet : {{ projet.chefDeProjet|entityLink }}</p>

        <p class="text-center">
            {% if projet.projetCollaboratif %}
                <span class="badge badge-success">Collaboratif</span>
            {% endif %}
            {% if projet.projetInterne %}
                <span class="badge badge-success">Interne</span>
            {% endif %}
            {% if projet.projetPpp %}
                <span class="badge badge-success">PPP - R&amp;D</span>
            {% endif %}
            {% if projet.isRdi %}
                <span class="badge badge-success">Elligible RDI</span>
            {% endif %}
        </p>
    </div>
    <div class="col-12 col-lg-4">
        <div class="projet-actions">
            <a
                href="{{ path('app_fo_projet_modifier', {'id': projet.id}) }}"
                class="btn btn-outline-primary rounded-circle {{ userCanEditProjet ? '' : 'disabled' }}"
                {% if not userCanEditProjet %}
                    title="Seul le chef de projet peut modifier"
                {% else %}
                    title="Modifier les informations du projet"
                {% endif %}
            ><i class="fa fa-cog"></i></a>
            <a
                href="{{ path('app_fo_projet_custom', {'id': projet.id}) }}"
                class="btn btn-outline-primary rounded-circle"
                title="Exporter le projet en PDF"
            ><i class="fa fa-download"></i></a>
            <a
                href="{{ path('app_fo_projet_activity', {'id': projet.id}) }}"
                class="btn btn-outline-primary rounded-circle"
                title="Activité du projet"
            ><i class="fa fa-rss"></i></a>
            <a
                href="{{ path('app_fo_admin_projet', {'id': projet.id}) }}"
                class="btn btn-outline-primary rounded-circle {{ is_granted(constant('App\\Security\\Role\\RoleSociete::ADMIN')) ? '' : 'disabled' }}"
                {% if not is_granted(constant('App\\Security\\Role\\RoleSociete::ADMIN')) %}
                    title="Seuls les administrateurs ont accès aux métriques du projet"
                {% else %}
                    title="Statistiques du projet"
                {% endif %}
            ><i class="fa fa-bar-chart"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8">
        {% include 'projets/fiche_projet-main.html.twig' %}
    </div>
    <aside class="col-12 col-lg-4">
        {% include 'projets/fiche_projet-sidebar.html.twig' %}
    </aside>
</div>

{% endblock %}

