{% extends "base.html.twig" %}

{% block title %}Projet {{ projet.titre }} | {{ parent() }}{% endblock %}

{% block body %}

<h1>Projet {{ projet.acronyme }}</h1>

<p class="text-center">
    {% if projet.projetCollaboratif %}
        <span class="badge badge-success">Collaboratif</span>
    {% endif %}
    {% if projet.projetInterne %}
        <span class="badge badge-success">Interne</span>
    {% endif %}
    {% if projet.projetPpp %}
        <span class="badge badge-success">PPP - R&amp;D</span>
    {% endif %}
    {% if projet.statutRdi %}
        <span class="badge badge-success">Elligible RDI</span>
    {% endif %}
</p>

<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card bg-light-grey border-light">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Titre : </strong></div>
                    <div class="col-md-9">{{ projet.titre }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Résumé : </strong></div>
                    <div class="col-md-9 text-justify">{{ projet.resume|nl2br }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Chef de projet : </strong></div>
                            <div class="col-md-6">{{ projet.chefDeProjet.fullname }}</div>
                        </div>
                        {% if projet.dateDebut %}
                            <div class="row mb-3">
                                <div class="col-md-4"><strong>Date de début : </strong></div>
                                <div class="col-md-6">{{ projet.dateDebut|format_date }}</div>
                            </div>
                        {% endif %}
                        {% if projet.dateFin %}
                            <div class="row mb-3">
                                <div class="col-md-4"><strong>Date de fin : </strong></div>
                                <div class="col-md-6">{{ projet.dateFin|format_date }}</div>
                            </div>
                        {% endif %}
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Statut : </strong></div>
                            <div class="col-md-6">{{ projet.statut }}</div>
                        </div>
                    </div>
                    <div class="d-none d-md-block">
                        <strong>Participants : </strong>
                        {% if projet.projetParticipants() %}
                            {% for projetParticipant in projet.projetParticipants %}
                                <ul class="mt-3">
                                    <li>{{ projetParticipant.user.fullname }} - {{ projetParticipant.role }}</li>
                                </ul>
                            {% endfor %}
                        {% else %}
                            <p>Pas de contributeurs à ce projet</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="col-sm-6 col-md-3">
                <a
                    href="{{ path('liste_fichiers_', {'id': projet.id}) }}"
                    class="btn btn-block btn-outline-primary mt-2"
                >Fichiers</a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a
                    href="{{ path('projet_participant', {'id': projet.id}) }}"
                    class="btn btn-block btn-outline-primary mt-2 {{ userCanEditProjet ? '' : 'disabled' }}"
                    {% if not userCanEditProjet %}
                        title="Seul le chef de projet peut gérer les participants"
                    {% endif %}
                >Participants</a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a
                    href="{{ path('projet_edition', {'id': projet.id}) }}"
                    class="btn btn-block btn-outline-primary mt-2 {{ userCanEditProjet ? '' : 'disabled' }}"
                    {% if not userCanEditProjet %}
                        title="Seul le chef de projet peut modifier"
                    {% endif %}
                >Projet</a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a
                    href="{{ path('fait_marquant_ajouter', {projetId: projet.id}) }}"
                    class="btn btn-block btn-outline-primary mt-2 {{ userCanAddFaitMarquant ? '' : 'disabled' }}"
                    {% if not userCanAddFaitMarquant %}
                        title="Seuls les contributeurs du projet peuvent ajouter un fait marquant"
                    {% endif %}
                >Fait marquant</a>
            </div>
        </div>


        <section id="timeline">
            <h2 class="facts">Faits marquants</h2>

            {% if projet.hasFaitMarquants() %}
            <ul class="timeline">
                {% for faitMarquant in projet.faitMarquants %}
                    <li class="event">
                        <h4 data-date="{{ faitMarquant.date|format_date }}">
                            {{ faitMarquant.date|format_date }}
                            -
                            <span>{{ faitMarquant.createdBy.fullname }}</span>
                        </h4>
                        <h3>{{ faitMarquant.titre }}</h3>
                        <p class="text-justify">
                            {{ faitMarquant.description|nl2br }}
                        </p>
                        <div class="text-right">
                            <a
                                href="{{ path('fait_marquant_modifier', {'id': faitMarquant.id}) }}"
                                class="btn btn-sm btn-outline-primary {% if not is_granted(constant('App\\ProjetResourceInterface::EDIT'), faitMarquant) %}disabled{% endif %}"
                                {% if not is_granted(constant('App\\ProjetResourceInterface::EDIT'), faitMarquant) %}
                                    disabled
                                    title="Vous ne pouvez pas modifier les faits marquants qui ne vous appartiennent pas"
                                {% endif %}
                            >
                                <i class="fa fa-pencil"></i>
                                Modifier
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>Ce projet n'a pas encore de fait marquants.</p>
            {% endif %}
        </section>
    </div>
</div>

{% endblock %}

