{% extends "base.html.twig" %}

{% block title %}Projet {{ projet.acronyme }} | {{ parent() }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12 col-lg-8">
        <h1>
            {% include 'utils/_code_color.html.twig' with {color: projet.colorCode} %}
            Projet {{ projet.acronyme }}
        </h1>

        <p class="lead text-center">{{ projet.titre }}</p>

        <p class="text-center">
            {{ 'PROJET_CDP'|trans }}
            {% include 'utils/_avatar.html.twig' with {user: projet.chefDeProjet.user, size: 28, toExpend: true} %}
            {{ projet.chefDeProjet|entityLink }}
        </p>

        <p class="text-center">
            {% if projet.projetCollaboratif %}
                <span class="badge badge-success">Collaboratif</span>
            {% endif %}
            {% if projet.projetInterne %}
                <span class="badge badge-success">Interne</span>
            {% endif %}
            {% if projet.projetPpp %}
                <span class="badge badge-success">PPP - R&amp;D</span>
            {% endif %}
            {% if projet.isRdi %}
                <span class="badge badge-success">Elligible RDI</span>
            {% endif %}
        </p>
    </div>
    <div class="col-12 col-lg-4">
        <div class="projet-actions">
            <a
                href="{{ path('app_fo_projet_modifier', {'id': projet.id}) }}"
                class="btn btn-outline-primary rounded-circle {{ userCanEditProjet ? '' : 'disabled' }}"
                {% if not userCanEditProjet %}
                    title="Seul le chef de projet peut modifier"
                {% else %}
                    title="Modifier les informations du projet"
                {% endif %}
            ><i class="fa fa-cog"></i></a>
            <a
                href="{{ path('app_fo_projet_custom', {'id': projet.id}) }}"
                class="btn btn-outline-primary rounded-circle"
                title="Exporter le projet en PDF"
            ><i class="fa fa-download"></i></a>
            <a
                href="{{ path('app_fo_projet_activity', {'id': projet.id}) }}"
                class="btn btn-outline-primary rounded-circle"
                title="Activité du projet"
            ><i class="fa fa-rss"></i></a>
            <a
                href="{{ path('app_fo_admin_projet', {'id': projet.id}) }}"
                class="btn btn-outline-primary rounded-circle {{ is_granted(constant('App\\Security\\Role\\RoleSociete::ADMIN')) ? '' : 'disabled' }}"
                {% if not is_granted(constant('App\\Security\\Role\\RoleSociete::ADMIN')) %}
                    title="Seuls les administrateurs ont accès aux métriques du projet"
                {% else %}
                    title="Statistiques du projet"
                {% endif %}
            ><i class="fa fa-bar-chart"></i></a>
            <div class="dropdown">
                <a href="javascript:;" class="btn btn-outline-primary rounded-circle {{ is_granted(constant('App\\Security\\Role\\RoleSociete::ADMIN')) ? '' : 'disabled' }}" id="dropdownOtherMenuButton" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownOtherMenuButton">
                    <a class="dropdown-item m-0" href="{{ path('app_fo_fait_marquant_trash', { 'id' : projet.id }) }}"><i class="fa fa-trash"></i> Corbeille des FM</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8">
        {% include 'projets/fiche_projet-main.html.twig' %}
    </div>
    <aside class="col-12 col-lg-4 d-none d-md-block">
        {% include 'projets/fiche_projet-sidebar.html.twig' %}
    </aside>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'n_observateur'|trans({'%n%': projet.projetParticipants|filterByRoleExactly(constant('App\\Security\\Role\\RoleProjet::OBSERVATEUR'))|length}) }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for projetParticipant in projet.projetParticipants|filterByRoleExactly(constant('App\\Security\\Role\\RoleProjet::OBSERVATEUR')) %}
                        {% if projetParticipant.societeUser.invitationToken == null %}
                            <li>{{ projetParticipant.societeUser.user.fullname }} </li>
                        {% endif %}
                    {% endfor %}

                    {% for projetObservateurExterne in projet.projetObservateurExternes %}
                        {% if projetObservateurExterne.user is not null %}
                            <li><strong>Externe</strong> : {{ projetObservateurExterne.user.fullname }} </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fiche-projet') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('fiche-projet') }}
{% endblock %}