{% extends "base.html.twig" %}

{% block title %}Projet {{ projet.acronyme }} | {{ parent() }}{% endblock %}


{% block body %}


<h1>Projet {{ projet.acronyme }}</h1>

<div class="col-md-6 mx-auto">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.dateDebut) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.dateFin) }}
        </div>

    </div>
      <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                       <button type="submit" class="btn btn-success">Générer</button>
                    </div>
                    {{ form_widget(form.format, {'attr': {'class': 'custom-select'}}) }}
                </div>
            </div>
        </div>

    {{ form_end(form) }}
</div>
<section id="timeline">
            <h2 class="facts">Faits marquants</h2>

            {% if projet.hasFaitMarquants() %}
            <ul class="timeline">
                {% for faitMarquant in projet.faitMarquants %}
                    {% if faitMarquant.trashedAt is null %}
                    <li class="event">
                        <h4 data-date="{{ faitMarquant.date|format_date }}">
                            {{ faitMarquant.date|format_date }}
                            -
                            <span>{{ faitMarquant.createdBy.user.fullname }}</span>
                        </h4>
                        <h3>{{ faitMarquant.titre }}</h3>
                        <p class="text-justify">
                            {{ faitMarquant.description|nl2br }}
                        </p>
                        <ul class="list-unstyled">
                            {% for fichierProjet in faitMarquant.fichierProjets %}
                                <li>
                                    <i class="fa {{ fichierProjet.fichier|faFileIcon }}" aria-hidden="true"></i>
                                    <a
                                        href="{{ path('app_fo_projet_fichier', {
                                            'projetId': projet.id,
                                            'fichierProjetId': fichierProjet.id
                                        }) }}"
                                    >
                                        {{ fichierProjet.fichier.nomFichier }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% else %}
                <p>Ce projet n'a pas encore de fait marquants.</p>
            {% endif %}
        </section>


{% endblock %}

