{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
    <h1>Mes projets de l'année</h1>

    <table class="table  text-center mx-auto m-5">
        <thead>
            <tr>
                <th scope="col" class="text-left">Projet</th>
                <th scope="col">Mon rôle</th>
                <th scope="col" class="d-none d-md-table-cell">Début</th>
                <th scope="col" class="d-none d-md-table-cell">Fin</th>
                <th scope="col" class="d-none d-md-table-cell">Statut</th>
                <th scope="col">Participants</th>
            </tr>
        </thead>
        <tbody>
            {% for participe in participes %}
                <tr>
                    <td scope="row" class="text-left"> <a href="{{ path('fiche_projet_', {'id': participe.projet.id}) }}">{{ participe.projet.acronyme }}</a> </td>
                    <td class="text-center">{{ participe.role|trans }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ participe.projet.dateDebut ? participe.projet.dateDebut|date('d/m/Y') : '-' }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ participe.projet.dateFin ? participe.projet.dateFin|date('d/m/Y') : '-' }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ participe.projet.statut }}</td>
                    <td class="text-center">{{ participe.projet.projetParticipants|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="button mb-4">
        <a
            class="btn btn-outline-success {{ is_granted('ROLE_FO_CDP') ? '' : 'disabled' }}"
            href="{{ path('infos_projet_') }}"
            {% if not is_granted('ROLE_FO_CDP') %}
                title="Vous devez avoir le rôle de chef de projet pour créer un nouveau projet."
            {% endif %}
        >
            <i class="fa fa-plus" aria-hidden="true"></i>
            Nouveau projet
        </a>
    </div>
{% endblock %}
