{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}

    <h1>
        Mes projets de l'année
        <span
            class="year-switch"
            data-event-name="year-changed"
            data-year-from="{{ yearMin }}"
            data-year-to="{{ yearMax }}"
        ></span>
    </h1>

    {% if is_granted(constant('App\\Security\\Role\\RoleSociete::ADMIN')) %}
        <p>
            Liste des projets auxquels je participe.
        </p>
        <p>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            En tant qu'administrateur, je peux aussi
            <a href="{{ path('app_fo_admin_projets') }}">accéder à tous les projets de la société</a>.
        </p>
    {% endif %}

    <table
        class="table table-hover text-center"
        data-toggle="table"
        data-search="true"
    >
        <thead>
            <tr>
                <th data-sortable="true" data-sorter="bySorterValue" class="text-left">Projet</th>
                <th data-sortable="true" data-sorter="bySorterValue">Mon rôle</th>
                <th class="d-none d-md-table-cell">Début</th>
                <th class="d-none d-md-table-cell">Fin</th>
                <th class="d-none d-md-table-cell">Statut</th>
                <th data-sortable="true">Participants</th>
            </tr>
        </thead>
        <tbody class="filter-projets-by-selected-year">

            {% for projet in projets %}
                <tr
                    data-year-start="{{ projet.dateDebut ? projet.dateDebut|date('Y') : '-' }}"
                    data-year-end="{{ projet.dateFin ? projet.dateFin|date('Y') : '-' }}"
                    class="position-relative"
                >
                    <td title="{{ projet.titre }}" class="text-left" data-sorter-value="{{ projet.acronyme }}"><a href="{{ path('app_fo_projet', {'id': projet.id}) }}" class="stretched-link" title="{{ projet.titre }}">{{ projet.acronyme }}</a></td>
                    <td class="text-center" data-sorter-value="{{ roleSortValue(userRoleOn(projet)) }}">{{ userRoleOn(projet)|trans }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ projet.dateDebut ? projet.dateDebut|date('d/m/Y') : '-' }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ projet.dateFin ? projet.dateFin|date('d/m/Y') : '-' }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ projet.statut }}</td>
                    <td class="text-center">{{ projet.projetParticipants|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="my-3 text-right">
        <a
            class="btn btn-outline-success {{ is_granted('SOCIETE_CDP') ? '' : 'disabled' }}"
            href="{{ path('app_fo_projet_creation') }}"
            {% if not is_granted('SOCIETE_CDP') %}
                title="Vous devez avoir le rôle de chef de projet pour créer un nouveau projet."
            {% endif %}
        >
            <i class="fa fa-plus" aria-hidden="true"></i>
            Nouveau projet
        </a>
    </div>
{% endblock %}
