{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.projects.list'|trans }}{% endblock %}

{% block body %}

    <h1>
        {{ 'my_projects_of_year'|trans }}
        <span
            class="year-switch"
            data-event-name="year-changed"
            data-year-from="{{ yearMin }}"
            data-year-to="{{ yearMax }}"
        ></span>
    </h1>

    {% if is_granted(constant('App\\Security\\Role\\RoleSociete::ADMIN')) %}
        <p>
            {{ 'list_of_projects_i_participate'|trans }}
        </p>
        <p>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            {{ 'as_admin_i_can_also_access_all_projects'|trans({
                '%link_start%': '<a href="' ~ path('app_fo_admin_projets') ~ '">',
                '%link_end%': '</a>'
            })|raw }}
        </p>
    {% endif %}

    <table
        class="table table-hover text-center stretched-link-table-row"
        data-toggle="table"
        data-search="true"
    >
        <thead>
            <tr>
                <th data-sortable="true" data-sorter="bySorterValue" class="text-left">{{ 'project'|trans }}</th>
                <th data-sortable="true" data-sorter="bySorterValue">{{ 'my_role'|trans }}</th>
                <th class="d-none d-md-table-cell">{{ 'start'|trans }}</th>
                <th class="d-none d-md-table-cell">{{ 'end'|trans }}</th>
                <th class="d-none d-md-table-cell">{{ 'status'|trans }}</th>
                <th data-sortable="true">{{ 'participants'|trans }}</th>
            </tr>
        </thead>
        <tbody class="filter-projets-by-selected-year">

            {% for projet in projets %}
                <tr
                    data-year-start="{{ projet.dateDebut ? projet.dateDebut|date('Y') : '-' }}"
                    data-year-end="{{ projet.dateFin ? projet.dateFin|date('Y') : '-' }}"
                >
                    <td class="text-left" data-sorter-value="{{ projet.acronyme }}"><a href="{{ path('app_fo_projet', {'id': projet.id}) }}" class="stretched-link" title="{{ projet.titre }}">{{ projet.acronyme }}</a></td>
                    <td class="text-center" data-sorter-value="{{ roleSortValue(userRoleOn(projet)) }}">{{ userRoleOn(projet)|trans }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ projet.dateDebut ? projet.dateDebut|date('d/m/Y') : '-' }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ projet.dateFin ? projet.dateFin|date('d/m/Y') : '-' }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ projet.statut }}</td>
                    <td class="text-center">{{ projet.projetParticipants|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="my-3 text-right">
        <a
            class="btn btn-outline-success {{ is_granted('SOCIETE_CDP') ? '' : 'disabled' }}"
            href="{{ path('app_fo_projet_creation') }}"
            {% if not is_granted('SOCIETE_CDP') %}
                title="{{ 'create_project_requires_project_manager_role'|trans }}"
            {% endif %}
        >
            <i class="fa fa-plus" aria-hidden="true"></i>
            {{ 'menu.projects.create'|trans }}
        </a>
    </div>
{% endblock %}
