{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
    <h1>Mes projets de l'année</h1>

    <table class="table  text-center mx-auto m-5">
        <thead>
            <tr>
                <th scope="col" style="text-align: start; ">Titre réduit</th>
                <th scope="col">Mon rôle</th>
                <th scope="col" class="d-none d-md-table-cell">Début</th>
                <th scope="col" class="d-none d-md-table-cell">Fin</th>
                <th scope="col" class="d-none d-md-table-cell">Statut</th>
                <th scope="col">Participants</th>
            </tr>
        </thead>
        <tbody>
            {% for participe in participes %}
                <tr>
                    <td scope="row" style="text-align: start;"> <a href="{{ path('fiche_projet_', {'id': participe.projet.id}) }}">{{ participe.projet.acronyme }}</a> </td>
                    <td class="text-center">{{ participe.role|trans }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ participe.projet.dateDebut ? participe.projet.dateDebut|date('d/m/Y') : '-' }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ participe.projet.dateFin ? participe.projet.dateFin|date('d/m/Y') : '-' }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ participe.projet.statutProjet.libelle }}</td>
                    <td class="text-center">{{ participe.projet.projetParticipants|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="button mb-4" style="text-align: end">
        <a href="{{ path('infos_projet_') }}"><input type="button" class="btn btn-success new_project" value="Nouveau Projet"
            {% if not is_granted('ROLE_FO_CDP') %}
                disabled
                title="Vous devez avoir le rôle de chef de projet pour créer un nouveau projet."
            {% endif %}
        ></a>
    </div>
{% endblock %}
