{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
<style>
    .title {display: flex; justify-content: space-between; }
    .select {display: flex; align-items: center; }
    a:hover {text-decoration: none; color: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); }
    h1, td a {color: black; }
    .table thead th {background-color: #ce352c; color: white; }
    tr, td {background-color: #e6e6e6; }
</style>

<div class="container">
    <div class="title">
        <div class="subtitle">
            <label for="bday-month"><h1 class="text-center mt-4" style="color: #ce352c;">Mes projets de l'année </h1></label>
        </div>
        <div class="select">
            <select name="select" class="form-control" id="dropdownYear" style="height: 43%; margin-top: 11%;"; onchange="getProjectReportFunc()"></select>
        </div>                   
    </div>
    
    <table class="table  text-center mx-auto m-5">
        <thead>
            <tr>
                <th scope="col" class="">PROJETS</th>
                <th scope="col" class="">Début</th>
                <th scope="col" class="">Fin</th>
                <th scope="col" class="">Statut</th>
                <th scope="col" class="">Participants</th>
            </tr>
        </thead>
        {% for projet in liste_projets %}
            <tbody>
                <tr>
                    <td scope="row" class="text-center"> <a href="{{ path('fiche_projet_') }}">{{ projet.titre }}</a> </td>
                    <td class="text-center">{{ projet.dateDebut|date('d/m/Y') }}</td>  
                    <td class="text-center">{{ projet.dateFin|date('d/m/Y') }}</td>
                    <td class="text-center">{{ projet.statutProjet.libelle }}</td>
                    <td class="text-center">{{ projet.participantsProjet|length }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

    <div class="button mb-4" style="text-align: end">
        <a href="{{ path('infos_projet_') }}"><input type="button" class="btn btn-success new_project" value="Nouveau Projet">
    </div>

</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#dropdownYear').each(function() {
            var year = (new Date()).getFullYear();
            var current = year;
            // year += 4;
            for (var i = 0; i < 5; i++) {
            if ((year+i) == current)
                $(this).append('<option selected value="' + (year - i) + '">' + (year - i) + '</option>');
            else
                $(this).append('<option value="' + (year - i) + '">' + (year - i) + '</option>');
            }
        })
    </script>
{% endblock %}
