{% extends 'base.html.twig' %}

{% block title %}{{ 'planning'|trans({'projectAcronyme': projet.acronyme}) }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'planning'|trans({'projectAcronyme': projet.acronyme}) }}</h1>

    <a class="d-block mb-4" href="{{ path('app_fo_projet', {id: projet.id}) }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        {{ 'go_back_go_project'|trans }}
    </a>

    {% if projet.projetPlanning %}

        <p class="mb-1">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            Date de création : {{ projet.projetPlanning.createdAt|format_datetime }}
        </p>
        {% if projet.projetPlanning.updatedAt %}
            <p>
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                Date de la dernière mise à jour : {{ projet.projetPlanning.updatedAt|format_datetime }}
            </p>
        {% endif %}

    {% endif %}

    <div class="header gantt-demo-header">
        <ul class="gantt-controls">
            <li class="gantt-menu-item"><a data-action="collapseAll"><img src="{{ asset('build/assets/js/dhtmlx-gantt/icons/ic_collapse_all_24.png') }}"></a></li>
            <li class="gantt-menu-item gantt-menu-item-last"><a data-action="expandAll"><img src="{{ asset('build/assets/js/dhtmlx-gantt/icons/ic_expand_all_24.png') }}"></a></li>
            <li class="gantt-menu-item gantt-menu-item-right gantt-menu-item-last"><a><img src="{{ asset('build/assets/js/dhtmlx-gantt/icons/ic_export_24.png') }}">Export</a>
                <ul class="gantt-controls">
                    <li class="gantt-menu-item"><a data-action="toPDF"><img src="{{ asset('build/assets/js/dhtmlx-gantt/icons/ic_file_pdf.png') }}">PDF</a></li>
                    <li class="gantt-menu-item"><a data-action="toPNG"><img src="{{ asset('build/assets/js/dhtmlx-gantt/icons/ic_file_png.png') }}">PNG</a></li>
                    <li class="gantt-menu-item"><a data-action="toExcel"><img src="{{ asset('build/assets/js/dhtmlx-gantt/icons/ic_file_xlsx.png') }}">Excel</a></li>
                    <li class="gantt-menu-item"><a data-action="toMSProject"><img src="{{ asset('build/assets/js/dhtmlx-gantt/icons/ic_file_xml.png') }}">MS Project</a></li>
                </ul>
            </li>
            <li class="gantt-menu-item gantt-menu-item-right gantt-menu-item-last"><a data-action="zoomIn"><img src="{{ asset('build/assets/js/dhtmlx-gantt/icons/ic_zoom_in.png') }}">Zoom In</a></li>
            <li class="gantt-menu-item gantt-menu-item-right gantt-menu-item-last"><a data-action="zoomOut"><img src="{{ asset('build/assets/js/dhtmlx-gantt/icons/ic_zoom_out.png') }}">Zoom Out</a></li>
        </ul>
    </div>
    <div id="project_planning_content" data-societe-raison-sociale="{{ projet.societe.raisonSociale }}" data-project-id="{{ projet.id }}" data-project-acronyme="{{ projet.acronyme }}" data-can-edit="{{ userCanEditProjet ? 1 : 0 }}"></div>

{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('projet-gantt') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('projet-gantt') }}
    {% endblock %}