{% extends 'base.html.twig' %}

{% block title %} Ajouter un nouveau projet{% endblock %}

{% block body %}
<style>
	#users div{margin-bottom: 30px; }
    .btn-success{color: white; background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); border: none; }
	.form-group.row {justify-content: space-around; }
	input#projet_form_projet_collaboratif {position: relative; left: -104.56%; }
	input#projet_form_projet_ppp {position: relative; left: -103.95%; }
	input#projet_form_projet_interne {position: relative; left: -104%; }
</style>

<section style="min-height: 1000px;">
    <div class="container">
    	<div class="col-lg-6 mx-auto">
    		<h1 class="text-center mt-4 mb-4" style="color: #ce352c;">Ajouter un nouveau projet</h1>
    		{% for message in app.flashes('info') %}
    			<div class="alert alert-success text-center">
    				{{ message }}
    			</div>
    		{% endfor %}
            
    		{{ form_start(form) }}		
    			{{ form_row(form.acronyme) }}
                {{ form_row(form.titre) }}
    			{{ form_row(form.resume) }}
    			{{ form_row(form.chefDeProjet) }}
				<div class="form-group row mt-3">
    				{{ form_row(form.date_debut) }}
    				{{ form_row(form.date_fin) }}
				</div>
    			{# {{ form_row(form.statuts_projet) }} #}
				<div class="row">
					<label class="col-form-label pt-0 mt-3" style="position: relative; left: 3%;">Type de projet</label>
					<div class="row" style="position: relative; left: 6%;">
    					{{ form_row(form.projet_collaboratif) }}
                		{{ form_row(form.projet_ppp) }}
                		{{ form_row(form.projet_interne) }}
					</div>
				</div>
                <div class="form-group row">
				    <div class="form-group mt-5">
    			        <a href="" class="btn btn-danger">Annuler</a>
    			    </div>
    			    {{ form_row(form.ajouter) }}
    			</div>
			{{ form_end(form) }} 	
    	</div>
    </div>
</section>
	
{% endblock %}
