{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau projet | {{ parent() }}{% endblock %}

{% block body %}

<h1>Ajouter un nouveau projet</h1>

<div class="col-lg-6 mx-auto">
	{{ form_start(form) }}
	{{ form_errors(form) }}

        {{ form_row(form.acronyme) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.resume) }}

		<div class="d-md-flex justify-content-between">
        	{{ form_row(form.dateDebut) }}
        	{{ form_row(form.dateFin) }}
		</div>

        {{ form_row(form.projetUrls) }}

        <button class="btn btn-outline-primary add-external-link mb-4">
            <i class="fa fa-plus" aria-hidden="true"></i>
            {{ 'add_external_link'|trans }}
        </button>

        {{ form_row(form.projetInterne) }}
        {{ form_row(form.projetPpp) }}
        {{ form_row(form.projetCollaboratif) }}

		<div class="text-center">
        	{{ form_row(form.submit, { 'label' : bouton }) }}
		</div>

	{{ form_end(form) }}
</div>

{% endblock %}
