{% extends 'bo/base.html.twig' %}

{% block body %}

<h1>Sociétés</h1>

<table class="table">
    <thead>
        <tr>
            <th>Société</th>
            <th>Administrateurs</th>
            <th>Utilisateurs</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for societe in societes %}
            <tr>
                <td><a href="{{ path('app_bo_societe', {'id': societe.id}) }}">{{ societe.raisonSociale }}</a></td>
                <td>{{ societe.admins|map(user => "#{user.fullnameOrEmail}")|join(', ') }}</td>
                <td>{{ societe.users|length }}</td>
                <td>
                    {% if not hasActiveLicense(societe) or hasQuotaOverflow(societe) %}
                        <span class="text-warning" title="Cette société n'a pas de license active, ou les quotas sont dépassés.">
                            <i class="fa fa-warning" aria-hidden="true"></i>
                            License
                        </span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_bo_societes_creer') }}" class="btn btn-outline-primary">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Créer une nouvelle société
</a>

{% endblock %}
