{% extends 'bo/base.html.twig' %}

{% block body %}

    <h1>Société {{ societe.raisonSociale }}</h1>

    <ul>
        <li>Créée le <strong>{{ societe.createdAt|format_datetime }}</strong></li>
        {% if societe.createdFrom %}
            <li>Créée depuis : <strong>{{ societe.createdFrom|trans }}</strong></li>
        {% endif %}
        {% if societe.createdBy %}
            <li>Créée par <strong>{{ societe.createdBy.fullname }}</strong></li>
        {% endif %}
    </ul>

    <a class="d-block mb-4" href="{{ path('corp_app_bo_societes') }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Retourner à la liste des sociétés
    </a>

    <h3>Administrateurs</h3>

    <table class="table datatable mb-3 hover" data-info="false" data-paging="false">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email / Tel</th>
            <th>Statut</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for admin in societe.admins %}
            <tr>
                <td>{{ admin.user.fullname }}</td>
                <td>
                    {% if admin.user.email %}
                        {{ admin.user.email }} <br>
                    {% endif %}
                    {{ admin.user.telephone|phone_number_rdi }}
                </td>
                <td>
                    {% if admin.invitationToken %}
                        En attente de finalisation d'inscription
                        <small class="d-block">
                            Url d'invitation :
                            <strong class="d-block"><code>{{ url('corp_app_fo_user_finalize_inscription', {'token': admin.invitationToken}) }}</code></strong>
                        </small>
                    {% else %}
                        Actif
                    {% endif %}
                </td>
                <td>
                    {% if admin.invitationToken %}
                        <form
                                method="post" class="mb-2"
                                action="{{ path('corp_app_bo_societe_invite_delete', {'societeId': societe.id, 'societeUserId': admin.id}) }}"
                                onsubmit="return confirm('Supprimer cette invitation ?');"
                        >
                            <button type="submit" class="btn btn-sm btn-warning">Supprimer l'invitation</button>
                            <input type="hidden" name="token" value="{{ csrf_token('delete-invitation-admin') }}"/>
                        </form>
                        <form
                                method="post"
                                action="{{ path('corp_app_bo_societe_invite', {'societeId': societe.id, 'societeUserId': admin.id}) }}"
                                onsubmit="return confirm('Envoyer un email d\'invitation à cet administrateur ?');"
                        >
                            <button type="submit" class="btn btn-sm btn-info">Envoyer un email d'invitation</button>
                            <input type="hidden" name="token" value="{{ csrf_token('send-invitation-admin') }}"/>
                        </form>

                        <small>
                            {% if admin.invitationSentAt %}
                                <i>Dernière invitation envoyée le <b>{{ admin.invitationSentAt|format_datetime }}</b>.</i>
                            {% else %}
                                <i class="text-danger"><b>Invitation pas encore envoyée !!</b></i>
                            {% endif %}
                        </small>
                    {% endif %}
                </td>
                <td class="d-flex justify-content-end">
                    {% if not admin.invitationToken and is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                        <a href="{{ path('app_home', {'_switch_user': admin.user.email }) }}" class="btn-rdi-icon">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'bo/societes/_form-add-admin.html.twig' %}

    <h3>Licences</h3>

    {% include 'corp_app/licenses/_societe-quotas.html.twig' %}

    {% include 'corp_app/licenses/_licenses-table.html.twig' with {
        'entity': societe,
        'downloadRoute': 'corp_app_bo_license_download',
    } %}

    {% include 'bo/societes/_form-choose-product.html.twig' %}

    <h3>Notifications d'onboarding</h3>

    {% include 'bo/societes/_form-onboarding-notification-every.html.twig' %}

{% endblock %}
