{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}{{ projetEvent.createdBy.user.fullname }} vous a invité à un évènement sur le projet {{ projetEvent.projet.acronyme }}{% endblock %}
{% block body %}
    <row>
        <columns>
            <p>
                Un nouveau évènement a été créé par <strong>{{ projetEvent.createdBy.user.fullname }}</strong>
                sur le projet <strong>{{ projetEvent.projet.acronyme }}</strong>
            </p>

            <spacer size="8"></spacer>

            <h3>{{ projetEvent.text }}</h3>

            <p>
                {{ projetEvent.description|raw }}
            </p>
            <br>
            <h4>Les invités</h4>
            <ul>
                {% for projetEventParticipants in projetEvent.projetEventParticipants %}
                    <li>{{ projetEventParticipants.participant.societeUser.user.fullname }}</li>
                {% endfor %}
            </ul>

            <spacer size="8"></spacer>

            <small>
                <a href="{{ url('app_fo_projet_events', {
                    projetId : projetEvent.projet.id,
                    'event' : projetEvent.id,
                }) }}">
                    Cliquez-ici afin de consulter en détails l'évènement directement sur l'application RDI Manager.
                </a>
            </small>
        </columns>
    </row>
{% endblock %}
