{% extends 'base.html.twig' %}

{% block title %}Inviter un observateur externe sur {{ projet.acronyme }} | {{ parent() }}{% endblock %}

{% block body %}

<h1>Inviter un observateur externe</h1>

<h2>Sur votre projet {{ projet.acronyme }}</h2>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <p>
            Saisissez l'email ou le numéro de téléphone portable de l'observateur que vous souhaitez inviter.
            Il recevra un lien d'invitation qu'il pourra accepter pour obtenir
            l'<strong>accès observateur externe sur votre projet {{ projet.acronyme }}</strong>.
        </p>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.invitationEmail) }}
        {{ form_row(form.invitationTelephone) }}

        <button
            class="btn btn-success"
            type="submit"
        >Inviter en tant qu'observateur externe</button>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
