{% extends 'base.html.twig' %}

{% block title %}{{ "invite-obs-ext"|trans }} {{ projet.acronyme }} | {{ parent() }}{% endblock %}

{% block body %}

<h1>{{ "invite-obs-ext"|trans }}</h1>

<h2>{{ "your-project"|trans }} {{ projet.acronyme }}</h2>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <p>{{ "para-invite-obs"|trans }}</p>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.invitationEmail) }}
        {{ form_row(form.invitationTelephone) }}

        <button
            class="btn btn-success"
            type="submit"
        >{{ "invite-obs-ext-2"|trans }}</button>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
