{% extends 'base.html.twig' %}

{% block title %}{{ 'join-project'|trans }} {{ projetObservateurExterne.projet.acronyme }} | {{ parent() }}{% endblock %}

{% block body %}

<h1>{{ 'join-project'|trans }} {{ projetObservateurExterne.projet.acronyme }}</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <p>{{ 'para-join-project'|trans }}</p>

        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('invitation_join_projet_observateur_externe') }}" />
            <button type="submit" class="btn btn-lg btn-success">{{ "join-project-obs"|trans }}</button>
        </form>
    </div>
</div>

{% endblock %}
