{% extends "base.html.twig" %}

{% block title %}Projets externe | {{ parent() }}{% endblock %}

{% block body %}

<h1>Projets externes</h1>

<p>Liste des projets dont j'ai un accès en tant qu'observateur externe.</p>

<table class="table datatable hover text-center">
    <thead>
        <tr>
            <th class="text-left">Projet</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Statut</th>
            <th>Participants</th>
        </tr>
    </thead>
    <tbody class="filter-projets-by-selected-year">
        {% for projetObservateurExterne in projetObservateurExternes %}
            {% set projet = projetObservateurExterne.projet %}
            <tr>
                <td class="text-left" data-sorter-value="{{ projet.societe.raisonSociale ~ '/' ~ projet.acronyme }}">
                    <a title="{{ projet.titre }}"
                       href="{{ path('app_fo_observateur_externe_view', {'id': projet.id}) }}">
                        {{ projet.societe.raisonSociale }} / {{ projet.acronyme }}
                    </a>

                </td>
                <td>{{ projet.dateDebut ? projet.dateDebut|date('d/m/Y') : '-' }}</td>
                <td>{{ projet.dateFin ? projet.dateFin|date('d/m/Y') : '-' }}</td>
                <td>{{ projet.statut }}</td>
                <td>{{ projet.projetParticipants|length }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

