{% extends 'bo_base.html.twig' %}

{% block title %}Licences distribuées | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Licences distribuées</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">Société</th>
                <th scope="col" class="text-center">Personne</th>
                <th scope="col" class="text-center">Statut</th>
                <th scope="col" class="text-center">Action</th>
                <th scope="col" class="text-center">Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for licence in licences_distribuees %}
                    <tr>
                        <td class="text-center">{{ licence.societe.raisonSociale }}</td>
                        <td class="text-center">{{ licence.personne }}</td>
                        <td class="text-center">{{ licence.statut }}</td>
                        <td class="text-center">{{ licence.action }}</td>
                        <td class="text-center">{{ licence.statut }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
